[2014-02-27 16:56] wfalcao opened #1 "PRE CONDIÇÕES"
QUANTO A TELA INICIAL DEVEREMOS CRIAR UMA TELA PARA SELEÇÃO DO PLEITO OU VAMOS ACESSAR O SCM ATRAVÉS DE OUTRA APLICAÇÃO?

[2014-02-27 17:01] wfalcao opened #2 "FLUXO ALTERNATIVO 1"
O QUE DIFERE O FLUXO BÁSICO DO FLUXO ALTERNATIVO 1 É APENAS A RN5, JÁ QUE SERÃO ACESSADO PELA MESMA OPÇÃO?

O FLUXO ALTERNATIVO NÃO DEVERIA SER ACESSADO POR OUTRA OPÇÃO DE MENU COMO POR EXEMPLO CONSULTAR MRV E O FLUXO BÁSICO CADASTRAR MRV?
(O SISTEMAS SÓ TERÁ UM MENU?)

FB1
O caso de uso se inicia quando o ator seleciona a opção Gerenciar a Configuração de Mesa Receptora de Votos no menu principal

[2014-02-27 17:01] wfalcao opened #3 "FLUXO ALTERNATIVO 3"
COMO SABEREMOS SE EXISTE ALGUM ELEITOR VINCULADO (QUAL SISTEMA/APLICAÇÃO/BASE DEVEMOS VERIFICAR/ATUALZIAR)?

QUAIS SÃO AS NECESSIDADE QUE O ATOR PODE ALTERAR NO CASO DE ALTEAÇÃO DA MESA?

[2014-02-27 17:03] wfalcao opened #4 "LOG"
COMO DEVERÁ SER A POLITICA DE LOG?

(ONDE O MESMO DEVERÁ SER SALVO/ARMAZENADO)

[2014-03-05 17:37] danimendonca commented on #2
O Fluxo Básico (FB) é o fluxo de configuração, considerando que ainda não exista nada configurado para aquela MRV.
O Fluxo Alternativo (FA1) é o fluxo de consulta, onde o ator irá consultar as configurações realizadas no fluxo básico. O FA1 apresenta as opções de alterar e excluir que, quando selecionadas pelo ator, irá encaminha-lo para os fluxos FA2 e FA3, respectivamente.

O sistema terá apenas

[2014-03-05 17:40] danimendonca commented on #3
A atribuição será feita pelo SCM através do caso de uso "Atribuir Função Eleitoral".

A base utilizada é do próprio SCM.

O ator poderá alterar a qualquer momento a configuração da MRV, independente de eleitores atribuídos (verificar regras descritas no documento RMG_SCM).

[2014-03-05 17:42] danimendonca commented on #4
A princípio, será armazenado na base de dados do SCM.
Neste primeiro momento não temos uma funcionalidade para consultar o log, mas foi solicitado que as operações inclusão, alteração e exclusão grave o log,

[2014-03-05 17:44] danimendonca commented on #1
Existe uma funcionalidade (Consultar Pleito) onde todos os acessos, através de menu, serão disponibilizados a partir da consulta do Pleito.
Todos os casos de uso terão início a partir da seleção do Pleito no caso de uso CDU_SCM_036_Consultar Pleito.

[2014-04-03 18:09] marasb opened #5 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_Falta o nome do sistema na tela."
Na tela Configuração de Mesa Receptora de Votos não está sendo apresentado o nome do sistema "Sistema de Configuração de Mesários - SCM".
Esse título deve aparecer centralizado e em negrito.
Favor verificar a tela no caso de uso.

[2014-04-03 18:13] marasb opened #6 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_O título Configuração de Mesa Receptora de Votos não está centralizado"
Na tela Configuração de Mesa Receptora de Votos o título "Configuração de Mesa Receptora de Votos" não está centralizado e em negrito, porém no caso de uso esse título aparece em negrito e centralizado.

[2014-04-03 18:15] marasb opened #7 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_Os botões não estão centralizados"
Na tela Configuração de Mesa Receptora de Votos os botões "Voltar", "Limpar" e "Salvar", não está centralizado, porém no caso de uso esses botões aparecem centralizados.

[2014-04-03 18:19] marasb opened #8 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_Centralização das informações da tela"
As informações UF, Zona Eleitoral, Pleito Eleitoral e Funções Eleitorais no caso de uso aparecem centralizadas na tela, porém na aplicação estão alinhadas à esquerda.

Favor verificar a formatação da tela no caso de uso.

[2014-04-03 18:20] #1 closed, assigned to nobody

[2014-04-03 18:21] #2 closed, assigned to nobody

[2014-04-03 18:21] #3 closed, assigned to nobody

[2014-04-03 18:21] #4 closed, assigned to nobody

[2014-04-03 18:21] marasb opened #9 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Retirar a informação * Campos obrigatórios"
No caso de uso não está descrita a informação "\* Campos obrigatórios ", porém na aplicação aparece essa informação antes dos botões.
Favor retirar a informação "\* Campos obrigatórios " da tela.

[2014-04-03 18:47] marasb opened #10 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ O sistema permite editar as funções eleitorais"
O sistema está permitindo mover as funções eleitorais Presidente, 1º
Mesário, 2º Mesário e 1º Secretário da coluna Selecionadas para a coluna Disponíveis.
A regra de negócio RN1 define : "...Como default o sistema deverá apresentar as seguintes funções:
• Presidente
• 1º Mesário
• 2º Mesário
• 1º Secretário
pré-selecionadas e sem a possibilidade de edição pelo ator."

Foi observado que quando o us

[2014-04-03 18:53] marasb opened #11 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_Mensagem "Confirma operação" incorreta"
Ao realizar a configuração da MRV e acionar o botão "Salvar", foi observado que o sistema apresenta a mensagem "Confirma operação?", porém no caso de uso não está definido esse passo de apresentação dessa mensagem. Também não foi identificada essa mensagem no documento de mensagens.

[2014-04-03 19:15] marasb opened #12 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Erro tela inicial"
Ao selecionar a opção "Mesa Receptora de Votos" o sistema está apresentando inicialmente a tela de exclusão e não apresenta os campos UF, Zona Eleitoral, Pleito Eleitoral preenchidos.
O correto é aparecer a tela de inclusão primeiro com as informações  UF, Zona Eleitoral, Pleito Eleitoral preenchidas.

![erro_tela inicial](https://cloud.githubusercontent.com/assets/6304414/2607909/24e9f89e-bb64-11

[2014-04-03 19:58] marasb opened #13 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_Erro tela de detalhe"
A tela de de consulta de configuração de MRV está totalmente divergente em termo de layout em relação a tela definida no caso de uso.

[2014-04-03 20:21] jadossantos commented on #9
Alterado.

[2014-04-03 21:43] jadossantos commented on #5
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-03 21:47] jadossantos commented on #5
O Título já foi inserido.

[2014-04-03 21:47] jadossantos commented on #6
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-03 21:47] jadossantos commented on #7
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-03 21:48] jadossantos commented on #8
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-03 21:49] jadossantos commented on #13
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-03 23:20] jadossantos commented on #11
Feito.

[2014-04-03 23:22] jadossantos commented on #12
Os ambientes de desenvolvimento e teste estavam compartilhando o mesmo banco de dados.

[2014-04-03 23:23] jadossantos commented on #10
O componente do primefaces não tem tal comportamento. É necessário ajustar a documentação para uma nova solução, por exemplo, a implementada atualmente.

[2014-04-04 13:19] marasb commented on #9
Defeito corrigido.

[2014-04-04 13:19] #9 closed, assigned to nobody

[2014-04-04 13:19] marasb commented on #11
Defeito corrigido.

[2014-04-04 13:19] #11 closed, assigned to nobody

[2014-04-04 13:20] marasb commented on #12
Defeito corrigido.

[2014-04-04 13:20] #12 closed, assigned to nobody

[2014-04-04 13:29] marasb commented on #10
Vera.
Favor avaliar a possibilidade de alteração da documentação, para atender o comportamento atual do sistema.

[2014-04-04 13:44] VeraNakamura commented on #10
Mara,
Assim que o Gestor chegar vou comunicar a impossibilidade de "travar" as funções.
Após alteração do documento aviso vocês.

Joel sugiro que para os próximos casos de uso, vocês façam uma análise antes, pois os Gestores estão solicitando vários comportamentos que eu não sei se os componentes permitem. Como exemplo: os Gestores estão solicitando que a ordenação de uma lista seja feita após o "

[2014-04-04 13:45] marasb opened #14 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Desalinhamento dos Campos"
Os labels dos campos UF, Zona Eleitoral, Pleito Eleitoral e Funções Eleitorais não estão alinhados aos seus respectivos conteúdos, ou seja, os labels estão alinhados à esquerda e o conteúdo centralizado.
Vide anexo.
![errro_desalinhamento dos campos](https://cloud.githubusercontent.com/assets/6304414/2615858/479fc47c-bbff-11e3-9a0e-862e277deac9.jpg)

[2014-04-04 13:50] marasb opened #15 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Desalinhamento dos Campos na tela Detalhar"
Os labels dos campos UF, Zona Eleitoral, Pleito Eleitoral e Funções Eleitorais não estão alinhados aos seus respectivos conteúdos, ou seja, os labels estão alinhados à esquerda e o conteúdo centralizado.
No caso de uso esses campos estão centralizados.
![errro_desalinhamento dos campos tela detalhar](https://cloud.githubusercontent.com/assets/6304414/2615911/0363a1ec-bc00-11e3-9a6d-dfa46828efc0.jp

[2014-04-04 13:51] jadossantos commented on #14
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-04 13:51] jadossantos commented on #15
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-04 13:59] marasb opened #16 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Falta perfil 'TRE' para realizar os testes"
O usuário disponibilizado para os testes é perfil "Zona Eleitoral", sendo assim não consigo validar a tela de perfil "TRE", que possui outro comportamento, conforme definido no caso de uso.
Como devo proceder para testar o outro perfil.

[2014-04-04 14:06] marasb opened #17 "CDU_SPCA_024_Manter_Origem_de_Recurso_Validação da regra de negócio RN3"
A regra de negócio RN3. Registro de log define:
"O sistema fará o registro de acesso em algumas funcionalidades (incluir, alterar e excluir) do SCM, devendo gravar:
• Matrícula;
• Usuário;
• Informações incluídas, alteradas e/ou excluídas;
• Data da operação;
• Hora da operação;
• IP da máquina.
"
O Registro de Log foi implementado e como devo proceder para validar?

[2014-04-04 14:30] jadossantos commented on #16
A implementação de Autenticação, LOG e Perfil ainda está pendente, por falta de definição.

[2014-04-04 14:30] jadossantos commented on #17
A implementação de Autenticação, LOG e Perfil ainda está pendente, por falta de definição.

[2014-04-04 14:46] marasb opened #18 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_As funções eleitorais não estão ordenadas conforme caso de uso."
Foi observado que na tela de inclusão/altearção as funções eleitorais não estão ordenadas conforme o caso de uso e regra de negócio.
Na aplicação está ordenado da seguinte forma:
Selecionadas
1º MESÁRIO
1º SECRETÁRIO
2º MESÁRIO
PRESIDENTE DE MESA

Disponíveis
2º SECRETÁRIO
SUPLENTE

De acordo com o caso de uso e regra de negócio as funções eleitorais devem ser ordenado da seguinte forma:
Seleciona

[2014-04-04 14:49] marasb commented on #17
Vera,
De acordo com o Joel, a implementação do registro de LOG ainda está pendente por falta de definição.
Sendo assim não temos como testar esse item agora.
A documentação vai continuar fazendo referência ao registro de LOG?

[2014-04-04 14:50] marasb commented on #16
Vera,
Conforme informado pelo Joel a parte de perfil ainda está pendente por falta de definição.
Nesse caso não tenho como testar a tela do perfil TRE, nós vamos entregar assim mesmo sem essa validação?

[2014-04-04 14:54] jadossantos commented on #10
Ok. Iremos melhorar esse processo.

[2014-04-04 14:55] marasb opened #19 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Divergência na documentação em relação ao nome do presidente."
Vera,
Existem divergências no nome da função eleitoral Presidente de Mesa nas documentações.
Na tela do caso de uso está descrito a função "Presidente de mesa".
Na descrição dos campos está descrito "Presidente da Mesa Receptora".
Na regra de negócio está descrito Presidente.

Sugiro que o nome da função eleitoral seja padronizado.

[2014-04-04 15:01] jadossantos commented on #18
A lista foi ordenada.

[2014-04-04 17:22] VeraNakamura commented on #16
Mara,
Quanto ao log, neste momento o pessoal da SECAD está definindo a que nível será feita a auditoria, portanto é uma regra que neste momento não deve ter sido implementada, mesmo existindo no uc. Após definição será retirada ou não.
Quanto ao perfil TRE pelo que eu entendo deve ter sido criado este perfil para testes.

[2014-04-04 17:24] VeraNakamura commented on #17
Mara,
Está pendente de definição da SECAD, após definição saberemos se será retirada a regra ou não.
Enviarei um e mail para ver se isso já foi definido.

[2014-04-04 17:38] marasb opened #20 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Formatação da tela detalhar"
Na tela detalhar o sistema está apresentando uma borda ao redor das funções eleitorais selecionadas, porém no caso de uso essa borda não existe.

Também na tela detalhar, as funções eleitorais não estão no mesmo alinhamento da primeira função. No caso de uso a primeira função está na frente do label "Funções Eleitorais Selecionadas" e as demais funções estão abaixo da primeira, porém no mesmo recu

[2014-04-04 17:44] marasb commented on #16
Joel,

Tem como criar um perfil TRE para teste?

[2014-04-04 18:30] marasb opened #21 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Erro breadcrumb"
Ao selecionar a tela Home, o bradcrumb (caminho) está sendo apresentado :Você está em: Login > ???primeiro nivel???.

Deve ser retirado o "???primeiro nivel???." e inserir a palavra Home, porém como já está na página Home, então a palavra não deve possuir link.

[2014-04-04 18:44] marasb commented on #18
Defeito corrigido.

[2014-04-04 18:44] #18 closed, assigned to nobody

[2014-04-04 18:52] jadossantos commented on #16
Estamos configurando o Odin. Anderson nos passou a instrução e após essa configuração iremos liberar uma nova versão.

[2014-04-04 18:53] jadossantos commented on #20
O padrão (css) do layout do sistema ainda não foi definido. Entramos em contato com o responsável da criação do CSS e estamos aguardando uma resposta. Iremos tratar isso como uma melhoria.

[2014-04-04 18:54] jadossantos commented on #21
Essa tela não existe no caso de uso e criamos para facilitar a navegação. E ainda não existe a tela de autenticação.

[2014-04-07 17:59] marasb commented on #21
Erro fechado, devido a justificativa do Joel.

[2014-04-07 17:59] #21 closed, assigned to nobody

[2014-04-08 14:11] marasb commented on #5
O título foi inserido corretamente.
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:11] #5 closed, assigned to nobody

[2014-04-08 14:12] marasb commented on #6
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:12] #6 closed, assigned to nobody

[2014-04-08 14:13] marasb commented on #7
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:13] #7 closed, assigned to nobody

[2014-04-08 14:13] marasb commented on #8
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:13] #8 closed, assigned to nobody

[2014-04-08 14:14] marasb commented on #14
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:14] #14 closed, assigned to nobody

[2014-04-08 14:15] marasb commented on #15
Em relação à centralização dos campos na tela, não precisa mais ser feito, visto que o Layout deve seguir o padrão do SPCA e SJUR e nesses sistemas os campos são alinhados à esquerda.
Já conversei com a Vera em relação a essa situação e ela concordou.
Sendo assim o bug será fechado.

[2014-04-08 14:15] #15 closed, assigned to nobody

[2014-04-08 14:37] marasb commented on #20
Nesse bug o recuo deve ser corrigido para manter o mesmo alinhamento de todas as funções.
A borda deve ser retirada para manter o padrão com os demais sistemas SPCA e SJUR.

![erro_alinhamento e borda tela detalhar](https://cloud.githubusercontent.com/assets/6304414/2644697/195c5006-bf2b-11e3-818f-5b0965d4238b.png)

[2014-04-08 14:38] marasb commented on #13
Esse bug será fechado, pois foi aberto um bug mais detalhado para esse item. (20)

[2014-04-08 14:38] #13 closed, assigned to nobody

[2014-04-08 15:02] marasb opened #22 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos_ Ajustar cabeçalho"
Foi observado que o cabeçalho do sistema está divergente do padrão SPCA e SJUR, sendo assim, sugiro que seja alterado para ficar adequado aos demais sistemas do TSE.
![erro_cabealho scm](https://cloud.githubusercontent.com/assets/6304414/2645076/b035d4b8-bf2e-11e3-9301-0a8217ebd4fc.png)
![cabealho - sjur e spca](https://cloud.githubusercontent.com/assets/6304414/2645082/b96496dc-bf2e-11e3-9286-a81

[2014-04-08 16:55] rsantanam commented on #22
Resolvido.
Versão 1.0.1

[2014-04-08 16:56] rsantanam commented on #20
Resolvido.
Versão 1.0.1

[2014-04-08 17:48] jadossantos commented on #16
Resolvido.
Versão 1.0.1

![scm tela para selecionar perfil](https://cloud.githubusercontent.com/assets/7116054/2647021/fa74732e-bf45-11e3-9264-f89df103f84b.png)

Criamos alguns botões para simular a atribuição do perfil ao usuário logado.

[2014-04-08 18:44] marasb commented on #16
Corrigido. Versão 1.0.1

[2014-04-08 18:44] #16 closed, assigned to nobody

[2014-04-08 18:45] marasb commented on #20
Corrigido na versão 1.0.1.

[2014-04-08 18:45] #20 closed, assigned to nobody

[2014-04-08 18:45] marasb commented on #22
Defeito corrigido na versão 1.0.1.

[2014-04-08 18:45] #22 closed, assigned to nobody

[2014-04-09 19:56] VeraNakamura commented on #19
Mara,
Os documentos foram corrigidos para Presidente de Mesa Receptora

[2014-04-09 19:57] #10 closed, assigned to nobody

[2014-05-02 12:59] #19 closed, assigned to nobody

[2014-05-02 13:00] VeraNakamura commented on #17
Mara,
Todas as operações terão log, portanto a RN3 permanece em todos os casos de uso.

[2014-05-02 13:00] #17 closed, assigned to nobody

[2014-05-28 13:31] jadossantos opened #23 "CDU_SCM_003_Gerenciar_Configuracao_de_Mesa_Receptora_de_Justificativas - Nomenclatura do Menu"
<b>Inconsistência:</b> Divergências nos nomes dos menus do CDU e da aplicação.
<b>Proposta:</b> Negociar a possibilidade de redução dos nomes dos menus.

[2014-05-28 13:37] jadossantos opened #24 "CDU_SCM_003_Gerenciar_Configuracao_de_Mesa_Receptora_de_Justificativas - Implementação do log"
<b>Inconsistência:</b> Falta da implementação do log, conforme previsto no FB 1.4.
<b>Proposta:</b> Definir junto ao cliente, a estratégia de implementação do log.

[2014-05-28 13:38] jadossantos opened #25 "CDU_SCM_003_Gerenciar_Configuracao_de_Mesa_Receptora_de_Justificativas - Problemas nos Fluxos"
<b>Inconsistência:</b> Nos quadros de definições dos campos (FB1, FA1, FA2, FA3), o campo “Função Eleitoral” está fazendo referência à RN1, enquanto deveria fazer à RN2.
<b>Proposta:</b> Atualizar CDU.

[2014-05-28 13:39] jadossantos opened #26 "CDU_SCM_003_Gerenciar_Configuracao_de_Mesa_Receptora_de_Justificativas - Dependências dos CDUs 007 e 039"
<b>Inconsistência:</b> Ao alterar/excluir uma MRJ, a rotina não está considerando o status dos eleitores atribuídos à função, devido à falta da codificação dos CDU’s 007 e 039.
<b>Proposta:</b> Após realizar a construção dos CDU’s 007 e 039, ajustar a rotina de alteração e exclusão do CDU 003, para que possam alterar (Conforme a RN04) os status dos eleitores atribuídos.

[2014-05-28 14:03] jadossantos opened #27 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Acesso aos dados da Função Eleitoral"
<b>Item:</b> A função eleitoral do tipo de mesa “função especial” deve estar cadastrada na base do Elo.
<b>Dúvida:</b> Como será realizado e configurado o acesso a esta base de dados?

[2014-05-28 14:04] jadossantos opened #28 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Município e/ou Função Especial"
<b>Item:</b> FB 1.2 - O Ator informa o Município e/ou Função especial e seleciona a opção "pesquisar" [FA 2] [FA 4];
<b>Dúvida 1:</b> Será criada uma nova tabela Município ou será utilizada uma view ou algo do tipo em uma outra base ?
<b>Dúvida 2:</b> Caso o Ator preencha somente a função especial a ser pesquisada o que deverá acontecer ? Aparecer a função para todos os municípios ? Ou obrigar o p

[2014-05-28 14:05] jadossantos opened #29 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Administrador de Prédio"
<b>Item:</b> Administrador de Prédio
<b>Sugestão:</b> Poderia vir representado por um botão desabilitado e não somente um label, como aparece na descrição da tela.

[2014-05-28 14:06] jadossantos opened #30 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Exibição do botão Quantidade por Local de Votação"
<b>Item:</b> CDU004 - FA3 O Fluxo inicia quando o ator com o perfil “Zona Eleitoral” seleciona a opção Quantidade por Local de Votação através do Fluxo básico (FB).
<b>Dúvida:</b> O botão para acionar a função Quantidade por Local de Votação será exibido mesmo para um perfil diferente de “Zona Eleitoral”?

[2014-05-28 14:07] jadossantos opened #31 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Botão Limpar"
<b>Item:</b> Limpar na descrição de campos da interface do fluxo de eventos F5: Apaga as informações preenchidas pelo ator.
<b>Dúvida:</b> Os campos que deverão ser apagados incluem os campos de filtro ? Os números com as quantidades deverão ser zerados mesmo? ou podem apenas voltar para os valores que constam na base ?

[2014-05-28 14:08] jadossantos opened #32 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial- Descrição das regras vinculadas ao campo Zona Eleitoral"
<b>Item:</b> Descrição das regras vinculadas ao campo Zona Eleitoral presente na interface do Fluxo Alternativo 6 do CDU004.
<b>Observação:</b> Falta definir o número e a descrição da regra que deverá explicar que serão recuperadas as Zonas Eleitorais correspondentes ao TER (TRE ?).

[2014-05-28 14:09] jadossantos opened #33 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Descrição do campo Local de Votação"
<b>Inconsistência:</b> Descrição do campo Local de Votação aparece na tabela com a descrição dos campos mas não aparece na tela com a interface para o fluxo alternativo 6 do CDU 004.
<b>Sugestão:</b> Verificar se a tela deve incluir o novo campo como filtro ou se esta descrição deve sair da descrição dos campos.

[2014-05-28 14:10] jadossantos opened #34 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Campos da lista exibida no Fluxo Alternativo 6 do CDU 004"
<b>Inconsistência:</b> Município e  Local de Votação aparecem descritos como campos da lista exibida no Fluxo Alternativo 6 do CDU 004, no entanto a tela não exibe estes campos. O primeiro não aparece na interface e o último provavelmente foi confundido com o campo Função Especial.

[2014-05-28 14:11] jadossantos opened #35 "CDU_SCM_004_Gerenciar_Configuração_de_Função_Especial - Descrição do campo Local de Votação na lista"
<b>Inconsistência:</b> Descrição do campo Local de Votação na lista exibida para o Fluxo Alternativo, aparece como Função que serve de apoio ...
<b>Sugestão:</b> Trocar descrição para Unidade de divisão territorial e de divisão administrativa de determinados países.

[2014-05-28 14:17] jadossantos opened #36 "CDU_SCM_005_Gerenciar_Criterio_de_Selecao_e_Base_de_Eleitores_Convocaveis - o campo "Inclusive Voluntário/ Indicado""
<b>Item:</b> Descrição do campo Somente Voluntário no Fluxo Básico:</b>
<b>Inconsistência:</b> Na descrição das Regras Vinculadas, o texto diz apenas que o campo "Inclusive Voluntário/ Indicado" deve ser desabilitada, no entanto na RN030 o texto diz :</b> "Neste caso, os demais filtros (critérios) não poderão estar disponíveis para seleção."
<b>Dúvida:</b> Todos os campos ou somente o campo inclus

[2014-05-28 14:18] jadossantos opened #37 "CDU_SCM_005_Gerenciar_Criterio_de_Selecao_e_Base_de_Eleitores_Convocaveis - Campo Ocupações Convocáveis"
<b>Item:</b> Descrição do campo Ocupações Convocáveis
<b>Inconsistência:</b> Descrição das Regras Vinculadas aparece como "Não se aplica", quando deveria ser RN 034

[2014-05-28 14:18] jadossantos opened #38 "CDU_SCM_005_Gerenciar_Criterio_de_Selecao_e_Base_de_Eleitores_Convocaveis - Campo Ocupações não Convocáveis"
<b>Item:</b> Descrição do campo Ocupações não Convocáveis
<b>Inconsistência:</b> Descrição das Regras Vinculadas aparece como "Não se aplica", quando deveria ser RN 035

[2014-05-28 14:21] jadossantos opened #39 "CDU_SCM_005_Gerenciar_Criterio_de_Selecao_e_Base_de_Eleitores_Convocaveis - Busca de eleitores convocáveis"
<b>Observação:</b> O critério de busca de eleitores convocáveis será realizado para aqueles domiciliados na mesma zona eleitoral do usuário.
Na RN40 temos:</b>  "Serão listadas todas as Seções correspondentes a Zona Eleitoral do usuário logado."
Já segundo a RN 39 :</b> "Ao final do processamento o sistema deverá apresentar um quantitativo de eleitores por seção. Neste caso o agrupamento será por

[2014-05-28 14:23] jadossantos opened #40 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Prazo limitador para as atribuições"
<b>Dúvida :</b> Haverá um prazo limitador para as atribuições e alterações nas funções atribuídas aos eleitores ? Até que momento estas poderão ser realizadas.

[2014-05-28 14:24] jadossantos opened #41 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Comportamento da exclusão"
<b>Dúvida:</b> A ação de exclusão da atribuição será física ou lógica ?

[2014-05-28 14:25] jadossantos opened #42 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Alinhamento da coluna ações"
<b>Sugestão:</b> Geralmente a coluna de ações aparece na direita da tabela, existe alguma regra que exija o alinhamento à esquerda apresentado nas interfaces.

[2014-05-28 14:37] jadossantos opened #43 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Promoção de cargo"
<b>Dúvida:</b> Existe uma regra que defina melhor o comportamento de Promoção ? Haverá a possibilidade de promoções em cascata? Por exemplo, ao se promover um mesário na terceira função, o funcionário da segunda função será também automaticamente promovido? A promoção só ocorre para o cargo de presidente da mesa?

[2014-05-28 15:02] jadossantos opened #44 "CDU_SCM_037_Consultar_Pleito_Eleitoral - Situação dos pleitos"
<b>Inconsistência:</b> Os pleitos deverão possuir as suas respectivas situações.
<b>Proposta:</b> Definir junto ao cliente, se há a necessidade de manter o histórico das situações por pleito. Caso não haja esta necessidade, ratificar se um pleito cancelado poderá ser reativado ou se será necessário configura-lo novamente.

[2014-05-28 15:04] jadossantos opened #45 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Fluxo Alternativo incompleto"
<b>Inconsistência:</b> No FA 1, falta a referência ao FE 4.
<b>Proposta:</b> Definir junto ao cliente, se há relação entre os FA 1 e o FE 4.

[2014-05-28 15:04] jadossantos opened #46 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Botão voltar"
<b>Inconsistência:</b> Na tabela “Comandos” do FB1 existe uma referência ao botão “Voltar” que não é apresentado na proposta de layout.
<b>Proposta:</b> Remover o item da tabela.

[2014-05-28 15:05] jadossantos opened #47 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Título da tela"
<b>Inconsistência:</b> Na tela do FA1 o título não seria “Consultar Local de Votação”?

[2014-05-28 15:07] jadossantos opened #48 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Dois campos com o mesmo nome"
<b>Inconsistência:</b> Na tabela “Campos” do FA1 existem dois labels com mesmo nome (Número de Identificação) e definição. É isso mesmo? Qual é a diferença entre eles?

[2014-05-28 15:11] jadossantos opened #49 "CDU_SCM_039_Atribuir_Funcao_Especial_ao_Eleitor - Campo Funções Eleitorais"
<b>Inconsistência:</b> No item FB 1.3 Campo Funções Eleitorais aparece na interface como Funções Especiais.
<b>Proposta:</b> O CDU_039 diz que a busca de eleitores deve ser realizada por município e referencia a RN24 que diz :</b> “O Sistema deverá recuperar todos os eleitores da referida Seção eleitoral”. Provavelmente a busca deverá ser realizada por município, portanto deverá haver alguma alter

[2014-05-28 15:12] jadossantos opened #50 "CDU_SCM_039_Atribuir_Funcao_Especial_ao_Eleitor - Nova consulta no sistema ELO"
<b>Sugestão:</b> Referente à RN28 que sugere uma nova consulta no sistema ELO, seria mais interessante que a experiência em pleitos deva ser calculada e importada juntamente quando da importação dos eleitores convocáveis;

[2014-05-28 15:13] jadossantos opened #51 "CDU_SCM_041_Gerenciar_Evento - Exibição do botão dispensa"
<b>Dúvida:</b> Na interface o botão de excluir aparece somente para o evento Dispensa, esta ação estará disponível para todos os eventos correto?

[2014-05-28 15:14] jadossantos opened #52 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Duplicidade do número de documento"
<b>Dúvida:</b> Duplicidade do número de documento utilizado para autorizar/não autorizar um eleitor.
<b>Proposta:</b> Verificar junto ao cliente, se o número de documento utilizado para autorizar/não autorizar um eleitor, pode ser o mesmo para vários eleitores. Caso não possa, não será possível autorizar/não autorizar vários eleitores simultaneamente.

[2014-05-28 15:15] jadossantos opened #53 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Ícone ”Excluir”"
<b>Dúvida:</b> Solicitação dos eleitores para a Zona Eleitoral de Inscrição.
<b>Proposta:</b> Verificar junto ao cliente, se o ícone ”Excluir”, presente na “Lista de Eleitores pesquisados e que serão solicitados”, ao ser acionado, escolhe o eleitor que será solicitado. Caso seja, sugiro que altere o ícone para um ícone mais apropriado para a ação e atualize a tabela “Lista de Eleitores Solicitados

[2014-05-28 15:15] jadossantos opened #54 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Solicitação dos eleitores"
<b>Dúvida:</b> Solicitação dos eleitores para a Zona Eleitoral de Inscrição.
<b>Proposta:</b> Verificar junto ao cliente, se ao solicitar um eleitor da própria zona do usuário logado, automaticamente esta solicitação será aprovada.

[2014-05-29 13:30] VeraNakamura commented on #26
Joel,
Isso mesmo, o cliente esta ciente que o teste do CDU003 estará 100% após a codificação dos CDU´s 007 e 039.

[2014-05-29 13:38] VeraNakamura commented on #54
A solicitação será exclusivamente de eleitores de outra zona eleitoral. Neste caso, posso criar uma msg de alerta caso o CDU não contemple, informando que o Eleitor está vinculado a Zona eleitoral, portanto não precisa ser solicitado. Como este CDU é da Iteração 3 posso e não foi homologado posso alterar sem problemas.

[2014-05-29 14:32] VeraNakamura commented on #53
Esta dúvida é referente ao fluxo de eventos FA2? Logo após preencher a inscrição as informações do eleitor a ser solicitado aparece em uma lista com o ícone "X"? Você diz alterar este ícone. A problemática é que o cliente reclama das várias ações e cliques, portanto não foi colocada a opção para seleção e um botão de excluir. Tentei diminuir a quantidade de cliques.
Há alguma limitação em fazer do

[2014-05-29 19:15] VeraNakamura commented on #52
Um documento servirá para autorizar/não autorizar vários Eleitores.

[2014-05-29 19:27] VeraNakamura commented on #31
Neste caso limpará apenas a quantidade digitada de forma que serão apresentados os valores recuperados da base.
Os filtros como Município e Local de Votação não serão apagados.

[2014-06-02 13:30] VeraNakamura commented on #32
A regra correspondente é a 75. A última versão do documento atualizada em 27/05, contempla tal regra.

[2014-06-02 13:46] VeraNakamura commented on #33
é erro e o caso de uso foi ajustado para a exclusão dos campos referente ao local de votação.
Aproveitei e atualizei o passo FA6.1 item "Quantidade por local de votação", pois fazia referência ao fluxo FA6 e o correto é o fluxo FA7.

[2014-06-02 13:51] VeraNakamura commented on #34
Corrigido de acordo com o erro #33.

[2014-06-02 14:20] VeraNakamura commented on #38
Foi corrigido para contemplar as regras de negócio RN034 e RN035, nos fluxos de eventos FB1 e FA2.

[2014-06-02 14:25] VeraNakamura commented on #47
O Cliente havia visto o erro também, o item foi ajustado na data de 26/05/2014.

[2014-06-02 14:33] VeraNakamura commented on #37
Corrigido e respondido de acordo com o item #38

[2014-06-02 14:42] VeraNakamura commented on #45
Erro que foi corrigido.
Chamada do fluxo de exceção FE3 no passo FB1.3;
Chamada do fluxo de exceção FE4 no passo FA1.3.

[2014-06-02 14:46] VeraNakamura commented on #46
Corrigido.

[2014-06-02 16:24] VeraNakamura commented on #49
Esta parte da regra é para o caso de uso CDU007.
Para o caso de uso CDU039, apenas deverá o final correspondente a função especial.
Segue o trecho da regra que deve ser implementada para o CDU039. Mesmo assim alterei o subtítulo para "Atribuir eleitor a função especial".

Função Especial
Para a função especial, o sistema deverá recuperar todos os eleitores que são vinculados ao Município e não ao

[2014-06-02 17:13] VeraNakamura commented on #50
Não é possível recuperar o histórico de participações de eleições no SCM, pois toda esta informação está guardada na base do Elo.

[2014-06-02 19:15] VeraNakamura commented on #51
Sempre aparecerá a opção de exclusão para o último evento.
Mesmo assim o caso de uso esta sendo reformulado para contemplar várias regras de evento, motivo de evento, e o que é feito quando um evento é lançado. Tudo é refletido nos CDUs 007 e 039.

[2014-06-02 19:19] VeraNakamura commented on #48
O primeiro número de identificação é referente ao do Município;
O Segundo número de identificação é referente ao Local de  Votação;

[2014-06-02 19:50] VeraNakamura commented on #30
Somente será exibido para o perfil "Zona Eleitoral".
O perfil TRE apenas terá a opção de consulta do quantitativo.

[2014-06-02 19:55] VeraNakamura commented on #25
Corrigido.

[2014-06-02 20:01] VeraNakamura commented on #42
Não foi exigência do cliente, mas pelo fato de outros CDUs também apresentar a coluna ações do lado esquerdo.
Vou ver com o cliente se há alguma restrição de mudanças.

[2014-06-03 17:52] VeraNakamura commented on #43
Irei ajustar a RN37 que é referente a promoção.

Para que o processo de promoção esteja habilitado é necessário que a função eleitoral Presidente não tenha eleitor atribuído, ou seja, função vaga. Além disso deverá validar se para as demais funções como: Primeiro Mesário, Segundo Mesário, Suplente e assim sucessivamente se tem eleitor vinculado. A partir do momento que é feita a promoção todos os

[2014-06-06 13:30] VeraNakamura commented on #40
A manipulação destas informações será controlada pelo pleito eleitoral. Conforme o pleito selecionado, apenas estará disponível as opções de consultas/relatórios sem a possibilidade de configurar, incluir, excluir e alterar funções eleitorais bem como Atribuição de funções aos eleitores.

[2014-06-06 13:32] VeraNakamura commented on #44
A manipulação das informações de pleito não é controlado pelo SCM, apenas recuperamos do Elo as situações dos pleitos eleitorais, ainda está pendente de definição por parte do cliente a relação de pleito eleitoral e processo eleitoral.

[2014-06-06 18:47] VeraNakamura commented on #41
Apenas para eleitores com situação de atribuição = 'Atribuído' poderá ser excluído fisicamente, para os demais caso a exclusão não será física porque será necessário gerenciar os eventos de cada eleitor.

[2014-06-10 14:17] VeraNakamura commented on #27
Alinhei com o Anderson, caso não esteja clara a informação solicito que seja enviado um e-mail diretamente para o Anderson para sanar as demais dúvidas técnicas.

O Acesso será da seguinte forma:

"O acesso ao banco de dados do elo será feito diretamente conforme as outras aplicações.
ocorre que o elo será acessado através de componentes criados especificamente para ele, chamados de domínio.Esse d

[2014-06-18 12:44] VeraNakamura commented on #35
Documento ajustado.

[2014-06-18 13:13] VeraNakamura commented on #28
Dúvida 1: Para realizar a consulta será de acordo com o que foi definido para acessar o Elo.
A tabela de Município, Local de Votação, Seção são pertencentes a base do Elo.

Dúvida 2: O passo foi alterado, obrigatoriamente deverá informar o município.

[2014-06-18 14:00] VeraNakamura commented on #39
Dúvida 1: Sim cada Zona Eleitoral terá um critério de seleção para trabalhar com a sua respectiva base de eleitores convocáveis.

Dúvida 2: A seleção Manual estará disponível toda vez que o critério de seleção também estiver disponível.

Na verdade o Agrupamento das estatísticas se dará por Município e Local de votação. A listagem correspondente de seção, pela idade,  pela escolaridade.....e assim

[2014-06-18 14:23] VeraNakamura commented on #36
Caso de uso corrigido deixando apenas na coluna regras vinculadas a RN 30 para o campo "Somente Voluntário".

[2014-06-18 14:30] VeraNakamura commented on #29
Isso gerou uma polêmica, a primeira vez era um botão desabilitado, mas tive que alterar 3 vezes para chegar nesse padrão, então acho melhor não alterar.

[2014-07-09 13:00] VeraNakamura commented on #24
Este item já foi definido.

[2014-07-16 12:35] VeraNakamura commented on #23
Segue a sugestão de nomes das funcionalidades que serão apresentadas no Menu.
• Gerenciar Configuração de Mesa Receptora de Votos;
                 Configurar MRV

• Gerenciar Configuração de Mesa Receptora de Justificativas;
                 Configurar MRJ

• Gerenciar Configuração de Função Especial;
                Configurar Função Especial

• Gerenciar Critério de Seleção e Base de Eleitores

[2014-07-16 14:26] imotac commented on #23
Vera,
Como o menu adotado no layout do SCM é horizontal, seria interessante que agrupasse os item de menu, pois não há espaço suficiente para aloca-los.
Segue abaixo uma sugestão de agrupamento:
- Atribuir
  - Função
  - Função Especial
- Autorização de eleitor
- Configurar
  - Critério
  - Evento
  - Função Especial
  - MRJ
  - MRV
- Consultar
  - Pleito

[2014-07-16 15:33] VeraNakamura commented on #23
Ok.

[2014-12-01 16:08] kleiberfaria opened #55 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Número de Identificação"
Prezados,

Ao realizar uma consulta do municipio no campo  ["Número de identificação"] com uma pesquisa de com números aleatórios, ocorre o erro conforme tela em anexo.

![1-erro ao consultar o municipio em numero de identificacao](https://cloud.githubusercontent.com/assets/9218077/5248529/2030a27c-7963-11e4-8b31-6faf34214d59.jpg)

[2014-12-01 16:11] jmatil opened #56 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Execução do Fluxo E1"
Favor verificar o comportamento do sistema, pois ao informar uma "Função Especial" não existente, juntamente com dados válidos para os campos município e acionar a opção "Pesquisar" o sistema não emite a mensagem conforme relatada na documentação. Apenas direciona o usuário para a tela do sistema "Odin". Segue imagem:

![issue](https://cloud.githubusercontent.com/assets/6584772/5248625/ac1d80d4-79

[2014-12-01 17:10] kleiberfaria opened #57 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - MSG Divergente da Documentação"
Prezados,

Realizando uma pesquisa no campo ["Número de identificação"] com um número não cadastrado, o sistema apresenta a MSG029 sendo que deveria apresentar a MSG028 conforme o FE1.

![2-msg do sistema nao bate com a documentacao msg028](https://cloud.githubusercontent.com/assets/9218077/5249661/263776b0-796c-11e4-9801-f38bab297f73.jpg)

![2 2](https://cloud.githubusercontent.com/assets/9218077

[2014-12-01 17:20] saires commented on #55
Correção realizada.
Favor verificar.

[2014-12-01 17:21] saires commented on #56
Correção realizada.
Favor verificar.

[2014-12-01 17:32] kleiberfaria commented on #55
Verificado, porem a mensagem que deve ser apresentada deverá ser conforme está em anexo e na documentação.
![2 2](https://cloud.githubusercontent.com/assets/9218077/5249990/2a7ca24c-796f-11e4-9add-31182ed1e37b.jpg)

[2014-12-01 17:32] jmatil commented on #56
Item verificado. Segue imagem de confirmação

![issue](https://cloud.githubusercontent.com/assets/6584772/5249992/3511ffae-796f-11e4-88a3-28aebed38400.png)

[2014-12-01 17:32] #56 closed, assigned to saires

[2014-12-01 18:27] saires commented on #55
Correção realizada.
Mensagem MSG028 está sendo exibida.

[2014-12-01 18:28] saires commented on #57
Exibição de mensagem corrigida.

[2014-12-01 18:30] kleiberfaria commented on #57
Item verificado. Obrigado

[2014-12-01 18:30] #57 closed, assigned to saires

[2014-12-01 18:31] kleiberfaria commented on #55
Item verificado. Obrigado

[2014-12-01 18:31] #55 closed, assigned to saires

[2014-12-08 16:47] kleiberfaria opened #58 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votação - Número de Identificação"
Prezados,

Conforme tela em anexo, ao realizar uma pesquisa o sistema apresenta a tela aceitando os caracteres alfa e número nessa situação relatada.

![erro_alfa_numerico](https://cloud.githubusercontent.com/assets/9218077/5342899/cad763fc-7ee8-11e4-8cbc-3270e0d404f2.jpg)

[2014-12-08 16:51] jmatil opened #59 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Inexistência de fluxo"
Favor verificar a necessidade de inclusão de algum fluxo de exceção para a situação abaixo.

![issue-1](https://cloud.githubusercontent.com/assets/6584772/5342967/6c16b77c-7ee9-11e4-9f2d-1d0ebf32ecb5.png)

[2014-12-08 17:11] jmatil opened #60 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Impossibilidade de Execução"
Favor verificar a possibilidade de emissão da mensagem 006 - "inclusão realizada com sucesso". No momento o sistema está interpretando que já existe um valor atribuido à função e emite somente a mensagem 002 - "Alteração realizada com sucesso".

![issue-2](https://cloud.githubusercontent.com/assets/6584772/5343329/66e3a172-7eec-11e4-97c6-e2a6d4106d6e.png)

[2014-12-08 17:33] kleiberfaria opened #61 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votação - Pesquisa local de votação - Documentação"
Prezado,

Conforme imagens em anexo, o [ FA1. Pesquisar local de votação ] na documentação "CDU_SCM_038" o sistema esta segue o fluxo que não se encontra no FA1.

![docum_scm_1](https://cloud.githubusercontent.com/assets/9218077/5343672/479e6f2e-7eef-11e4-8500-2dc67119b4fd.jpg)
![docum_scm_2](https://cloud.githubusercontent.com/assets/9218077/5343673/4df9fc30-7eef-11e4-96ef-20cd94bc3571.jpg)
![doc

[2014-12-08 17:33] jmatil opened #62 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Informações Apresentadas"
Favor verificar se as informações que estão sendo solicitadas serão realmente aquelas que deverão ser apresentadas ao acessar a opção "Gerenciar Configuração de Função Especial" no menu principal do SCM.

![issue-3](https://cloud.githubusercontent.com/assets/6584772/5343690/6ed474da-7eef-11e4-9412-21f5fc4ab654.png)

[2014-12-08 18:19] jmatil opened #63 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Itens Inexistentes"
1) Favor avaliar a existência de itens que são citados na documentação.
2) Verificar a interface disponível na documentação, pois há divergência entre a imagem e a solicitação de que o campo não é editável.

![issue-4](https://cloud.githubusercontent.com/assets/6584772/5344287/55bc5214-7ef5-11e4-9501-fd40bf93c9d5.png)

[2014-12-09 11:26] jmatil opened #64 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Existência da Label"
Favor verificar se há necessidade de existência ou não da label destacada na documentação.

[2014-12-09 11:49] jmatil opened #65 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Opção "Limpar""
Favor verificar o acionamento da opção "Limpar", pois para algumas funcionalidades o sistema está direcionando o ator à pagina inicial da funcionalidade onde é apresentado os campos para a pesquisa inicial.
A simulação foi realizada logo após apresentação dos resultados na inclusão de quantitativo para a função de administrador de prédio.

[2014-12-09 13:37] kleiberfaria opened #66 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votação - Tela Pesquisar local de votação"
Prezados,

Conforme imagem em anexo, os campos de acordo com a tela da Interface do fluxo de eventos do CDU_SCM_038, estão fora da posição.

![tela_t](https://cloud.githubusercontent.com/assets/9218077/5358053/ca94d6fa-7f96-11e4-9600-750fdca912a4.jpg)
![tela_tt](https://cloud.githubusercontent.com/assets/9218077/5358124/9da67418-7f97-11e4-9ac3-55cf12e4d0f9.jpg)

[2014-12-09 15:50] kleiberfaria opened #67 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votação - Local de votação não encontrada"
Prezado,

De acordo com o [ FE4. Local de votação não encontrada ], o sistema ao vefiricar um local de votação não existente esta apresentando a msg "No records found" e não a mensagem MSG031 conforme o fluxo do CDU.

![consultarrrrrr](https://cloud.githubusercontent.com/assets/9218077/5360246/2e83c0f0-7faa-11e4-9869-67db8f292fda.jpg)

[2014-12-10 13:34] jmatil opened #68 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Botão ' Voltar '"
A opção ' Voltar ' disponível na funcionalidade onde é Gerenciada a ' Quantidade por Local de Votação ' deveria voltar à página anterior com os resultados que eram apresentados ou com apenas os campos para uma nova realização de pesquisa de Município? Segue imagem

![issue-8](https://cloud.githubusercontent.com/assets/6584772/5376675/614cb53a-8060-11e4-980d-ed88caae66d9.png)

[2014-12-10 13:37] jmatil opened #69 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Tamanho do Campo e Quantidade de Caracteres Aceitos"
Favor verificar a quantidade de caracteres que deverão ser aceitos no campo 'Quantidade de Eleitores Configurados para um Determinado Local de Votação'. Atualmente o sistema está aceitando 4 (Quatro) dígitos conforme destacado na imagem abaixo.'

![issue-9](https://cloud.githubusercontent.com/assets/6584772/5376708/c6260b3c-8060-11e4-9fbb-b358aa7381c0.png)

[2014-12-10 13:38] jmatil opened #70 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Obrigatoriedade de apresentação"
Favor verificar se a apresentação do nome do Município é realmente obrigatório ou não. Segue Imagem.

![issue-10](https://cloud.githubusercontent.com/assets/6584772/5376735/0cf9736e-8061-11e4-9d48-4d54c0cf7518.png)

[2014-12-10 13:40] jmatil opened #71 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Caixa de Seleção - Zona Eleitoral"
Verificar a inexistência da 'Caixa de Seleção' Zona Eleitoral exigida pela documentação.

![issue-11](https://cloud.githubusercontent.com/assets/6584772/5376756/47fa7bfc-8061-11e4-87e7-ec8b4de2bc52.png)

[2014-12-10 13:42] jmatil opened #72 "CDU_SCM_004_Gerenciar Configuração de Função Especial - Itens Apresentáveis"
Há alguma informação relacionada ao 'Pleito Eleitoral' que deveria ser apresentada no resultado da pesquisa ou na documentação está faltando os outros itens: Função Especial, Município e Local de Votação?

![issue-12](https://cloud.githubusercontent.com/assets/6584772/5376775/7c9a4522-8061-11e4-8e51-bed9b969dd2e.png)

[2014-12-10 16:54] saires commented on #60
A mensagem MSG006 é disparada quando a quantidade de uma função é alterada de 0 para mais.
A mensagem MSG002 é disparada quando a quantidade de uma função é alterada de +1 para mais.
Sugiro utilizar uma mensagem mais genérica, ou apenas a MSG002.

[2014-12-10 18:05] saires commented on #67
Corrigido.

[2014-12-10 18:07] saires commented on #58
Corrigido.

[2014-12-10 18:08] saires commented on #66
Corrigido. Porém, a ordem não é exatamente do protótipo. A forma atual de um abaixo do outro evita a quebra de layout entre diferentes navegadores.

[2014-12-10 18:29] kleiberfaria opened #73 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Consultar Local de Votação MSG028"
Prezados,
Ao consultar um [ "Número de Identificação" ] inexistente conforme o FE1 e ao preencher campo, deve apresentar a MSG028

![1](https://cloud.githubusercontent.com/assets/9218077/5381552/8e68cf26-8089-11e4-8cc0-0fc9ef06ab36.jpg)

[2014-12-10 18:32] espinola commented on #70
Vamos seguir a tabela de descrição, obrigatório = "Não"

[2014-12-10 18:32] #70 closed, assigned to espinola

[2014-12-10 18:33] kleiberfaria opened #74 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - FE2 da Documentação"
Prezado,

O ["FE2. Município pertencente a outra Zona Eleitoral"] do CDU 038, não se aplica atualmente para a devida aplicação.

![3](https://cloud.githubusercontent.com/assets/9218077/5381612/2f8b1738-808a-11e4-956d-3bba7e0d55ca.jpg)

[2014-12-10 18:34] espinola commented on #69
documentação atualizada para 4 caracteres

[2014-12-10 18:34] #69 closed, assigned to espinola

[2014-12-10 18:50] espinola commented on #64
vamos padronizar, colocar o titulo em tudo

[2014-12-10 18:52] espinola commented on #62
esta correto pois cada UF possui um TRE então o nome sempre vai ser TRE-UF

[2014-12-10 18:53] #62 closed, assigned to espinola

[2014-12-10 18:54] espinola commented on #61
Documentação atualizada como conversamos, fui adicionado o FA1 no FB e criado uma precondição para FA1

[2014-12-10 18:54] #61 closed, assigned to espinola

[2014-12-10 19:11] espinola commented on #60
Vamos utilizar sempre a MSG002 que foi alterada para "Operação realizada com sucesso."

[2014-12-10 19:27] espinola commented on #59
Somente o município é obrigatório, basta tratar somente este campo

[2014-12-11 10:41] jmatil opened #75 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Label"
Favor verificar que a 'label' exigida pela documentação não está sendo apresentada no sistema.

![issue-13](https://cloud.githubusercontent.com/assets/6584772/5392795/6b6c459c-8111-11e4-852f-faec6628a4c9.png)

[2014-12-11 10:48] jmatil opened #76 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Botão Inexistente na documentação"
Favor verificar a inclusão deste 'Botão' destacado na imagem, pois na documentação este item não é apresentado.

![issue-14](https://cloud.githubusercontent.com/assets/6584772/5392877/72939338-8112-11e4-88bf-e6ce0d6665c1.png)

[2014-12-11 10:59] jmatil opened #77 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Composição"
Favor verificar  a disponibilidade de apresentação da composição da mesa recepetora de justificativa, pois ao acessar a funcionalidade com o perfil TRE-ES, acessar as funcionalidades do sistema e retornar ao pertil 'Zona 0001' o sistema não apresenta mais a composição que antes era apresentada ao usuário.

![issue-15](https://cloud.githubusercontent.com/assets/6584772/5393017/fc6a22ec-8113-11e4-94

[2014-12-11 11:17] jmatil opened #78 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Consulta à configuração"
Preciso de auxílio para visualização da consulta da configuração da Mesa Receptora de Justificativa, pois não estou encontrando o caminho que leva a esta tela conforme relatado na documentação disponibilizada para a realização dos testes. Foi implementado?

![issue-16](https://cloud.githubusercontent.com/assets/6584772/5393218/68efdbc6-8116-11e4-9e0f-24e138c478aa.png)

[2014-12-11 11:25] jmatil opened #79 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Implementação"
Favor verificar se os itens relacionados à 'Consulta da Configuração da Mesa Receptora de Justificativas' foram implementadas para o perfil TRE, pois há divergências entre o que está apresentado e o que está disponibilizado no sistema. Segue imagem.

![issue-17](https://cloud.githubusercontent.com/assets/6584772/5393313/bff7dbac-8117-11e4-92ec-eb1e0ddbfcb6.png)

[2014-12-11 12:04] kleiberfaria commented on #58
Item verificado !

[2014-12-11 12:04] #58 closed, assigned to kleiberfaria

[2014-12-11 12:06] kleiberfaria commented on #66
Item verificado !

[2014-12-11 12:06] #66 closed, assigned to kleiberfaria

[2014-12-11 12:52] espinola commented on #68
Como o caso de uso não apresenta a necessidade de recupera a pesquisa quando o usuário retorna a tela anterior, o comportamento do sistema hoje esta correto.

[2014-12-11 13:01] espinola commented on #72
Documentação atualizada foi retirado o capo Pleito Eleitoral do passo FA3.1 pois o mesmo esta sendo descrito errado.

[2014-12-11 13:04] jmatil commented on #68
Compreendido.

[2014-12-11 13:04] #68 closed, assigned to jmatil

[2014-12-11 13:09] espinola commented on #76
O correto e igual está no caso de uso.

[2014-12-11 15:43] saires commented on #74
Enzo, após análise verifiquei que de fato esse fluxo existe. Favor reverter essa alteração e manter como estava na documentação. A aplicação está tratando isso agora.

[2014-12-11 15:48] saires commented on #73
Corrigido.

[2014-12-11 15:56] saires commented on #60
Mensagem corrigida.

[2014-12-11 16:36] jmatil commented on #60
Confirmado a correção.

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5397142/13eae494-813f-11e4-8222-e986a7fa42c0.png)

[2014-12-11 16:36] #60 closed, assigned to jmatil

[2014-12-11 17:47] kleiberfaria commented on #73
Item verificado !

[2014-12-11 17:47] #73 closed, assigned to kleiberfaria

[2014-12-11 18:05] kleiberfaria commented on #74
Prezados,
Então o fluxo vai existir na aplicação? Foi realizado já o script de teste e as evidências sem o FE 2

[2014-12-11 19:17] espinola commented on #74
Ja retornei o fluxo para o caso de uso

[2014-12-11 23:42] saires commented on #63
Foi inserida a caixa para seleção da Zona Eleitoral para o perfil TRE. Deve ser revista a necessidade dessa caixa de seleção, uma vez que as funções são por Municipio, e não por Zona Eleitoral.
O campo Municipio passou a ser input não editável, de acordo com a documentação.

[2014-12-11 23:51] saires commented on #64
Label inserida.

[2014-12-12 00:03] saires commented on #65
Enzo, verificar a necessidade desses botões de limpar nesse caso de uso. Segundo o UC, esse botão deve "Apaga as informações preenchidas pelo ator". A unica informação que o ator preenche são os valores de quantidade de pessoas para cada função. Limpar essas informações envolve regras atribuição de eleitores dentre outras. Sugiro a retirada ou então definir melhor essa regra.

[2014-12-12 00:20] saires commented on #71
Caixa de seleção inserida. Porem essa mudança não faz nada no sistema. Deve ser revista a necessidade dessa caixa de seleção, uma vez que as funções são por Municipio, e não por Zona Eleitoral.

[2014-12-12 00:33] saires commented on #75
Corrigido.

[2014-12-12 00:43] saires commented on #76
Esse botão é para ser apresentado caso o usuário deseje consultar a configuração de mesa receptora de justificativa (FA1). Porém, esse fluxo e o FB se iniciam da mesma forma: "Este fluxo se inicia quando o ator seleciona a opção Gerenciar Configuração de Mesa Receptora de Justificativas no menu principal do SCM ". Dessa forma não há como tratar a exibição desse botão, pois não tem como saber se o

[2014-12-12 00:47] saires commented on #78
Esse fluxo e o FB se iniciam da mesma forma: "Este fluxo se inicia quando o ator seleciona a opção Gerenciar Configuração de Mesa Receptora de Justificativas no menu principal do SCM ". Dessa forma não há como tratar a exibição desse tela, pois não tem como saber se o usuário deseja inserir uma função ou apenas consultar. Sugiro alterar o menu acrescentando dois subníveis ao menu MRJ: MRJ > Consul

[2014-12-12 04:34] saires commented on #77
Corrigido.

[2014-12-12 04:37] saires commented on #79
Corrigido.

[2014-12-12 09:36] jmatil commented on #77
Correção confirmada.

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5409448/93e3e42e-81d1-11e4-9e67-4fab1cb14943.png)

[2014-12-12 09:36] #77 closed, assigned to jmatil

[2014-12-12 09:39] jmatil commented on #75
Label não implementada até o momento.

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5409484/f9c538d8-81d1-11e4-82f7-fdac7c112c3a.png)

[2014-12-12 09:49] jmatil commented on #79
Implementação confirmada

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5409606/7476ddb0-81d3-11e4-84a9-f9182a5bfc2c.png)

[2014-12-12 09:49] #79 closed, assigned to jmatil

[2014-12-12 10:32] jmatil opened #80 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Disponibilidade dos Itens"
Prezados
Precisamos nos orientar em relação as funcionalidades que serão disponibilizadas para este CDU. O layout disponibilizado na documentação está com algumas divergências em relação ao que está sendo apresentado pelo sistema. Estes itens devem permanecer (seguir fielmente o que é exigido) ou devemos ignorar estes itens apresentados? Aparentemente as documentações estão desatualizadas e aprese

[2014-12-12 10:46] jmatil opened #81 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Passos Indisponíveis"
Favor avaliar o item destacado na documentação, pois até o momento esta opção de seleção não está disponibilidade no sistema atual. Esta opção "Atualizar" deverá ser implementada?

![issue-19](https://cloud.githubusercontent.com/assets/6584772/5410413/4f648894-81db-11e4-99ab-092d2b422cf6.png)

[2014-12-12 10:53] jmatil opened #82 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Mensagem"
Qual mensagem deverá ser emitida ao ser simulado a Alteração da Configuração de Mesa Receptora de Justificativa?

![issue-20](https://cloud.githubusercontent.com/assets/6584772/5410503/54c61310-81dc-11e4-8225-8ddc23285f22.png)

[2014-12-12 11:22] jmatil opened #83 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Caixa de Seleção"
Favor verificar a caixa de seleção (Zona Eleitoral) disponibilizada para o perfil 'TRE', pois no momento esta caixa está sem funcionalidade.

![issue-22](https://cloud.githubusercontent.com/assets/6584772/5410797/42c992a0-81e0-11e4-8227-e22b1e56920d.png)

[2014-12-12 11:38] jmatil opened #84 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Visualização"
Assim como o botão 'Excluir' que não deve está habilitado para o pertil TRE, o botão 'ALTERAR' segue a mesma solicitação: "Não está habilitado". Pergunta: Ambos devem ser apresentados?

![issue-23](https://cloud.githubusercontent.com/assets/6584772/5410987/89f1fbd4-81e2-11e4-8488-b90043e0d9df.png)

[2014-12-12 12:16] jmatil commented on #63
Confirmado a Implementação do Item:
![issue-24](https://cloud.githubusercontent.com/assets/6584772/5411449/b013a830-81e7-11e4-9356-751cda381c5b.png)

Enzo
poderia avaliar a situação relatada pelo Sávio? : "Deve ser revista a necessidade dessa caixa de seleção, uma vez que as funções são por Municipio, e não por Zona Eleitoral."

[2014-12-12 12:21] jmatil commented on #64
Confirmado a implementação da Label

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5411541/a22951e2-81e8-11e4-9d9d-010b29ac1e2d.png)

[2014-12-12 12:21] #64 closed, assigned to jmatil

[2014-12-12 12:30] kleiberfaria opened #85 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Campo Zona Eleiotoral"
Prezados,

Conforme documentação CDU_003, o tamanho do campo para [ Zona Eleitoral ], esta na aplicação o tamanho 1 e na documentação tamanho "3".
![1](https://cloud.githubusercontent.com/assets/9218077/5411555/de0e1f62-81e8-11e4-9d99-3285bceac35e.jpg)

![1 1](https://cloud.githubusercontent.com/assets/9218077/5411646/dcc61b4a-81e9-11e4-8ee5-a37c821c0324.jpg)

[2014-12-12 12:35] espinola commented on #84
Seguir a documentação sempre

[2014-12-12 12:36] saires commented on #85
Deve-se definir uma máscara para os campos núméricos. (completar com 0's ou não)

[2014-12-12 12:40] espinola commented on #85
se não existe mascara não é obrigatório ter 00 para preencher o campo, ou meu ver.

[2014-12-12 12:43] espinola commented on #82
Seguir a documentação

[2014-12-12 12:44] jmatil commented on #71
Implementação confirmada
Enzo
poderia ser revistas esta situaçãor relatada pelo Sávio?

[2014-12-12 12:55] espinola commented on #81
Não está disponível pq? ela esta descrita como para ser utilizada ? se sim tem que manter igual descrito na documentação.

[2014-12-12 13:23] jmatil commented on #72
Confirmado a Exclusão e verificado na documentação atualizada

[2014-12-12 13:23] #72 closed, assigned to jmatil

[2014-12-12 13:26] jmatil commented on #84
Sávio
favor avaliar a situação acima

[2014-12-12 13:30] espinola commented on #80
seguir documentação

[2014-12-12 15:37] jmatil commented on #75
Confirmada a Implementação

[2014-12-12 15:37] #75 closed, assigned to saires

[2014-12-12 15:43] jmatil commented on #80
Sávio
favor avaliar a situação exigida na documentação conforme relato acima.

[2014-12-12 15:49] jmatil commented on #81
Na aplicação atual não existe a opção "Alterar" para ser selecionada. O ator apenas acessa a funcionalidade diretamente. As ações de inclusão ou exclusão ("Alteração") são executadas diretamente sem um acionamento anterior conforme relatado na documentação. "Este fluxo se inicia quando o ator SELECIONA a opção 'Alterar' na consulta da MRJ".

[2014-12-12 15:58] jmatil commented on #59
O problema é que este fluxo (ação) não existe na documentação

[2014-12-12 17:13] saires commented on #80
No que diz respeito as "setas", trata-se de componentes pré-definidos pela tecnologia utilizada (Primefaces). Essa tecnologia é pré-requisito para o projeto. O protótipo está desatualizado.

[2014-12-12 17:24] kleiberfaria opened #86 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Arrastar Funções Eleitorais"
Prezados,
Ao arrastar as funções eleitorais em "Selecionadas" essas opções inativas podem ser salvas no campo "Disponíveis" da aplicação conforme imagem em anexo. Ao salvar, o sistema vai para a tela do ODIN.

![1](https://cloud.githubusercontent.com/assets/9218077/5416030/daffcc2e-8212-11e4-8e46-c836f5ff0feb.jpg)

[2014-12-12 17:43] monicaleite commented on #78
Sávio,
Após o registro ser criado, todo acesso a ser realizado posteriormente nesse registro será considerado como edição.

[2014-12-12 19:46] espinola commented on #65
A ação "Limpar", apaga as informações da grid e não as da consulta, pois esta ação só aparece quando o ator executa a pesquisa.

[2014-12-12 21:18] espinola commented on #59
foi criado um fluxo de exceção de campo obrigatório

[2014-12-12 21:30] espinola commented on #63
Campo não mais editável, documentação atualizada

[2014-12-12 21:31] espinola commented on #71
Campo não mais editavel, documentação atualizada

[2014-12-15 02:37] saires commented on #65
O botão passou a esconder a grid. O município pesquisado permanece selecionado.

[2014-12-15 02:53] saires commented on #59
Mensagem corrigida.
Favor, corrigir a mensagem na documentação.
![image](https://cloud.githubusercontent.com/assets/10027679/5430316/a3065660-83f4-11e4-8d38-59a2cc71eb8e.png)

[2014-12-15 02:55] saires commented on #78
Corrigido.

[2014-12-15 03:02] saires commented on #81
Corrigido.Mas não está claro na documentação que esse fluxo será executado apenas pelo perfil Zona. Foi inserido um botão para limpar. Os protótipos dessa tela na documentação não estão iguais. Deve-se atualiza-la.

[2014-12-15 03:07] saires commented on #82
Mensagem corrigida.

[2014-12-15 03:17] saires commented on #83
As configurações da zona escolhida é carregada na tela.

[2014-12-15 03:19] saires commented on #84
Corrigido.

[2014-12-15 03:22] saires commented on #86
Esse componente do projeto possui esse bug. A ação pelas setas é bloqueado, mas o arrastar não tem como na versão do primefaces utilizada pelo projeto. A ação de sucesso é apresentada mas não ocorre a alteração no banco de dados. Deverá ser corrigido em uma futura SM.

[2014-12-15 10:04] jmatil commented on #84
Confirmado a implementação

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5433658/d3427ade-8430-11e4-850f-6c869cbb6298.png)

[2014-12-15 10:04] #84 closed, assigned to jmatil

[2014-12-15 10:24] jmatil commented on #81
Implementação confirmada.
Enzo
conforme relato acima, o protótipo realmente não apresenta esta funcionalidade para o fluxo FA2 - Alterar Configuração de Mesa Receptora de Justificativas. Pergunta: Será atualizado o protótipo disponível neste caso de uso?

![issue-26](https://cloud.githubusercontent.com/assets/6584772/5433941/b2ca65c0-8433-11e4-9163-75c834c2433f.png)

[2014-12-15 10:41] jmatil commented on #80
Enzo
Será atualizado o protótipo disponível neste fluxo FA2 - Alterar Configuração de Mesa Receptora de Justificativas?

[2014-12-15 10:46] jmatil commented on #78
Confirmado a Implementação
![corrigido](https://cloud.githubusercontent.com/assets/6584772/5434229/a977ea1c-8436-11e4-9bff-5c84bb00ef65.png)

[2014-12-15 10:46] #78 closed, assigned to jmatil

[2014-12-15 11:01] jmatil commented on #65
Confirmado a Implementação

[2014-12-15 11:01] #65 closed, assigned to jmatil

[2014-12-15 11:04] kleiberfaria opened #87 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Lupa de pesquisa"
Prezados,

Realizando um consulta conforme imagem em anexo, ainda encontra-se inativo para a pesquisa quanto para os testes.

![1](https://cloud.githubusercontent.com/assets/9218077/5434468/5dc05192-8439-11e4-8f87-aa2d06aa74d5.gif)

[2014-12-15 11:07] kleiberfaria commented on #67
Item verificado

[2014-12-15 11:07] #67 closed, assigned to kleiberfaria

[2014-12-15 11:07] kleiberfaria commented on #74
Item verificado

[2014-12-15 11:07] #74 closed, assigned to kleiberfaria

[2014-12-15 11:08] kleiberfaria commented on #85
Item verificado !

[2014-12-15 11:08] #85 closed, assigned to kleiberfaria

[2014-12-15 11:36] espinola commented on #81
Este fluxo esta sendo chamado no passo FA1.2, e neste passo contem o botão alterar

![image](https://cloud.githubusercontent.com/assets/8427809/5435069/e04b5054-843d-11e4-9178-73dab3f43479.png)

[2014-12-15 11:53] espinola commented on #80
atualizado

[2014-12-15 13:00] jmatil opened #88 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Acesso Impossibilitado"
Após atribuir uma quantidade a uma função especial (CDU-004) e realizar a pesquisa do CDU-039, o sistema não deixa o usuário acessar novamente o menu destacado na image (CDU-004).

![issue-29](https://cloud.githubusercontent.com/assets/6584772/5436076/354fc3ae-8449-11e4-9806-1537aa7ff5aa.png)

[2014-12-15 13:58] kleiberfaria opened #89 "CDU_SCM_039_Atribuir_Funcao_Especial_ao_Eleitor - Importar Dados de Outra Eleição"
Prezados,

Ao realizar  "Importar Dados de Outra Eleição" na aplicação, ocorre o erro conforme as imagens em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/5436804/9c49241c-8451-11e4-885c-3a4138ac1d76.jpg)

![2](https://cloud.githubusercontent.com/assets/9218077/5436807/a15be78c-8451-11e4-8c58-9ae0b247c0fa.jpg)

[2014-12-15 16:45] espinola commented on #59
corrigido

[2014-12-15 17:11] jmatil commented on #83
confirmado a implementação

![corrigido](https://cloud.githubusercontent.com/assets/6584772/5440076/97bc859a-846c-11e4-81b2-fbd41880db2a.png)

[2014-12-15 17:11] #83 closed, assigned to jmatil

[2014-12-15 17:17] jmatil commented on #82
Confirmado a correção

[2014-12-15 17:17] #82 closed, assigned to jmatil

[2014-12-15 17:52] jmatil commented on #59
Confirmado a Correção

[2014-12-15 17:52] #59 closed, assigned to jmatil

[2014-12-15 18:11] jmatil commented on #71
Ação confirmada

[2014-12-15 18:11] #71 closed, assigned to jmatil

[2014-12-15 18:19] jmatil commented on #81
Questão compreendida

[2014-12-15 18:19] #81 closed, assigned to jmatil

[2014-12-15 18:23] jmatil commented on #63
confirmado a edição

[2014-12-15 18:23] #63 closed, assigned to jmatil

[2014-12-16 11:35] kleiberfaria opened #90 "CDU_SCM_039_Atribuir_Funcao_Especial_ao_Eleitor - MRJ"
Prezados,

Ao atribuir uma função especial na navegação no SCM, e na tela de Atribuição Função Eleitoral selecionando o [ MRJ ] conforme as imagens em anexo e realizando a pesquisa, a aplicação volta para a tela do ODIN

![1](https://cloud.githubusercontent.com/assets/9218077/5452808/bd1998a6-8506-11e4-8941-449c42fd51c7.jpg)

![2](https://cloud.githubusercontent.com/assets/9218077/5452810/c1711424

[2014-12-16 11:53] saires commented on #88
Corrigido. Na verdade não consegui simular esse erro.

[2014-12-16 12:14] kleiberfaria commented on #88
Fiz o passo conforme descrição nesse Git e de fato não se consegue voltar para a navegação superior da aplicação.

![1](https://cloud.githubusercontent.com/assets/9218077/5453260/73cb36fe-850c-11e4-9199-92346c222cc0.jpg)

[2014-12-16 12:27] saires commented on #87
Verificar com o Haber. Ele já estava verificando.

[2014-12-17 04:06] saires commented on #90
Esse fluxo é do UC07. Ver com o Haber.

[2014-12-17 12:04] kleiberfaria opened #91 "CDU_SCM_002_Gerenciar_Configuracao_de_Mesa_Receptora_de_Votos - Não Recupera as funções eleitorais"
Prezados,

Ao realizar uma Configuração de Mesa Receptora de Votos conforme a imagem, o sistema não esta trazendo as funções eleitorais.

![1](https://cloud.githubusercontent.com/assets/9218077/5470773/fee2f9f8-85d3-11e4-823d-c2cd4bb6e006.jpg)

[2014-12-18 03:53] saires commented on #91
Corrigido.

[2014-12-18 10:38] kleiberfaria commented on #91
Item verificado !

[2014-12-18 10:38] #91 closed, assigned to kleiberfaria

[2014-12-18 12:14] kleiberfaria opened #92 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Recuperar Funções Eleitorais"
Prezados,

Ao realizar o acesso no MRV para trazer as funções eleitorais, a aplicação não recupera o mesmo.

![1](https://cloud.githubusercontent.com/assets/9218077/5487932/9a2e4a00-869e-11e4-9db3-5fe4c033038b.jpg)

[2014-12-18 17:09] saires commented on #92
Após concessão de granst no Banco de Dados a funcionalidade está funcionando normalmente.

[2014-12-18 18:57] kleiberfaria opened #93 "CDU_SCM_002_Gerenciar_Configuracao_de_Mesa_Receptora_de_Votos - Perfil TRE"
Prezados,

Para o perfil TRE, verificar quanto ao sistema recuperar configuradas para a mesa receptora ao selecionar a "Zona Eleitoral"

![4](https://cloud.githubusercontent.com/assets/9218077/5493918/441e191e-86d6-11e4-8856-20588b4a9afa.jpg)

[2014-12-18 19:38] halvesl commented on #87
CORRIGIDO.

[2014-12-18 19:46] saires commented on #93
Corrigido.

[2014-12-19 03:25] saires commented on #89
Corrigido.

[2014-12-22 11:50] kleiberfaria opened #94 "CDU_SCM_039_Atribuir_Função_Especial_ao_Eleitor - Quantidade de Eleitor Atribuido"
Prezados,

Conforme o fluxo, após atribuir uma função eleitoral, o sistema não está carregando a quantidade de eleitor conforme as imagens em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/5524644/dcdc7632-89bf-11e4-9f1a-751b2fcdb49d.jpg)

![2](https://cloud.githubusercontent.com/assets/9218077/5524646/e207839a-89bf-11e4-82fa-1c2843a7bdc5.jpg)

[2014-12-22 11:58] kleiberfaria commented on #87
Item verificado !

[2014-12-22 11:58] #87 closed, assigned to kleiberfaria

[2014-12-22 16:29] saires commented on #94
Corrigido pelo Haber.

[2014-12-22 16:30] kleiberfaria commented on #94
Item verificado

[2014-12-22 16:30] #94 closed, assigned to kleiberfaria

[2014-12-22 17:37] kleiberfaria commented on #93
Item verificado !

[2014-12-22 17:37] #93 closed, assigned to kleiberfaria

[2014-12-22 17:37] kleiberfaria commented on #92
Item verificado !

[2014-12-22 17:37] #92 closed, assigned to kleiberfaria

[2014-12-23 12:10] kleiberfaria opened #95 "CDU_SCM_039_Atribuir_Função_Especial_ao_Eleitor - Erro no Campo Seção"
Prezados,

Ao realizar uma atribuição na função eleitoral e ao colocar no campo "seção" um valor ocorre o erro na tela conforme print na tela.

![atribuir_e_mrv](https://cloud.githubusercontent.com/assets/9218077/5537604/d07e5924-8a8b-11e4-857f-1bdabfd2f217.jpg)

[2014-12-23 13:07] kleiberfaria opened #96 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Idade Maior Idade Menor"
Conforme imagem em anexo, a aplicação permite realizar nos campos idade mínima um número maior e idade máxima um número menor.

![valor_minimo_valor_maior](https://cloud.githubusercontent.com/assets/9218077/5538052/97353c84-8a93-11e4-92f0-6038b10fbbee.jpg)

[2014-12-23 15:45] kleiberfaria opened #97 "CDU_SCM_038_Consultar_Municipio_e_Local_de_Votacao - Número de Identificação"
No campo [Número de Identificação] ao incluir em formato númerico com uma letra no mesmo campo a aplicação mostra na tela um erro no formato do município a seguir.

![segurando_a_letra_p](https://cloud.githubusercontent.com/assets/9218077/5539527/d52e6338-8aa9-11e4-97e2-7884054fd3af.jpg)

[2014-12-23 15:46] halvesl commented on #96
Sávio vc consegue direcionar esse erro pro usuário halvesl?

[2014-12-23 16:13] saires commented on #95
Esse UC é o 7. Atribuir ao Haber.

[2014-12-23 16:19] kleiberfaria opened #98 "CDU_SCM_003_Gerenciar Configuração de Mesa Receptora de Justificativa - Excluir"
Prezados,

Realizando um exclusão na tela "Configuração de Mesa Receptora de Justificativas", o sistema exibe a mensagem conforme em anexo. A aplicação mostra a soma de 17 eleitores atribuidos e a quantidade "zero" tanto para Eleitores na situação Convocado quanto para Eleitores na situação Nomeado.
![distribuicao_de_eleitores](https://cloud.githubusercontent.com/assets/9218077/5540015/a1af727c-8a

[2014-12-23 16:41] kleiberfaria commented on #95
Realizada a atribuição !

[2014-12-23 19:14] kleiberfaria opened #99 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Lista de Funções Eleitorais"
Ao selecionar na lista de funções eleitorais conforme imagem em anexo, a aplicação volta para a tela do ODIN.
![a1](https://cloud.githubusercontent.com/assets/9218077/5541920/0ba22770-8ac7-11e4-890c-b7a9cb50697f.jpg)

![a2](https://cloud.githubusercontent.com/assets/9218077/5541924/101226fc-8ac7-11e4-9db5-f549177e0910.jpg)

[2014-12-23 20:53] kleiberfaria opened #100 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Ajuste do campo"
Ajuste da posição do campo [Local de Votação] . Alinhar com os demais titulos que apresetam na tela.

![a3](https://cloud.githubusercontent.com/assets/9218077/5542993/e6e042ec-8ad4-11e4-8702-981cbd298b20.jpg)

[2014-12-23 21:00] saires commented on #98
Corrigido. Favor retestar e notificar qualquer inconsistência.

[2014-12-24 14:03] halvesl commented on #96
corrigido

[2014-12-24 14:13] halvesl commented on #95
corrigido.

[2014-12-24 14:37] kleiberfaria commented on #96
Item verificado !

[2014-12-24 14:37] #96 closed, assigned to halvesl

[2014-12-24 14:40] halvesl commented on #99
corrigido! Já foi feito o deploy.

[2014-12-24 14:40] kleiberfaria commented on #99
Item verificado !

[2014-12-24 14:40] #99 closed, assigned to halvesl

[2014-12-24 14:42] halvesl commented on #90
corrigido.

[2014-12-24 14:43] kleiberfaria commented on #90
Item verificado!

[2014-12-24 14:43] #90 closed, assigned to kleiberfaria

[2014-12-24 14:44] halvesl commented on #100
corrigido. Aguardar próximo deploy.

[2014-12-24 14:51] kleiberfaria commented on #100
Item verificado !

[2014-12-24 14:51] #100 closed, assigned to halvesl

[2014-12-24 16:06] kleiberfaria opened #101 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Navegação menu e sub menuTravando"
Prezados,

Ao selecionar qualquer funcionalidade na navegação superior e no sub menu de navegação do SCM, ocorre não constantante, a não resposta do click na funcionalidade. Gera um impacto no script de teste.

![navegacao_travando](https://cloud.githubusercontent.com/assets/9218077/5549675/f8e6f2be-8b75-11e4-93f6-596ae6fe2e92.jpg)

[2014-12-26 10:59] kleiberfaria commented on #98
Item verificado !

[2014-12-26 10:59] #98 closed, assigned to kleiberfaria

[2014-12-26 11:00] kleiberfaria commented on #89
Item verificado!

[2014-12-26 11:00] #89 closed, assigned to kleiberfaria

[2014-12-26 11:28] kleiberfaria commented on #95
O erro ainda persiste conforme imagem em anexo.
![k](https://cloud.githubusercontent.com/assets/9218077/5557360/95bee9d6-8ce1-11e4-81cc-d7d9c653d6b8.jpg)

[2014-12-26 14:04] kleiberfaria opened #102 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - FA4 Promover Eleitor"
Prezados,

Conforme fluxo [ FA4 Promover eleitor ], ao iniciar o passo para a seleção do campo "Promoção" , para um eleitor atribuido, a  funcionalidade encontra-se ainda sem implementação para o mesmo. Sendo assim, não é possivel gerar script para a devida automação.

![fa4](https://cloud.githubusercontent.com/assets/9218077/5557865/0f5723e8-8cf7-11e4-8d80-f1543bcdd526.jpg)

![fa4_1](https://clou

[2014-12-26 15:27] halvesl commented on #102
Kleiber, de acordo com a RGN37 desse mesmo fluxo, para haver promoção o sistema necessita de informações que ainda não foram implementadas nessa iteração, sendo assim, não consigo executar esse fluxo e essa regra sem a consolidação dessas informações, nas quais, tudo indica que serão implementadas pelo CDU013 Gerenciar edital.

[2014-12-26 17:12] kleiberfaria opened #103 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - FA10"
Prezados,

Ao realizar o fluxo com perfil ["TRE" ], para realizar a opção "Atribuir Função Eleitoral a mesário" através do menu principal do SCM, o sistema não me apresenta a funcionalidade conforme print em anexo.

![k1](https://cloud.githubusercontent.com/assets/9218077/5558502/34604416-8d11-11e4-9442-3dbbdc12d68a.jpg)

![k2](https://cloud.githubusercontent.com/assets/9218077/5558509/8ea3b480-8d

[2014-12-26 17:24] kleiberfaria opened #104 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - FE4"
Prezados,

Conforme o fluxo, o sistema não permite a exibição da pendencia conforme caso de uso.

![k1](https://cloud.githubusercontent.com/assets/9218077/5558549/3d2386f6-8d13-11e4-9c1d-48fb7eb31ff8.jpg)

[2014-12-26 17:27] kleiberfaria opened #105 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - FE5"
Prezados,

Conforme o fluxo, o sistema não permite a exibição de um eleitor não autorizado.

![k1](https://cloud.githubusercontent.com/assets/9218077/5558562/aa2ab008-8d13-11e4-82fe-479660deff56.jpg)

[2014-12-26 17:32] kleiberfaria opened #106 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - FE9"
Prezados,

Conforme o fluxo, o sistema não permite verificar um determindado eleitor que estejá excluido de eleições futuras conforme CDU.

![k1](https://cloud.githubusercontent.com/assets/9218077/5558575/16272f98-8d14-11e4-84cd-2260dda00acb.jpg)

[2014-12-26 18:12] halvesl commented on #106
Kleiber, esse fluxo utiliza informações de iterações futuras, sendo assim não tenho como executá-lo sem a consolidação dessas informações.

[2014-12-26 18:14] halvesl commented on #105
Kleiber, esse fluxo utiliza informações de iterações futuras, sendo assim não tenho como executá-lo sem a consolidação dessas informações.

[2014-12-26 18:15] halvesl commented on #104
Kleiber, esse fluxo utiliza informações de iterações futuras, sendo assim não tenho como executá-lo sem a consolidação dessas informações.

[2014-12-26 19:28] halvesl commented on #95
corrigido. Aguardar próxima build.

[2014-12-29 14:39] jadossantos commented on #41
Ok.

[2014-12-29 14:39] #41 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #40
Ok.

[2014-12-29 14:40] #40 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #39
Ok.

[2014-12-29 14:40] #39 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #38
Ok.

[2014-12-29 14:40] #38 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #37
Ok.

[2014-12-29 14:40] #37 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #36
Ok.

[2014-12-29 14:40] #36 closed, assigned to VeraNakamura

[2014-12-29 14:40] jadossantos commented on #35
Ok.

[2014-12-29 14:40] #35 closed, assigned to VeraNakamura

[2014-12-29 14:41] jadossantos commented on #34
Ok.

[2014-12-29 14:41] #34 closed, assigned to VeraNakamura

[2014-12-29 14:41] jadossantos commented on #33
Ok.

[2014-12-29 14:41] #33 closed, assigned to VeraNakamura

[2014-12-29 14:41] jadossantos commented on #32
Ok.

[2014-12-29 14:41] #32 closed, assigned to VeraNakamura

[2014-12-29 14:41] jadossantos commented on #31
Ok.

[2014-12-29 14:41] #31 closed, assigned to VeraNakamura

[2014-12-29 14:42] jadossantos commented on #30
Ok.

[2014-12-29 14:42] #30 closed, assigned to VeraNakamura

[2014-12-29 14:42] jadossantos commented on #29
Ok.

[2014-12-29 14:42] #29 closed, assigned to VeraNakamura

[2014-12-29 14:42] jadossantos commented on #28
Ok.

[2014-12-29 14:42] #28 closed, assigned to VeraNakamura

[2014-12-29 14:42] jadossantos commented on #27
Ok.

[2014-12-29 14:42] #27 closed, assigned to VeraNakamura

[2014-12-29 14:42] jadossantos commented on #26
Ok.

[2014-12-29 14:42] #26 closed, assigned to nobody

[2014-12-29 14:42] jadossantos commented on #25
Ok.

[2014-12-29 14:42] #25 closed, assigned to VeraNakamura

[2014-12-29 14:43] jadossantos commented on #24
Ok.

[2014-12-29 14:43] #24 closed, assigned to VeraNakamura

[2014-12-29 14:43] jadossantos commented on #23
Ok.

[2014-12-29 14:43] #23 closed, assigned to VeraNakamura

[2014-12-29 14:43] jadossantos commented on #48
Ok.

[2014-12-29 14:43] #48 closed, assigned to VeraNakamura

[2014-12-29 14:43] jadossantos commented on #47
Ok.

[2014-12-29 14:43] #47 closed, assigned to VeraNakamura

[2014-12-29 14:43] jadossantos commented on #46
Ok.

[2014-12-29 14:43] #46 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #45
Ok.

[2014-12-29 14:44] #45 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #44
Ok.

[2014-12-29 14:44] #44 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #43
Ok.

[2014-12-29 14:44] #43 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #42
Ok.

[2014-12-29 14:44] #42 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #54
Ok.

[2014-12-29 14:44] #54 closed, assigned to VeraNakamura

[2014-12-29 14:44] jadossantos commented on #53
Ok.

[2014-12-29 14:44] #53 closed, assigned to VeraNakamura

[2014-12-29 14:45] jadossantos commented on #52
Ok.

[2014-12-29 14:45] #52 closed, assigned to VeraNakamura

[2014-12-29 14:45] jadossantos commented on #51
Ok.

[2014-12-29 14:45] #51 closed, assigned to VeraNakamura

[2014-12-29 14:45] jadossantos commented on #50
Ok.

[2014-12-29 14:45] #50 closed, assigned to VeraNakamura

[2014-12-29 14:45] jadossantos commented on #49
Ok.

[2014-12-29 14:45] #49 closed, assigned to VeraNakamura

[2014-12-29 19:52] halvesl commented on #103
corrigido!

[2014-12-29 21:11] kleiberfaria commented on #103
Item verificado !

[2014-12-29 21:11] #103 closed, assigned to halvesl

[2015-01-05 15:09] halvesl commented on #101
Mesmo não constante, fiz vários testes e experimentos com o mesmo e não obtive o erro, aparentemente está tudo ok. Com isso, não consigo atuar nesse erro.

[2015-01-05 15:10] kleiberfaria commented on #101
Item verificado !

[2015-01-05 15:10] #101 closed, assigned to halvesl

[2015-01-05 15:11] kleiberfaria commented on #88
Item verificado !

[2015-01-05 15:11] #88 closed, assigned to jmatil

[2015-01-05 16:09] kleiberfaria commented on #95
Item verificado!

[2015-01-05 16:09] #95 closed, assigned to kleiberfaria

[2015-01-12 16:47] saires commented on #97
Corrigido.

[2015-01-12 16:54] kleiberfaria commented on #97
Item verificado !!!

[2015-01-12 16:54] #97 closed, assigned to kleiberfaria

[2015-01-13 11:12] kleiberfaria opened #107 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - MRV"
Prezados,

Ao realizar o acesso na funcionalidade no menu Configurar [MRV], a aplicação apresenta a mensagem conforme o print em anexo.
![erro1](https://cloud.githubusercontent.com/assets/9218077/5719905/2fded302-9b04-11e4-8a93-7813f0e92731.jpg)

[2015-01-16 13:17] kleiberfaria commented on #76
Foi verificado a retirada do item relatado na issue

![corrigido](https://cloud.githubusercontent.com/assets/9218077/5776591/fc822684-9d70-11e4-8f8a-2cb9d4d2b707.PNG)

[2015-01-16 13:17] #76 closed, assigned to jmatil

[2015-01-16 13:22] kleiberfaria commented on #80
OK

[2015-01-16 13:22] #80 closed, assigned to jmatil

[2015-01-19 12:13] kleiberfaria opened #108 "CDU_SCM_005_Gerenciar_Criterio_Selecao_e_Base_de_Eleitores_Convocaveis - Posicionamento"
Prezados,

Na tela de interface FA 2, "voluntário" na aplicação no ambiente de homologação, não esta com campo de seleção conforme o CDU. Conforme imagem em anexo, favor verificar o posicionamento dos campos.

![css](https://cloud.githubusercontent.com/assets/9218077/5800249/647da052-9fc3-11e4-8283-7ec92e20778b.jpg)

![css2](https://cloud.githubusercontent.com/assets/9218077/5800280/a92c230e-9fc3-

[2015-01-19 12:53] jmatil opened #109 "CDU_SCM_007_Atribuir_Funcao_Eleitoral_a_Mesario - Mensagem Duplicada"
Favor verificar a mensagem emitida pelo sistema ao simular o fluxo de exceção 3 - Eleitor atribuído a outra função eleitoral, pois a mensagem está duplicada.

![issue](https://cloud.githubusercontent.com/assets/6584772/5800700/53e0cb74-9fc9-11e4-83a4-b17d99fb4f09.png)

[2015-01-19 19:25] halvesl commented on #108
corrigido, favor aguardar próximo deploy!

[2015-01-20 12:49] kleiberfaria commented on #108
Estarei verificando assim que for realizado o mesmo. Obrigado !

[2015-01-22 13:29] saires commented on #107
Deve ser definido como essas FUNÇÕES OBRIGATÓRIAS serão previamente cadastradas. Isso atualmente está sendo feito através de um script. Lembrando que cada eleição poderá ter funções diferentes (RN1 e RN2).

[2015-01-22 13:32] kleiberfaria opened #110 "CDU_SCM_037_Consultar_Pleito_Eleitoral - Filtro de Pesquisa - Referente ao CDU 37"
Prezados,

Ao realizar uma pesquisa para se obter um filtro de um determinado número de identificação e ao acessar o campo "Pesquisar" a aplicação traz mais números de identificação e não apenas de uma determinada pesquisa.

![4342](https://cloud.githubusercontent.com/assets/9218077/5856402/223c23e4-a22a-11e4-9a94-fce8040efd9a.jpg)

[2015-01-22 13:32] jmatil opened #111 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Mensagem"
Favor verificar a mensagem que está sendo duplicada ao executar o fluxo FA5 - Alterar Quantitativo para a função administrador de prédio.

![issueh1](https://cloud.githubusercontent.com/assets/6584772/5856440/5c683742-a22a-11e4-89f5-20c99d9ee47d.png)

[2015-01-22 15:36] jmatil opened #112 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Consulta por função especial"
Prezados
favor verificar o bug na caixa de texto referente a função especial, pois digitei a função na caixa de texto com a acentuação referente a palavra, acionei a opção pesquisar e o sistema não encontrou o resultado que consta entre as funções, pois foi trocado automaticamente a acentuação fazendo com que a pesquisa não obtivesse resultado satisfatório.
Obs.:
1) A letra acentuada foi replicand

[2015-01-22 16:20] jmatil opened #113 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Quantidade por local de votação"
Ao acionar o botão "Quantidade por Local de Votação" o sistema direciona o ator à tela de sistema disponíveis no Odin.
Obs.: A ação está sendo realizada utilizando o Município 57134 - JAGUARÉ

![issueh3](https://cloud.githubusercontent.com/assets/6584772/5859466/a4c8af00-a241-11e4-8ded-ac431b9d12d4.png)

[2015-01-23 13:02] saires commented on #111
Corrigido.

[2015-01-23 13:14] saires commented on #112
Corrigido.

[2015-01-23 13:15] saires commented on #113
Corrigido.

[2015-01-26 11:27] jmatil opened #114 "CDU_SCM_005_Gerenciar Criterio de Selecao e Base de Eleitores Convocaveis - Regra de apresentação"
Favor verificar se os itens solicitados na documentação deverão aparecer ao acionar a opção "Selecionar Manualmente" ou serão apresentados somente após a realização da pesquisa.

![issueh6](https://cloud.githubusercontent.com/assets/6584772/5899049/8dac2668-a53d-11e4-99da-cb0e8f1637dd.png)

[2015-01-26 12:05] halvesl commented on #114
De acordo com o Fluxo, será apresentada a lista de eleitores "pesquisados", e de acordo com a RN62, porém a mesma não especifica a forma com que a lista deveria ser apresentada. Por tanto, assumimos que essa lista será apresentada após a ação de pesquisa. Aí sim serão apresentados todos os eleitores pesquisados manualmente naquele instante.

[2015-01-26 12:51] jmatil commented on #114
Issue compreendida.

[2015-01-26 12:51] #114 closed, assigned to jmatil

[2015-01-26 13:14] saires commented on #110
Corrigido.

[2015-01-26 15:33] jmatil commented on #112
Confirmado a correção

[2015-01-26 15:33] #112 closed, assigned to jmatil

[2015-01-26 15:35] jmatil commented on #111
Correção confirmada

[2015-01-26 15:35] #111 closed, assigned to jmatil

[2015-02-09 18:28] jmatil opened #115 "CDU_SCM_041_Gerenciar_Evento - Atores"
Favor verificar o perfil de acesso exigido pela documentação

![issue1](https://cloud.githubusercontent.com/assets/6584772/6112577/713a3402-b078-11e4-8c2f-f9c1821c76c8.png)

[2015-02-10 15:21] saires commented on #115
Controle de menu implementado.

[2015-02-10 15:58] jmatil opened #116 "CDU_SCM_041_Gerenciar_Evento - Local de Votação"
Verificar a ação do ícone de pesquisa do local de votação, pois está sem ação.
OBS: Verificar a situação, pois impacta na simulação da RN65
![issue2](https://cloud.githubusercontent.com/assets/6584772/6130551/e5a4f246-b12c-11e4-82e1-c6753f8b071e.png)

![issue31](https://cloud.githubusercontent.com/assets/6584772/6288814/bd60d3bc-b902-11e4-8217-ac86765a3da9.png)

[2015-02-10 16:29] jmatil opened #117 "CDU_SCM_041_Gerenciar_Evento - Local de Votação / Botão Limpar"
Ao acionar a opção "Limpar", o ícone para realização da pesquisa do local de votação desaparece;

![issue3](https://cloud.githubusercontent.com/assets/6584772/6130609/2c7a5fe4-b12d-11e4-85a4-6c6a76a71783.png)

[2015-02-10 16:32] jmatil opened #118 "CDU_SCM_041_Gerenciar_Evento - Campo "Número""
O campo Número não está sendo limpo ao ser acionado a opção "Limpar"

![issue4](https://cloud.githubusercontent.com/assets/6584772/6131216/8607f9f0-b131-11e4-9a5c-6954dd7cafdb.png)

[2015-02-10 16:51] jmatil opened #119 "CDU_SCM_041_Gerenciar_Evento - Quantidade de caracteres"
Verificar a quantidade de Caracteres exigidos para os campos "Seção" e "Inscrição"

![issue5](https://cloud.githubusercontent.com/assets/6584772/6131587/343eb458-b134-11e4-859a-c5cd08eae688.png)

[2015-02-10 16:59] kleiberfaria opened #120 "CDU_SCM_037_Consultar_Pleito_Eleitoral - Filtro de Pesquisa - Menu Superior"
Prezados,

Conforme tela em anexo, o menu superior de navegação da aplicação SCM não está visivel após realizar o fluxo FB1. Consultar Pleito. O mesmo só é disponibilizados depois que é selecionado no menu "Selecionar Perfil"

![21](https://cloud.githubusercontent.com/assets/9218077/6131729/2a6427b4-b135-11e4-924e-173f786f0881.JPG)

[2015-02-10 17:32] jmatil opened #121 "CDU_SCM_041_Gerenciar_Evento - Descrição do Campo "Número""
Verificar se na citação da tabela de apresentação da tela há necessidade de disponibilidade do campo "Número", pois somente é citado na lista de resultado dos eleitores.

![issue6](https://cloud.githubusercontent.com/assets/6584772/6132448/c6ae1afe-b139-11e4-8b5f-b36a1ab9d61b.png)

[2015-02-10 17:38] jmatil opened #122 "CDU_SCM_041_Gerenciar_Evento - Campo Obrigatório"
O campo Município é de preenchimento obrigatório? Em caso positivo, favor verificar se há necessidade de inclusão ou adaptação em algum fluxo de Exceção.

![issue7](https://cloud.githubusercontent.com/assets/6584772/6132596/a10de5e4-b13a-11e4-9178-f3d85fd3cbdc.png)

[2015-02-10 17:50] jmatil commented on #117
Foi identificado que somente após a apresentação do município o local de votação deverá está habilitado para realização da pesquisa. RN38 - CONSULTAR MUNICÍPIO. Portanto a issue será fechada.

[2015-02-10 17:50] #117 closed, assigned to saires

[2015-02-10 18:14] jmatil opened #123 "CDU_SCM_041_Gerenciar_Evento - Funções eleitorais "Pré-Requisito CDU007""
Verificar a disponibilidade das funções eleitorais disponibilizadas referentes ao caso de uso 007 - Atribuir função eleitoral à mesário.

![issue8](https://cloud.githubusercontent.com/assets/6584772/6133202/76c65c26-b13f-11e4-8a22-c74ae65de41f.png)

[2015-02-10 18:27] jmatil opened #124 "CDU_SCM_041_Gerenciar_Evento - mensagem de alerta"
Verificar o comportamento do sistema para a situação relatada abaixo:
- Selecionar o campo: Seção;
- Pressionar a tecla: Alt + (nº 3 por três vezes);
- Acionar o botão: Consultar;
  Obs: A mesma situação ocorre na pesquisa do município e para os campo Número

![issue9](https://cloud.githubusercontent.com/assets/6584772/6133512/93a53a7c-b141-11e4-8ed6-263129754968.png)

[2015-02-10 18:38] jmatil opened #125 "CDU_SCM_041_Gerenciar_Evento - Funções especiais "Pré-Requisito CDU039""
Favor verificar o comportamento do sistema ao atribuir função Especial ao eleitor, pois é pré-requisito para esta iteração3. Segue imagem;

![issue10](https://cloud.githubusercontent.com/assets/6584772/6133714/0cde5b0c-b143-11e4-8d84-5b311b13e284.png)

[2015-02-10 19:01] saires commented on #120
Aparição do menu corrigida.

[2015-02-10 19:08] saires commented on #118
A ação do botão foi corrigida.

[2015-02-10 19:11] saires commented on #119
Mônica,
gentileza conduzir essa alteração em documentação. Encaminhei um e-mail com os comentários.

[2015-02-10 19:15] saires commented on #123
Corrigido.

[2015-02-11 09:59] jmatil commented on #123
Correção confirmada
![corrigido](https://cloud.githubusercontent.com/assets/6584772/6144932/caf7f9ce-b1c3-11e4-812e-a802de0120a8.png)

[2015-02-11 09:59] #123 closed, assigned to jmatil

[2015-02-11 10:00] jmatil commented on #115
Implementação confirmada

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6144963/0e056a4e-b1c4-11e4-8ef5-e23c7b6e8d66.png)

[2015-02-11 10:00] #115 closed, assigned to jmatil

[2015-02-11 10:04] jmatil commented on #118
Favor verificar novamente, pois até o momento não foi possível confirmar a correção realizada

[2015-02-11 10:06] jmatil commented on #113
Correção confirmada

[2015-02-11 10:06] #113 closed, assigned to jmatil

[2015-02-11 11:45] monicaleite commented on #119
O caso de uso foi ajustado conforme a aplicação, já está atualizado no git.

[2015-02-11 12:36] saires commented on #118
Faltava realizar deploy.

[2015-02-11 15:21] jmatil opened #126 "CDU_SCM_041_Gerenciar_Evento - Atribuir Funções eleitorais "Pré-Requisito CDU007""
O sistema não está salvando as funções atribuidas ou não emite alguma mensagem de alerta indicando a impossibilidade.

![issue11](https://cloud.githubusercontent.com/assets/6584772/6149591/ed1200ea-b1f0-11e4-9f60-8a9a2bdeb016.png)

[2015-02-11 15:26] jmatil opened #127 "CDU_SCM_041_Gerenciar_Evento - Atribuir Funções eleitorais "Pré-Requisito CDU007" - Pesquisa"
Favor verificar a realização da pesquisa do local de votação, pois está trazendo resultados desnecessários para realização da consulta. Segue imagem

![issue12](https://cloud.githubusercontent.com/assets/6584772/6149685/8c4716dc-b1f1-11e4-981a-48036fe3cab5.png)

[2015-02-11 16:26] jmatil opened #128 "CDU_SCM_041_Gerenciar_Evento - FE7 Exclusão de evento não permitido"
Este fluxo é chamado no FA2. Excluir Evento?

![issue14](https://cloud.githubusercontent.com/assets/6584772/6150971/cbbb4dee-b1f9-11e4-9a59-12fbc0b5ade9.png)

![issue13](https://cloud.githubusercontent.com/assets/6584772/6150957/b0893180-b1f9-11e4-95f8-f6614a58957a.png)

[2015-02-11 16:32] jmatil opened #129 "CDU_SCM_041_Gerenciar_Evento - Gerenciar Critério de Seleção / Pré-Requisito"
Verificar se na configuração de critérios "Estatísticas", a tabela contendo a quantidade de eleitores encontrados deverá conter a quantidade de eleitores ou se com o valor "zero" apresentado conforme imagem o resultado deverá ser apresentado.

![issue15](https://cloud.githubusercontent.com/assets/6584772/6151060/8f258272-b1fa-11e4-8bb3-886be9d431c8.png)

[2015-02-12 15:34] kleiberfaria opened #130 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Número do documento"
Prezados,

Ao inserir um "Número de Documento" qual alfa e númerico, a aplicação exibe a mensagem conforme print em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/6170423/d4873de4-b2bb-11e4-84b3-6161ebf8249c.png)

[2015-02-12 15:42] saires commented on #124
Esse erro é do componente do primefaces. Ele não trata todas as ações do usuário, como por exemplo a opção "colar" do botão direito do mouse. Para contornar essa situação seria necessário fluxos de exceção.

[2015-02-12 16:51] jmatil commented on #119
confirmado a correção na documentação atualizada.

[2015-02-12 16:51] #119 closed, assigned to jmatil

[2015-02-12 16:53] jmatil commented on #118
Ação confirmada

[2015-02-12 16:53] #118 closed, assigned to jmatil

[2015-02-12 17:43] kleiberfaria opened #131 "CDU_SCM_037_Consultar_Pleito_Eleitoral - Consultar Processo Eleitoral"
Prezados,

Ao realizar a consultar "Número de Identificação" conforme tela em anexo, o sistema apresenta a mensagen de erro. Já para no campo "Processo Eleitoral"  ao preencher o campo, o sistema deixa armazenado o que foi digitado anteriormente.

![1](https://cloud.githubusercontent.com/assets/9218077/6173206/6a4457fc-b2cd-11e4-81ee-409d22b1b838.jpg)

![2](https://cloud.githubusercontent.com/asse

[2015-02-12 18:21] saires commented on #131
Esse erro é do componente do primefaces. Ele não trata todas as ações do usuário, como por exemplo a opção "colar" do botão direito do mouse, permitindo assim caracteres em campos não deveriam ter. Para contornar essa situação seria necessário fluxos de exceção.

[2015-02-12 18:22] saires commented on #126
Corrigido.

[2015-02-12 19:45] halvesl commented on #130
corrigido!

[2015-02-13 10:00] jmatil commented on #126
Favor verificar, pois o erro persiste.

[2015-02-13 12:19] jmatil opened #132 "CDU_SCM_041_Gerenciar_Evento - Campo "Número" - MRJ"
Preciso de auxílio para compreender a origem do campo "Número". Há um cadastro anterior que dever ser realizado para obtenção da consulta utilizando este campo?

![issue16](https://cloud.githubusercontent.com/assets/6584772/6187143/c17304be-b369-11e4-8a2f-230cd7757429.png)

[2015-02-19 10:08] jmatil opened #133 "CDU_SCM_041_Gerenciar_Evento - Inclusão e identificação dos itens"
Favor verificar a identificação e a necessidade de inclusão do campo destacados na imagem

![issue18](https://cloud.githubusercontent.com/assets/6584772/6264813/7a3b7f82-b80e-11e4-9842-10c44dcb5a08.png)

[2015-02-19 10:57] jmatil opened #134 "CDU_SCM_041_Gerenciar_Evento - Consulta utilizando o campo "Inscrição""
Favor verificar a validação da ação de consulta utilizando parâmetros no campo "Inscrição"

![issue19](https://cloud.githubusercontent.com/assets/6584772/6265418/3733cb02-b815-11e4-805d-e492f1ff8eae.png)

[2015-02-19 11:07] jmatil opened #135 "CDU_SCM_041_Gerenciar_Evento - Consulta utilizando o campo "Situação""
Validar a consulta referente ao fluxo utilizando o campo Situação, pois não está retornando o resultado esperado.

![issue20](https://cloud.githubusercontent.com/assets/6584772/6265527/ae02b1b6-b816-11e4-9802-497bdfab03d8.png)

[2015-02-19 11:14] jmatil opened #136 "CDU_SCM_041_Gerenciar_Evento - Apresentação da Lista de Eventos e Motivos "RN70""
Verificar a apresentação da lista de eventos descrita conforme regra 70.

![issue21](https://cloud.githubusercontent.com/assets/6584772/6265628/855fab14-b817-11e4-93c0-e5739a97d33e.png)

[2015-02-19 11:19] jmatil commented on #136
Foi verificado que para a situação apresentada na imagem citada acima o evento apresentado está correto conforme a regra 84. Issue será fechada
![issue22](https://cloud.githubusercontent.com/assets/6584772/6265716/4eb8fb0a-b818-11e4-9701-e15b15b20acc.png)

[2015-02-19 11:19] #136 closed, assigned to saires

[2015-02-19 11:28] jmatil opened #137 "CDU_SCM_041_Gerenciar_Evento - Apresentação dos itens conforme exigência da documentação"
Verificar o modo de apresentação dos itens e possibilidade de edição dos campos conforme exigência da documentação.

![issue23](https://cloud.githubusercontent.com/assets/6584772/6265821/941f5dc8-b819-11e4-8a00-5f7697499f26.png)

[2015-02-19 11:35] jmatil opened #138 "CDU_SCM_041_Gerenciar_Evento - Quantidade de caracteres - Complemento"
Verificar a quantidade de caracteres exigidos para o campo "Complemento"

![issue24](https://cloud.githubusercontent.com/assets/6584772/6265947/97f6d952-b81a-11e4-8a07-7252c6ba398b.png)

[2015-02-19 11:46] jmatil opened #139 "CDU_SCM_041_Gerenciar_Evento - Apresentação dos itens conforme exigência da documentação: Hora/Minuto?"
Verificar se o item Hora/Minuto deverá ser apresentado.
Obs.: Favor verificar o formato: dia/mês/ano

![issue25](https://cloud.githubusercontent.com/assets/6584772/6266026/a200f90e-b81b-11e4-854b-7a148824726b.png)

[2015-02-19 11:53] jmatil opened #140 "CDU_SCM_041_Gerenciar_Evento - Itens não implementados"
Itens não estão implementados

![issue26](https://cloud.githubusercontent.com/assets/6584772/6266144/055b3892-b81d-11e4-829b-8250c2f59fae.png)

[2015-02-19 15:25] monicaleite commented on #122
Incluída obrigatoriedade para o campo Município e o fluxo de exceção FE9 referenciado no passo FB1.3. O git está atualizado.

[2015-02-19 15:28] monicaleite commented on #121
Incluído o campo na descrição da tela conforme protótipo da documentação.

[2015-02-19 15:30] monicaleite commented on #124
Sávio,

A regra informa que o campo permite apenas números, logo não deve passar esse erro, não é o caso de fazer exceção, visto que não é para permitir de forma alguma inserir letras.

[2015-02-19 15:35] monicaleite commented on #128
O fluxo FE7 foi inserido no passo FA2.3 do caso de uso e está atualizado no git.

[2015-02-19 15:37] monicaleite commented on #131
Sávio,

Esse erro deve ser tratado pela aplicação uma vez que a regra deixa claro que o campo é apenas numérico, não será criada uma exceção, pois não deve permitir caracteres.

[2015-02-19 15:39] monicaleite commented on #132
Essa informação está sendo levantada com o gestor, assim que obtivermos uma resposta a documentação será atualizada.

[2015-02-19 15:51] jmatil opened #141 "CDU_SCM_041_Gerenciar_Evento - Interrupção do fluxo"
Ao acionar o link o sistema direciona para a página do odin

![issue27](https://cloud.githubusercontent.com/assets/6584772/6270043/4783851e-b83e-11e4-90ab-89a6f9ea6794.png)

[2015-02-19 16:35] jmatil commented on #121
Confirmado a inclusão com base na documentação disponibilizada no repositório GIT

[2015-02-19 16:35] #121 closed, assigned to jmatil

[2015-02-19 16:37] jmatil commented on #122
Confirmado a inclusão com base na documentação disponibilizada no repositório GIT

[2015-02-19 16:37] #122 closed, assigned to jmatil

[2015-02-19 16:51] jmatil commented on #128
Confirmado a inclusão com base na documentação disponibilizada no repositório GIT

[2015-02-19 16:51] #128 closed, assigned to jmatil

[2015-02-19 18:57] saires commented on #134
Corrigido, verificar correção.

[2015-02-19 21:03] saires commented on #137
Esse tratamento deve ser realizado por um web designer. Acredito que o TSE não questione.

[2015-02-19 21:30] saires commented on #138
Ok, verificar correção.

[2015-02-19 21:34] saires commented on #139
Ok, verificar correção.

[2015-02-19 21:35] saires commented on #140
Corrigido, verificar correção.

[2015-02-19 21:45] saires commented on #124
Corrigido. Favor realizar novo teste.

[2015-02-19 21:47] saires commented on #131
Corrigido. Favor realizar novo teste.

[2015-02-19 22:09] saires commented on #133
Essas colunas são apresentadas apenas quando a pesquisa for feita pelo número da inscrição. Verificar FB1 e FA1.

[2015-02-19 22:10] saires commented on #134
Verificar.

[2015-02-19 22:26] saires commented on #126
Verificar novamente.

[2015-02-19 22:59] jmatil commented on #140
Confirmado a Implementação

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6277958/1d37cd1a-b87a-11e4-8ea9-7de6ad91a365.PNG)

[2015-02-19 22:59] #140 closed, assigned to jmatil

[2015-02-19 23:00] jmatil commented on #139
Favor confirmar novamente, pois o erro está persistindo

![issue30](https://cloud.githubusercontent.com/assets/6584772/6285662/77cef9cc-b8e5-11e4-8be5-727d456aefc3.png)

[2015-02-19 23:06] jmatil commented on #138
Confirmada a correção

[2015-02-19 23:06] #138 closed, assigned to jmatil

[2015-02-19 23:12] jmatil commented on #134
Item verificado

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6278174/e2f03b0e-b87b-11e4-9a34-e8e03a0198b1.PNG)

[2015-02-19 23:12] #134 closed, assigned to jmatil

[2015-02-20 10:54] jmatil opened #142 "CDU_SCM_041_Gerenciar_Evento - Exclusão de Evento"
Verificar a opção de Exclusão de eventos cadastrados, pois não está sendo possível simular a ação e nem emite a mensagem de impossibilidade.

![issue28](https://cloud.githubusercontent.com/assets/6584772/6284994/fc477010-b8dd-11e4-9723-3c0bea6f93e4.png)

[2015-02-20 11:02] jmatil opened #143 "CDU_SCM_041_Gerenciar_Evento - Inclusão do Evento "Dispensa" sem indicar o "Motivo""
Verificar a possibilidade de inclusão conforme a RN70

![issue29](https://cloud.githubusercontent.com/assets/6584772/6285121/29bb036c-b8df-11e4-9acc-9db8a9e0cf95.png)

[2015-02-20 11:34] jmatil commented on #126
Item verificado. Erro persiste

[2015-02-20 11:38] jmatil commented on #124
Seguindo os passos anteriormente citados o erro ainda persiste
![issue30](https://cloud.githubusercontent.com/assets/6584772/6285532/15248f86-b8e4-11e4-96c8-99922b15feeb.png)

[2015-02-20 13:28] kleiberfaria opened #144 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Solicitar um Eleitor"
Prezados,

Ao realilizar uma solicitação de uma "Inscrição" Eleitor, a aplicação fica processando . O sistema realiza o fluxo se sair e voltar para a aplicação novamente,

![1](https://cloud.githubusercontent.com/assets/9218077/6286885/9377742a-b8f3-11e4-9e83-82af5433a809.png)

[2015-02-20 13:48] kleiberfaria opened #145 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Exclusão de um eleitor solicitado"
Prezados,

Dúvida;

Ao consultar os eleitores solicitados conforme a imagem, é possivel realizar a exclusão dos mesmos mas sempre o primeiro eleitor que é solicitado esse não é possível excluir.

![33](https://cloud.githubusercontent.com/assets/9218077/6287158/5ae82246-b8f6-11e4-85b9-c10918cc877f.png)

[2015-02-20 15:26] jmatil opened #146 "CDU_SCM_041_Gerenciar_Evento - Pesquisa utilizando parâmetro seção"
Verificar a pesquisa de eleitores utilizando o campo seção, pois não foi possível ser realizado a consulta

![issue32](https://cloud.githubusercontent.com/assets/6584772/6288961/046ba88a-b904-11e4-8752-aff46c2f8203.png)

[2015-02-20 15:41] jmatil opened #147 "CDU_SCM_041_Gerenciar_Evento - Identificação do Tipo de Mesa"
Verificar a apresentação do tipo de mesa ao acionar o link de inserção de eventos.

![issue33](https://cloud.githubusercontent.com/assets/6584772/6289276/19338be6-b906-11e4-8af4-59fe8ec4eacf.png)

[2015-02-20 15:58] kleiberfaria opened #148 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - FE5 Inscrição Inexistente"
Ao informar uma incrição pelo o qual a inscrição não existe, o sistema não esta apresentando a mensagem MSG020 [ Não foi encontrado eleitor com a inscrição informada ]

![33](https://cloud.githubusercontent.com/assets/9218077/6289568/301e4aba-b908-11e4-8978-3e0fc09ee6e1.jpg)

[2015-02-20 16:13] monicaleite commented on #137
Jailson,

Como a tela contém todos os itens previstos no caso de uso e no intuito de melhorar a visualização da informação, sugiro que a tela fique conforme foi desenvolvida, visto que o protótipo na forma de layout é apenas uma orientação para o desenvolvimento, salvo os casos em que o usuário informe que deseja que seja exatamente igual, o que não é o caso.

[2015-02-20 16:14] jmatil opened #149 "CDU_SCM_041_Gerenciar_Evento - Apresentação dos itens no "Detalhamento do Evento""
Verificar a regra relacionada ao detalhamento do evento para a mesa "Função Especial" onde os itens Seção e Número não deverão ser apresentados.

![issue34](https://cloud.githubusercontent.com/assets/6584772/6289914/aa49ad78-b90a-11e4-9a73-4c0bd1b50525.png)

[2015-02-20 16:50] jmatil opened #150 "CDU_SCM_041_Gerenciar_Evento - Apresentação dos itens para situação "Nomeado""
Todos estes itens citados na Regra 85 deverão ser apresentados? Pois tem informações repetidas.

![issue35](https://cloud.githubusercontent.com/assets/6584772/6305049/948fb07c-b90f-11e4-8538-73bb0a85097b.png)

[2015-02-20 17:06] jmatil opened #151 "CDU_SCM_041_Gerenciar_Evento - Inclusão de Eventos "Tela Odin""
Na tentativa de incluir um 4º Evento para o eleitor o sistema não confirmou a inclusão e ao realizar novamente o login e clicar no número de identificação do eleitor do qual foi feito a tentativa de inclusão o sistema está direcionando para a tela de sistemas do "Odin"

![issue36](https://cloud.githubusercontent.com/assets/6584772/6305385/01215112-b912-11e4-9566-9221cb150dac.png)

[2015-02-20 17:49] jmatil opened #152 "CDU_SCM_041_Gerenciar_Evento - Tipo de Mesa para o Evento"
O tipo de mesa apresentado na tabela destacada na figura abaixo deveria ser a mesma atribuída ao eleitor através da atribuição de funções?  A eleitora "046010500450" foi atribuida utilizando a MRJ, mas ao apresentar o resultado na tabela de Gerenciamento de Eventos, a mesa está como MRV.

![issue37](https://cloud.githubusercontent.com/assets/6584772/6306129/e3786366-b917-11e4-8965-1e2005828949.png

[2015-02-20 18:27] kleiberfaria opened #153 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Pesquisar Inscrição"
Ao realizar a pesquisa de um eleitor com a sua determinada inscrição, o sistema esta páginando e replicando o mesmo eleitor por várias vezes.

![33](https://cloud.githubusercontent.com/assets/9218077/6306756/4c4cda70-b91d-11e4-9a22-a20836db9ae5.jpg)

[2015-02-20 18:33] monicaleite commented on #132
Informação repassada pelo Leônidas. Esta informação vem da tabela admcad.MRJ. Verificar junto ao desenvolvimento o que será modificado no sistema.

[2015-02-23 11:34] jmatil commented on #132
Sávio
Você tem conhecimento se algo deverá ser ou não implementado para obtermos resultados favoráveis?

[2015-02-23 11:43] jmatil commented on #137
Conforme orientação acima a issue será encerrada.

[2015-02-23 11:43] #137 closed, assigned to jmatil

[2015-02-23 12:28] monicaleite commented on #150
Se repetem para algumas situações.

[2015-02-23 14:08] halvesl commented on #153
corrigido!

[2015-02-23 17:09] halvesl commented on #148
corrigido! Aguardar deploy!

[2015-02-23 17:10] halvesl commented on #145
Na solicitação de eleitores somente é possível excluir se a situação estiver como "Solicitado".

[2015-02-23 17:10] halvesl commented on #144
corrigido!

[2015-02-24 13:22] halvesl commented on #127
corrigido!

[2015-02-24 14:04] saires commented on #125
Realizar novo teste.

[2015-02-24 14:06] saires commented on #126
Favor realizar novo teste.

[2015-02-24 14:07] saires commented on #141
Favor realizar novo teste.

[2015-02-24 14:09] saires commented on #142
Favor realizar novo teste.

[2015-02-24 14:09] saires commented on #146
Favor realizar novo teste.

[2015-02-24 14:13] saires commented on #143
Favor realizar novo teste.

[2015-02-24 16:18] jmatil commented on #125
Reteste realizado. Correção confirmada para o Ambiente (Integração)

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6353353/9aaadab6-bc27-11e4-87f5-4938e72bbd8d.png)

[2015-02-24 16:18] #125 closed, assigned to jmatil

[2015-02-24 16:22] jmatil commented on #126
Correção confirmada
![corrigido](https://cloud.githubusercontent.com/assets/6584772/6353454/18a3e192-bc28-11e4-8ddd-ae5353f11a70.png)

[2015-02-24 16:22] #126 closed, assigned to jmatil

[2015-02-24 16:25] jmatil commented on #127
Correção confirmada

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6353505/87d0062c-bc28-11e4-8383-6c3264160c9c.png)

[2015-02-24 16:25] #127 closed, assigned to jmatil

[2015-02-24 16:33] jmatil commented on #141
Confirmado a correção

[2015-02-24 16:33] #141 closed, assigned to jmatil

[2015-02-24 16:40] jmatil commented on #142
Reteste realizado. Exclusão sendo realizada.

[2015-02-24 16:40] #142 closed, assigned to jmatil

[2015-02-24 16:43] jmatil commented on #146
Correção confirmada

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6353957/235f04e2-bc2b-11e4-96e5-c349bf4eb8e2.png)

[2015-02-24 16:43] #146 closed, assigned to jmatil

[2015-02-24 16:46] jmatil commented on #133
Issue compreendida

[2015-02-24 16:46] #133 closed, assigned to jmatil

[2015-02-24 16:48] jmatil commented on #139
confirmado a correção
![corrigido](https://cloud.githubusercontent.com/assets/6584772/6354047/c6b0d918-bc2b-11e4-8b0e-7762a3602004.png)

[2015-02-24 16:48] #139 closed, assigned to jmatil

[2015-02-24 16:52] jmatil commented on #143
Reteste realizado. Issue persiste

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6354138/52cf01e0-bc2c-11e4-90ea-7f66083df050.png)

[2015-02-24 17:01] jmatil opened #154 "CDU_SCM_041_Gerenciar_Evento - Inclusão de Evento duplicados"
Verificar a duplicidade de eventos após acionar a opção "Salvar"

![issue38](https://cloud.githubusercontent.com/assets/6584772/6354348/93f08382-bc2d-11e4-84ee-6b513aac9b9b.png)

[2015-02-24 17:16] jmatil opened #155 "CDU_SCM_041_Gerenciar_Evento - Pesquisa utilizando como parâmetro o 'Local de Votação'"
Verificar a consulta de eleitores utilizando como parâmetro o local de votação

![issue39](https://cloud.githubusercontent.com/assets/6584772/6354604/4e55bd54-bc2f-11e4-9925-b573bc457e69.png)

[2015-02-24 17:22] jmatil opened #156 "CDU_SCM_041_Gerenciar_Evento - Botão Limpar / Permanencia do Local de Votação"
Ao acionar o botão limpar o campo local de votação permanece preenchido

![issue40](https://cloud.githubusercontent.com/assets/6584772/6354761/6729886e-bc30-11e4-82fd-2e5b0f1f72d3.png)

[2015-02-24 17:47] halvesl commented on #109
corrigido!

[2015-02-24 18:29] saires commented on #143
Esse registro estava inconsistente. Realizar novo teste.

[2015-02-24 18:30] saires commented on #151
Favor realizar novo teste.

[2015-02-24 18:34] saires commented on #154
Corrigido. Favor realizar novo teste.

[2015-02-24 18:37] saires commented on #149
Corrigido. Favor realizar novo teste.

[2015-02-24 20:24] saires commented on #156
Corrigido. Favor realizar novo teste.

[2015-02-24 20:24] saires commented on #155
Favor realizar novo teste.

[2015-02-24 20:24] saires commented on #116
Corrigido. Favor realizar novo teste.

[2015-02-24 20:25] saires commented on #147
Favor realizar novo teste.

[2015-02-24 20:43] saires commented on #132
O UC07 (Atribuir função eleitoral a mesário) seria na teoria o responsável por cadastrar o número da MRJ. Porém esse UC não trata como essa informação será salva. Na última reunião foi definido de onde será extraído mas ainda falta definir como isso será feito no caso de uso.

[2015-02-24 20:44] saires commented on #152
Essa situação é a mesma tratada na issue https://github.com/islssa/SCM/issues/132

[2015-02-25 16:27] jmatil commented on #156
Correção confirmada

[2015-02-25 16:27] #156 closed, assigned to jmatil

[2015-02-25 16:37] jmatil commented on #147
Favor avaliar novamente

[2015-02-25 16:39] jmatil commented on #154
Correção confirmada

[2015-02-25 16:39] #154 closed, assigned to jmatil

[2015-02-25 16:50] jmatil commented on #155
Favor verificar a pesquisa acrescentando o campo "Seção".

![issue42](https://cloud.githubusercontent.com/assets/6584772/6375355/4be6581e-bcf5-11e4-9186-c819889aa7e3.png)

[2015-02-26 13:43] jmatil opened #157 "CDU_SCM_041_Gerenciar_Evento - Regra 66"
Não foi possível localizar o Local de Votação para a função especial "Administrador de Prédio" chamado no FA 1.6

![issue43](https://cloud.githubusercontent.com/assets/6584772/6392909/16d6b754-bda4-11e4-99bc-1e01fdfde34e.png)

[2015-02-26 16:21] jmatil opened #158 "CDU_SCM_041_Gerenciar_Evento - Salvar Evento"
Verificar o comportamento do sistema, pois na tentativa de salvar um evento utlizando a capacidade máxima do campo, o sistema não demonstra se realizou a inclusão na base de dados. Segue imagem da simulação.

![issue44](https://cloud.githubusercontent.com/assets/6584772/6395922/3e671082-bdba-11e4-9a24-e345b4c033f0.png)

[2015-02-26 18:00] jmatil opened #159 "CDU_SCM_041_Gerenciar_Evento - Campo "Motivo""
Favor verificar os motivos referentes à dispensa, pois alguns estão com a grafia errada:
Alguns itens Identificados:

![issue45](https://cloud.githubusercontent.com/assets/6584772/6398081/e432ebe6-bdc7-11e4-9bde-cc8551deac27.png)

[2015-02-26 18:27] jmatil opened #160 "CDU_SCM_041_Gerenciar_Evento - Qtd de Eventos"
Verificar se há limitação na qtd de eventos a serem lançados, pois não está sendo possível lançar mais de 10 eventos para uma inscrição, mas o sistema emite a mensagem de sucesso.

![issue46](https://cloud.githubusercontent.com/assets/6584772/6398647/cac65464-bdcb-11e4-99ec-3b8d0ec1919a.png)

[2015-02-26 19:43] jmatil commented on #149
Correção confirmada

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6400262/93a35918-bdd6-11e4-9f41-df9a3051f7a1.png)

[2015-02-26 19:43] #149 closed, assigned to jmatil

[2015-02-26 19:49] jmatil commented on #143
Item corrigido

![corrigido](https://cloud.githubusercontent.com/assets/6584772/6400362/0c734696-bdd7-11e4-9acf-4b6b20952531.png)

[2015-02-26 19:49] #143 closed, assigned to jmatil

[2015-02-26 19:51] jmatil commented on #151
Correção confirmada

[2015-02-26 19:51] #151 closed, assigned to jmatil

[2015-02-26 19:55] jmatil commented on #109
correção confirmada

[2015-02-26 19:55] #109 closed, assigned to jmatil

[2015-02-26 19:56] jmatil commented on #116
Correção confirmada

[2015-02-26 19:56] #116 closed, assigned to jmatil

[2015-02-26 21:47] halvesl commented on #129
corrigido!

[2015-02-26 22:08] saires commented on #158
Realizar novo teste.

[2015-02-26 22:08] saires commented on #155
Realizar novo teste.

[2015-02-26 22:09] saires commented on #135
Realizar novo teste.

[2015-02-26 22:09] saires commented on #147
Realizar novo teste.

[2015-02-26 22:19] saires commented on #160
Verificar na aba 2.

[2015-02-26 22:28] jmatil commented on #129
Correção confirmada

[2015-02-26 22:28] #129 closed, assigned to jmatil

[2015-02-26 22:43] jmatil commented on #160
Confirmado

[2015-02-26 22:43] #160 closed, assigned to jmatil

[2015-02-26 23:04] kleiberfaria opened #161 "CDU_SCM_040_Solicitar_e_Autorizar_Eleitor - Campo Data"
No campo Período de Solicitação da Zona Eleitoral: Para inserir uma data, a aplicação permite colocar datas fora do formato conforme imagem em anexo.

![11](https://cloud.githubusercontent.com/assets/9218077/6404028/94a4c95c-bdf2-11e4-96c7-4e11efe01fa1.jpg)

[2015-02-27 11:15] jmatil commented on #155
O sistema está trazendo resultado de eleitores cadastrados em outras "Mesas" da qual não são pertencentes.

![issue47](https://cloud.githubusercontent.com/assets/6584772/6411590/cc44ede0-be58-11e4-809b-6e08a842f137.png)

[2015-02-27 11:18] jmatil commented on #147
Implementação confirmada
![corrigido](https://cloud.githubusercontent.com/assets/6584772/6411634/310236b6-be59-11e4-9f69-be78f1cee72f.png)

[2015-02-27 11:18] #147 closed, assigned to jmatil

[2015-02-27 11:34] jmatil commented on #135
Ao selecionar uma situação que não pertence a nenhum eleitor o sistema não retorna mensagem de alerta.
![issue48](https://cloud.githubusercontent.com/assets/6584772/6411823/6779b5be-be5b-11e4-80e6-9e72f902d286.png)

[2015-02-27 11:47] jmatil commented on #158
Situação persiste
![corrigido](https://cloud.githubusercontent.com/assets/6584772/6412016/3384481c-be5d-11e4-9964-bb65875daecf.png)

[2015-02-27 12:18] jmatil opened #162 "CDU_SCM_041_Gerenciar_Evento - Pesquisa de eleitor pertencente a outro município"
Foi realizado a pesquisa utilizando o número de inscrição, mas com o município diferente de onde foi solicitado o eleitor. O sistema trouxe resultado.

![issue49](https://cloud.githubusercontent.com/assets/6584772/6412355/77a3845a-be61-11e4-8303-0c3029e59deb.png)

[2015-02-27 13:18] saires commented on #158
não consegui simular.

[2015-02-27 17:09] halvesl commented on #161
corrigido em desenv, favor aguardar o proximo merge e deploy em homolog.

[2015-02-27 17:17] saires commented on #155
Testar novamente.

[2015-02-27 17:18] saires commented on #135
Testar novamente.

[2015-02-27 19:55] jmatil commented on #135
Problema persiste

[2015-02-27 19:57] jmatil commented on #159
Correção confirmada

[2015-02-27 19:57] #159 closed, assigned to jmatil

[2015-02-27 20:54] saires commented on #162
realizar novo teste.

[2015-03-02 13:53] kleiberfaria commented on #153
Item verificado !

[2015-03-02 13:53] #153 closed, assigned to kleiberfaria

[2015-03-02 13:57] kleiberfaria commented on #148
Item verificado !

[2015-03-02 13:57] #148 closed, assigned to kleiberfaria

[2015-03-02 14:03] kleiberfaria commented on #145
Item verificado !

[2015-03-02 14:03] #145 closed, assigned to kleiberfaria

[2015-03-02 14:04] kleiberfaria commented on #144
Verificado na aplicação. Item verificado !

[2015-03-02 14:04] #144 closed, assigned to kleiberfaria

[2015-03-02 15:02] saires commented on #157
realizar novo teste.

[2015-03-02 16:36] jmatil commented on #162
Correção confirmada

[2015-03-02 16:36] #162 closed, assigned to jmatil

[2015-03-02 16:40] jmatil commented on #155
correção confirmada

[2015-03-02 16:40] #155 closed, assigned to jmatil

[2015-03-02 18:18] jmatil opened #163 "CDU_SCM_041_Gerenciar_Evento - Ação não contemplada na documentação"
Não foi identificado esse comportamento nas documentações que envolvam esse caso de uso. Favor verificar com o desenvolvedor a necessidade de inclusão de fluxos, regras e mensagens que contemplem esta ação no sistema.
![issue50](https://cloud.githubusercontent.com/assets/6584772/6450795/1974599a-c109-11e4-92dc-8c1f9feffe4b.png)

[2015-03-02 20:30] jmatil opened #164 "CDU_SCM_041_Gerenciar_Evento - Entendimento do fluxo / Ação não simulada"
Precisamos de auxílio para entendimento do fluxo FE7. Exclusão de evento não permitido
![issue51](https://cloud.githubusercontent.com/assets/6584772/6449748/be382da6-c101-11e4-9be4-9520b0aff13f.png)

[2015-03-02 21:00] saires commented on #135
validar.

[2015-03-02 21:09] kleiberfaria commented on #86
Item verificado!

[2015-03-02 21:09] #86 closed, assigned to kleiberfaria

[2015-03-02 22:38] jmatil commented on #124
Correção confirmada

[2015-03-02 22:38] #124 closed, assigned to saires

[2015-03-02 22:40] jmatil commented on #135
Issue validada

[2015-03-02 22:40] #135 closed, assigned to jmatil

[2015-03-02 22:55] jmatil commented on #158
Verificar novamente

![issue50](https://cloud.githubusercontent.com/assets/6584772/6452650/f40c19e2-c115-11e4-93cb-9c5f3ba8e70b.png)

[2015-03-03 12:35] jmatil commented on #157
Não foi possível simular esta apresentação.

[2015-03-03 12:40] saires commented on #157
Esse campo não é tratado em documentação.

[2015-03-03 12:44] jmatil commented on #157
Mônica
poderia avaliar conforme relato acima?

[2015-03-03 17:21] monicaleite commented on #157
Sávio,

O Jailson acabou de mostrar na regra que precisa do campo, como assim não está em documentação?

[2015-03-03 17:24] monicaleite commented on #164
Não entendi a dúvida, nesse fluxo fala que se o evento for "Nomeação" e tiver um eleitor atribuído não poderá ser excluído.

[2015-03-03 17:26] monicaleite commented on #163
Então deverá ser verificado com o desenvolvimento o porque existe um tratamento que não está descrito no caso de uso, caso precise existir é necessário que quem desenvolvem me passe, o motivo para que eu possa atualizar a documentação.

[2015-03-03 17:28] monicaleite commented on #152
Sávio,

Em conversa com o Jailson, não entedemos a relação dessa issue com a #132 , aqui o que está ocorrendo é que uma mesa que era do tipo MRJ quando consultada esta aparecendo com o tipo MRV.

[2015-03-03 17:38] saires commented on #157
![cap1](https://cloud.githubusercontent.com/assets/10027679/6468296/e8ad58d4-c1b2-11e4-9ccc-51a5ee8fde49.PNG)
![cap2](https://cloud.githubusercontent.com/assets/10027679/6468300/efaaf1be-c1b2-11e4-9039-c3900dc83edc.PNG)

[2015-03-03 17:39] saires commented on #157
Como isso será evidenciado?

[2015-03-03 17:41] saires commented on #152
Enquanto a correção do UC7 para esse tipo de mesa não ocorrer essa exibição está prejudicada.

[2015-03-04 12:50] monicaleite commented on #157
Jailson e Sávio,

Em conversa com o Paulo, devido a entrega já ter sido realizada e essa mudança gerar alteração nos scripts de teste que já estão disponíveis para o cliente, iremos aguardar que o cliente identifique o erro e abra o bugzilla para realizamos a correção.
Entretanto saliento que apesar do campo não está descrito na tela existia uma regra em que deixa claro quando esse campo deveria s

[2015-03-04 12:54] monicaleite commented on #152
Sávio,

Preciso que vc me oriente o que precisa ser corrigido para que esse erro não ocorra mais.

[2015-03-04 13:01] monicaleite commented on #150
Os itens “Falta a Reunião”, “Falta a Treinamento”, que estavam repetidos foram retirados da regra.

[2015-03-04 13:28] monicaleite commented on #132
Sávio,

Preciso que vc me oriente no que precisa ser mudado no caso de uso para que fique claro o entendimento sobre o campo número.

[2015-03-04 18:57] monicaleite commented on #152
Vamos aguardar que o cliente identifique o problema e abra bugzilla para correção.

[2015-03-04 18:57] monicaleite commented on #132
Vamos aguardar que o cliente identifique o problema e abra bugzilla para correção.

[2015-03-05 19:32] jmatil commented on #150
Confirmado a correção conforme documentação atualizada e diponibilizada no Git

[2015-03-05 19:32] #150 closed, assigned to jmatil

[2015-03-05 19:40] jmatil commented on #158
Confirmado a correçao

[2015-03-05 19:40] #158 closed, assigned to saires

[2015-03-05 19:48] kleiberfaria commented on #161
Item verificado também em ambiente de homologação.

[2015-03-05 19:48] #161 closed, assigned to kleiberfaria

[2015-03-05 19:49] kleiberfaria commented on #131
Item verificado !

[2015-03-05 19:49] #131 closed, assigned to kleiberfaria

[2015-03-05 19:50] kleiberfaria commented on #130
Esse GIT foi corrigido e verificado, se tratando do erro relatado.

[2015-03-05 19:50] #130 closed, assigned to kleiberfaria

[2015-04-02 17:18] jmatil opened #165 "ACESSO ÀS FUNCIONALIDADES DO SISTEMA"
Houve alguma alteração ao acesso às funcionalidades? Na versão anterior o sistema dava acesso aos itens do menu quando informávamos o último item que é o 'Pleito Eleitoral'. Agora só temos acesso se preenchermos os campos e acionarmos a opção: "Selecionar Perfil". Segue imagem

![1](https://cloud.githubusercontent.com/assets/6584772/6969184/e7556146-d942-11e4-931a-9aa5bcc254ac.png)

[2015-04-02 19:14] jmatil opened #166 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Tempo de realização da pesquisa"
O tempo de realização da pesquisa para atribuição da função eleitoral está com o tempo demorado. Isso é comum?

![2](https://cloud.githubusercontent.com/assets/6584772/6971475/2670cca2-d953-11e4-8d25-3f2d80f75192.png)

[2015-04-02 19:47] jmatil commented on #165
Sistema normalizado

[2015-04-02 19:47] #165 closed, assigned to halvesl

[2015-04-02 20:15] kleiberfaria opened #167 "CDU_SCM_040_Solicitar e Autorizar Eleitor - Situação da Solicitação"
Prezados,

Na tela Autorizar Eleitor de outra Zona Eleitoral, existe um erro na grafia conforme tela em anexo.
![1](https://cloud.githubusercontent.com/assets/9218077/6972666/be586054-d95b-11e4-9be5-28944d0af229.jpg)

[2015-04-02 20:15] jmatil opened #168 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos - Visualização das Funções após salvar"
Favor verificar a ação após salvar a configuração da mesa, pois não está como anteriormente quando era possível visualizar a opção "Alterar"

![4](https://cloud.githubusercontent.com/assets/6584772/6972688/dc044c76-d95b-11e4-9976-7bf7afacfad8.png)

[2015-04-02 21:28] halvesl commented on #167
Favor, solicitar alteração em banco.

[2015-04-02 21:29] halvesl commented on #166
Corrigido. Favor aguardar próximo deploy.

[2015-04-08 13:30] jmatil opened #169 "CDU_SCM_041_Gerenciar_Evento - Convocar Eleitor FA4"
Ao realizar a pesquisa e o sistema apresentar o resultado, o sistema disponibiliza os eleitores para seleção, mas ao selecionar e acionar a opção (Botão) 'convocar', o sistema direciona para a tela de sistemas do ODIN.

![5](https://cloud.githubusercontent.com/assets/6584772/7046142/25fdb29a-ddda-11e4-9286-f3e434fd93b3.png)

[2015-04-08 16:49] jmatil opened #170 "CDU_SCM_003_Gerenciar Configuracao de Mesa Receptora de Justificativas - Acesso"
Na tentativa de alterar uma função disponível e já com eleitor atribuido, o sistema não permite realizar a alteração. Foi preciso acionar a página anterior para ter acesso à aplicação, mas o acesso ao submenu MRV ficou inacessível, pois a aplicação direciona o ator à pagina de sistemas do ODIN

![6](https://cloud.githubusercontent.com/assets/6584772/7050193/f4868ebe-ddf5-11e4-9097-12731d0af9ac.png

[2015-04-08 17:41] jmatil opened #171 "CDU_SCM_041_Gerenciar_Evento - Incluir Evento à eleitor de outra zona"
Verificar a possibilidade de inclusão de um evento a um eleitor solicitado e autorizado de outra zona eleitoral e já com função atribuida.

![7](https://cloud.githubusercontent.com/assets/6584772/7051244/423da546-ddfd-11e4-9197-560a13996403.png)

[2015-04-08 18:00] saires commented on #170
Validar.

[2015-04-08 18:00] saires commented on #168
Validar.

[2015-04-08 18:01] saires commented on #169
Validar.

[2015-04-09 10:34] jmatil commented on #170
Problema persiste

[2015-04-09 10:45] jmatil commented on #169
Ação validada

[2015-04-09 10:45] #169 closed, assigned to jmatil

[2015-04-09 10:50] jmatil commented on #168
Ação validada
![9](https://cloud.githubusercontent.com/assets/6584772/7065352/1df9b32e-de8d-11e4-9bb1-913b2965808e.png)

[2015-04-09 10:50] #168 closed, assigned to jmatil

[2015-04-09 11:20] jmatil opened #172 "CDU_SCM_041_Gerenciar_Evento - Eleitor Atribuido, função não encontrada"
O eleitor da zona 21 foi convocado para realizar funções eleitorais na zona 001, mas está sendo permitido realizar consultas para realização de atribuições na zona 21. Essa ação está correta?

![10](https://cloud.githubusercontent.com/assets/6584772/7065737/33f81c20-de91-11e4-8924-eee662af44a6.png)

![12](https://cloud.githubusercontent.com/assets/6584772/7066080/29aaf19e-de95-11e4-9b5d-b19662becb

[2015-04-09 11:36] jmatil opened #173 "CDU_SCM_041_Gerenciar_Evento - Fluxo FA4 pesquisa"
Verificar a realização da pesquisa utilizando como filtro de pesquisa a situação: Atribuido. O sistema não está filtrando.

![11](https://cloud.githubusercontent.com/assets/6584772/7065920/69144a4e-de93-11e4-92fe-be20e020ed8a.png)

[2015-04-09 12:08] kleiberfaria opened #174 "CDU_SCM_040_Solicitar e Autorizar Eleitor - FE 3 Eleitor não esta cim situação regular"
Prezados,

No fluxo FE 3 do CDU_SCM_040, a mensagem que é apresentada no sistema conforme tela em anexo:
[ O Eleitor " " não está apto aos trabalhos eleitorais ]. Porém, na RMG e no CDU_040, a mensagem apresentada é: [ Eleitor (es) não autorizado(s) para os trabalhos eleitorais.]
![2](https://cloud.githubusercontent.com/assets/9218077/7066324/dde5556c-de97-11e4-92b9-40e20fc870c1.png)
![1](https://

[2015-04-09 13:42] jmatil opened #175 "CDU_SCM_041_Gerenciar_Evento - Fluxo FE3"
Sistema não está emitindo a mensagem solicitada no caso de uso

![13](https://cloud.githubusercontent.com/assets/6584772/7067907/109e196e-dea5-11e4-82b5-acd9c86d9e78.png)

[2015-04-10 03:32] saires commented on #173
Jaílson, favor validar correção.

[2015-04-28 19:44] kleiberfaria opened #176 "CDU_SCM_002_Gerenciar Config de Mesa Receptora - Exclusão"
Prezados,
Após realizar uma inclusão de Funções Eleitorais, não esta sendo possível realizar a exclusão da mesma.
![1](https://cloud.githubusercontent.com/assets/9218077/7378697/b81609e8-edc5-11e4-8901-25d72147b085.png)

[2015-04-28 19:53] kleiberfaria opened #177 "CDU_SCM_003_Gerenciar Config de Mesa Recep Justificativa - Exclusão"
Prezados,

Ao realizar a seleção das Funções Eleitorais, não esta sendo possível realizar a exclusão da mesma conforme tela em anexo.
![2](https://cloud.githubusercontent.com/assets/9218077/7378889/1e4cc728-edc7-11e4-9fc2-a47625f79d5b.png)

[2015-04-29 17:17] jmatil opened #178 "CDU_SCM_005_Gerenciar Criterio de Selecao e Base de Eleitores Convocaveis - Acesso"
O acesso à funcionalidade está impossibilitado de ser realizado.
![1](https://cloud.githubusercontent.com/assets/6584772/7396781/5b725736-ee7a-11e4-9155-4d1d6449d06f.png)

[2015-04-29 17:27] jmatil opened #179 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Acionamento da Pesquisa"
Ao selecionar o Município "São Mateus" e acionar a opção "PESQUISAR", o sistema direciona o ator à página de sistemas disponíveis na aplicação Odin.

![2](https://cloud.githubusercontent.com/assets/6584772/7397008/d2667a2e-ee7b-11e4-84c7-e63dd135a1b0.png)

[2015-04-29 19:51] saires commented on #178
Gentileza validar a correção.

[2015-04-29 19:51] saires commented on #177
Gentileza validar a correção.

[2015-04-29 19:53] saires commented on #176
Gentileza validar a correção.

[2015-04-29 19:54] saires commented on #179
Gentileza validar a correção.

[2015-04-30 12:24] kleiberfaria commented on #177
Item verificado. Obrigado !

[2015-04-30 12:24] #177 closed, assigned to kleiberfaria

[2015-04-30 12:25] kleiberfaria commented on #176
Item verificado. Obrigado !

[2015-04-30 12:25] #176 closed, assigned to kleiberfaria

[2015-04-30 13:26] jmatil opened #180 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Vínculo"
Verificar a possibilidade de vinculação de eleitores à função especial. O sistema fica em "loop". Segue imagem da situação.

![3](https://cloud.githubusercontent.com/assets/6584772/7413575/4e738c5e-ef23-11e4-85ce-d7670e11648f.png)

[2015-04-30 13:26] jmatil commented on #178
Correção confirmada.

[2015-04-30 13:26] #178 closed, assigned to jmatil

[2015-04-30 13:27] jmatil commented on #179
Correção confirmada

[2015-04-30 13:27] #179 closed, assigned to jmatil

[2015-04-30 14:04] kleiberfaria opened #181 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - MSG"
Prezados,
Conforme tela em anexo, ao realizar uma alteração de configuração da MRV e confirmar, o sistema exibe a [MSG001] Operação realizada com sucesso. Porem na documentação de Regra de Mensagem a messagem é [MSG001] "Configuração realizada com sucesso"

![1](https://cloud.githubusercontent.com/assets/9218077/7414250/d499c010-ef27-11e4-9dbe-7fa7eb2a24c2.jpg)
![1](https://cloud.githubusercontent

[2015-04-30 17:47] kleiberfaria opened #182 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Não atribui"
Prezados,

Ao Atribuir uma Função Eleitoral Manualmente, o sistema fica em processamento não permitindo a devida atribuição conforme tela em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/7418904/c82f63fa-ef47-11e4-8910-ab41b825ae6f.png)

[2015-04-30 19:06] kleiberfaria opened #183 "CDU_SCM_003_Gerenciar_Configuração_de_Mesa_Receptora_de_Just - MSG001"
Prezados,
Conforme tela em anexo, ao realizar uma alteração de configuração da MRJ e confirmar, o sistema exibe a [MSG001] Operação realizada com sucesso. Porem na documentação de Regra de Mensagem a messagem é [MSG001] "Configuração realizada com sucesso"

![1 1](https://cloud.githubusercontent.com/assets/9218077/7420415/b0d6cf1c-ef52-11e4-9650-4a7e97ce3cc4.JPG)

![1](https://cloud.githubusercont

[2015-04-30 19:35] jmatil opened #184 "CDU_SCM_038_Consultar Municipio e Local de Votacao - Apresentação de Resultados"
Ao acessar a funcionalidade através do Menu "Atribuir / Função" o sistema disponibilizou as duas opções de pesquisa: Município e Local de votação. Ao acionar a opção de pesquisa de local de votação sem informar  o município,  a janela referente à pesquisa foi disponibilizada, mas ao informar o local de votação de número:1171. O sistema mostrou apenas o item referente ao município de São Mateus, se

[2015-05-04 11:29] kleiberfaria commented on #182
Lembrando que essa atribuição gera o impacto nos fluxos de exeção dos casos de uso 002 e 003

[2015-05-04 12:20] jmatil opened #185 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Pesquisa sem parâmetros"
Ao acionar a opção de pesquisa sem que seja informado os parâmetros de pesquisa, o sistema direciona o ator à pagina inicial do sistema ODIN.

![5](https://cloud.githubusercontent.com/assets/6584772/7453347/9cd31644-f23e-11e4-9d74-c08a820f9507.png)

[2015-05-06 01:25] saires commented on #185
Gentileza revisar.

[2015-05-06 01:41] saires commented on #184
Gentileza revisar.

[2015-05-06 01:46] saires commented on #175
Validar se a mensagem "Não foi encontrado Eleitor conforme os filtros utilizados para pesquisa." está sendo exibida.

[2015-05-06 01:47] saires commented on #182
Desativar as trigger pois um erro está causando esse problema.

[2015-05-06 01:48] saires commented on #180
Desativar as trigger pois um erro está causando esse problema.

[2015-05-06 02:22] saires commented on #173
Gentileza, validar correção.

[2015-05-06 02:24] saires commented on #170
Gentileza validar.

[2015-05-06 02:24] saires commented on #166
Gentileza validar.

[2015-05-06 02:25] saires commented on #120
Gentileza validar.

[2015-05-06 02:26] saires commented on #108
Gentileza validar.

[2015-05-06 12:25] jmatil opened #186 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Função ou Local de Votação"
Verificar a informação disponibilizada na mensagem do fluxo de exceção 2 - Quantidade informada é inferior à que está gravada. MSG007.
![7](https://cloud.githubusercontent.com/assets/6584772/7492762/c4832b90-f3d1-11e4-8eb0-64b13d3e6570.png)

[2015-05-06 12:28] jmatil commented on #185
Corrigido

![corrigido](https://cloud.githubusercontent.com/assets/6584772/7492838/3edbe01c-f3d2-11e4-93d8-828f22163cb6.png)

[2015-05-06 12:28] #185 closed, assigned to jmatil

[2015-05-06 12:59] jmatil commented on #184
Item revisado. Correção confirmada

[2015-05-06 12:59] #184 closed, assigned to jmatil

[2015-05-07 12:54] jmatil opened #187 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Função especial não existente"
Ao informar uma função especial não existente e acionar a opção de pesquisa, o sistema direciona o ator à tela inicial do sistema ODIN.

![9](https://cloud.githubusercontent.com/assets/6584772/7515639/01927a36-f49f-11e4-9f70-0849bf75c212.png)

[2015-05-07 13:16] kleiberfaria opened #188 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Exclusão"
Prezados,
Ao realizar a exclusão da mesa não esta sendo possivel realizar o fluxo porém é possivel realizar a alteração.

![1](https://cloud.githubusercontent.com/assets/9218077/7515969/09418008-f4a2-11e4-9704-a5089a8086c6.png)

[2015-05-08 14:13] jmatil opened #189 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Fluxo E2"
Ao informar uma quantidade inferior a que está cadastrada, o sistema emite a mensagem indicando que a função já está preenchida, mas não consta eleitores cadastrados para função especial. Segue imagem de Exemplo.

![10](https://cloud.githubusercontent.com/assets/6584772/7537951/ee8db4c6-f572-11e4-8f48-a4dbdde8449f.png)

[2015-05-08 15:50] saires commented on #189
Gentileza validar correção.

[2015-05-08 15:51] saires commented on #188
Gentileza validar correção.

[2015-05-08 17:39] jmatil opened #190 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Não exclui"
Favor verificar a possibilidade de exclusão do eleitor após a realização da inclusão na função eleitoral

[2015-05-08 17:52] saires commented on #187
Gentileza validar correção.

[2015-05-08 17:56] jmatil commented on #187
Correção confirmada

[2015-05-08 17:56] #187 closed, assigned to jmatil

[2015-05-08 18:03] jmatil commented on #189
Correção Confirmada

[2015-05-08 18:03] #189 closed, assigned to jmatil

[2015-05-08 18:06] jmatil opened #191 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - campo vazio"
Ao excluir o valor "0" (zero) diponibilizado no campo e ter acionado a opção "Salvar" o sistema não permitiu acesso à aplicação.

![11](https://cloud.githubusercontent.com/assets/6584772/7542524/d051dad4-f593-11e4-85a2-fec4117c9896.png)

[2015-05-08 18:11] jmatil opened #192 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Pesquisar Função Especial"
Ao realizar a pesquisa no caso de uso, o sistema direciona o ator à tela inicial do ODIN

![12](https://cloud.githubusercontent.com/assets/6584772/7542605/80e77048-f594-11e4-9990-7cd4af8eb28b.png)

[2015-05-08 18:14] kleiberfaria opened #193 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Pesquisar"
Prezados,

Conforme tela em anexo, não esta sendo possivel realizar a pesquisa na Atribuição Função Eleitoral.
![1](https://cloud.githubusercontent.com/assets/9218077/7542642/e450fb04-f594-11e4-85ac-182e3dad251f.png)

[2015-05-08 18:26] saires commented on #193
Voltou ao normal. Erro ocasionado por mudança de nome de coluna de tabela.

[2015-05-08 18:27] saires commented on #192
Voltou ao normal. Erro ocasionado por mudança de nome de coluna de tabela.

[2015-05-08 18:27] saires commented on #186
Gentileza validar correção.

[2015-05-08 18:54] jmatil opened #194 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Pesquisar local de votação"
Foi acionado a opção "Limpar" da qual excluiu os resultados que estavam sendo sendo apresentados, mas ao acionar a opção "Pesquisar", o sistema direciona o ator à tela do ODIN.

![13](https://cloud.githubusercontent.com/assets/6584772/7543415/84f25be8-f59a-11e4-81c4-24d4c96232a0.png)

[2015-05-11 11:52] kleiberfaria commented on #193
Item verificado !

[2015-05-11 11:52] #193 closed, assigned to kleiberfaria

[2015-05-11 12:44] jmatil commented on #180
O erro foi corrigido, porém não foi informado a solução tomada.  A Issue será fechada, mas retestes serão realizados futuramente, pois não sabemos o que foi feito para a devida solução. (se devido à desativação das triggers ou correções em códigos de desenvolvimento.)

[2015-05-11 12:44] #180 closed, assigned to jmatil

[2015-05-11 12:45] jmatil commented on #192
Correção confirmada

[2015-05-11 12:45] #192 closed, assigned to jmatil

[2015-05-11 12:47] kleiberfaria commented on #188
Item verificado, porem não informado a solução tomada pois foi informado pelo DBA que foram desativadas as triggers. Será realizado os testes, para verificar se a desativação impacta para a devida correção.

[2015-05-11 12:50] jmatil commented on #186
Situação persiste até a data destacada na imagem.
![14](https://cloud.githubusercontent.com/assets/6584772/7565065/21d62f46-f7c3-11e4-9bd2-467038ac0278.png)

[2015-05-11 12:52] jmatil commented on #175
Correção confirmada

[2015-05-11 12:52] #175 closed, assigned to jmatil

[2015-05-11 12:53] kleiberfaria commented on #166
Permanece ainda o devido erro relatado.

[2015-05-11 13:41] kleiberfaria commented on #188
Foi realizado o teste, porém depois que realiza uma atribuição e ao excluir ainda ocorre o erro não permitindo a exclusão.

![1](https://cloud.githubusercontent.com/assets/9218077/7565917/41d3badc-f7ca-11e4-9692-8c09583c6bac.png)

![2](https://cloud.githubusercontent.com/assets/9218077/7565919/46e36d92-f7ca-11e4-89e8-09b997f453cd.png)

[2015-05-11 14:03] jmatil commented on #173
Correção confirmada

[2015-05-11 14:03] #173 closed, assigned to jmatil

[2015-05-11 14:04] jmatil commented on #170
Correção confirmada

[2015-05-11 14:04] #170 closed, assigned to jmatil

[2015-05-11 14:06] jmatil commented on #163
Ação retirada da aplicação

[2015-05-11 14:06] #163 closed, assigned to jmatil

[2015-05-11 14:16] monicaleite commented on #164
Jailson,

Como a documentação foi homologada com essa lógica, devemos deixar assim e aguardar, caso tenha alguma falha, deverá ser apontada pelo gestor do sistema e aberta uma solicitação de mudança para a documentação e aplicação.

[2015-05-11 14:16] jmatil commented on #164
Compreendido

[2015-05-11 14:16] #164 closed, assigned to jmatil

[2015-05-11 14:21] saires commented on #164
É necessário revisar a regra de exclusão de evento com o gestor. A regra não trata com clareza os tipos de eventos que podem ser excluídos.

[2015-05-11 17:38] kleiberfaria opened #195 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Importar Dados de Outra Eleição"
Conforme tela em anexo não esta sendo possível importar dados de outra eleição e a funcionalidades abaixo não apresentam as listas sendo que possuo eleitores atribuidos no 1º turno.
- Função Eleitoral Origem:
- Função Eleitoral Destino:

![1](https://cloud.githubusercontent.com/assets/9218077/7571009/07a33d4e-f7eb-11e4-82ba-9ecb9e925522.png)

[2015-05-11 19:42] saires commented on #186
Validar novamente.

[2015-05-11 19:42] saires commented on #191
Gentileza validar correção.

[2015-05-11 19:57] saires commented on #194
Ao clicar no botão limpar o mesmo limpará o campo "Quantidade de Eleitores Configurados para um Determinado Local de Votação" da grid.

[2015-05-12 12:03] jmatil commented on #191
A ação persiste até a data/hora marcados na imagem
![15](https://cloud.githubusercontent.com/assets/6584772/7586676/a9d91ed6-f885-11e4-8127-7ddabfe18438.png)

[2015-05-12 12:13] jmatil commented on #186
correção confirmada

[2015-05-12 12:13] #186 closed, assigned to jmatil

[2015-05-12 12:44] jmatil opened #196 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Quantidade não Preenchida"
Verificar que o sistema está acusando que existe eleitores atribuidos à função especial. Ação não ocorre conforme imagem anexa.

![16](https://cloud.githubusercontent.com/assets/6584772/7587275/6d4df33c-f88b-11e4-8b85-1fc7e411ce4b.png)

[2015-05-12 13:13] jmatil opened #197 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Botão Limpar"
Verificar a funcionalidade da função limpar, pois só está executando a ação para os resultados apresentados e não para os dados preenchidos.

![17](https://cloud.githubusercontent.com/assets/6584772/7587814/5c8f8002-f88f-11e4-988d-28233bfc0ceb.png)

[2015-05-12 14:52] saires commented on #190
Gentileza validar correção.

[2015-05-12 14:53] saires commented on #191
Validar novamente.

[2015-05-12 14:55] saires commented on #194
Validar correção.

[2015-05-12 14:56] saires commented on #197
Ao clicar no botão "limpar" o mesmo deverá limpar o campo "Quantidade de Eleitores Configurados para um Determinado Município" na grid.

[2015-05-12 16:42] jmatil commented on #190
Confirmado a correção

[2015-05-12 16:42] #190 closed, assigned to jmatil

[2015-05-12 16:46] kleiberfaria opened #198 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Atribui botão Salvar"
Ao realizar a funcionalidade "SALVAR", a aplicação está apresentadando a mensagem de [Atribuição realizada com sucesso.] sem ter realizado nenhuma atribuição conforme imagem em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/7592996/40060d84-f8ad-11e4-9cf7-d39406be8af0.png)

[2015-05-12 16:57] jmatil commented on #194
Ação compreendida

[2015-05-12 16:57] #194 closed, assigned to jmatil

[2015-05-12 16:57] jmatil commented on #197
Ação compreendida

[2015-05-12 16:57] #197 closed, assigned to jmatil

[2015-05-12 17:01] jmatil opened #199 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Botão Limpar com parâmetros inexistentes"
O botão está executando a função do botão pesquisar caso seja informado uma função especial não existente.

![1](https://cloud.githubusercontent.com/assets/6584772/7593278/529e2aa6-f8af-11e4-9f41-b4e04a80da7c.png)

[2015-05-12 17:14] kleiberfaria opened #200 "CDU_SCM_007_Atribuir Função Eleitoral a Mesário - Lista de eleitores"
A Lista de Eleitores Disponíveis só esta sendo apresentada após que realiza a primeira atribuição conforme imagens em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/7593489/082e413e-f8b1-11e4-9897-fc1cdc86c438.png)

![2](https://cloud.githubusercontent.com/assets/9218077/7593496/1054e0fc-f8b1-11e4-89a6-6a8d01c94de6.png)

[2015-05-12 17:17] saires commented on #188
Validar novamente.

[2015-05-12 17:18] saires commented on #188
Validar para todos os tipos de situação. (Nomeado, Dispensado, etc)

[2015-05-12 18:14] saires commented on #198
O botão agora permanecerá desabilitado enquanto não for selecionado um eleitor para a função.

[2015-05-12 18:37] jmatil opened #201 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Atribuição à MRJ"
Ao atribuir um eleitor à alguma função da MRJ e acionar o botão Salvar. O sistema direciona o ator à tela de MRV com as funções não cadastradas, mas na mesma seção.

![2](https://cloud.githubusercontent.com/assets/6584772/7595301/9c4f79d6-f8bc-11e4-878c-ff06ef68c14b.png)

![3](https://cloud.githubusercontent.com/assets/6584772/7595340/c33c715c-f8bc-11e4-9072-fc3688b58d19.png)

[2015-05-12 18:47] saires commented on #196
O cálculo foi corrigido. Agora é contado apenas os eleitores com situação diferente de DISPENSADO.

[2015-05-12 19:18] saires commented on #200
Veja se você consegue simular esse problema novamente, uma vez que foi feita uma alteração para que o botão seja apresentado desabilitado caso nenhum eleitor tenha sido selecionado para uma determinada função.

[2015-05-12 19:29] kleiberfaria commented on #200
Sávio, ainda o problema ocorre o erro na lista de eleitores. Vão aparecendo os eleitores na medida em que vou atribuindo para as funções eleitorais.

[2015-05-12 20:05] kleiberfaria opened #202 "CDU_SCM_003_Gerenciar_Configuração_de_Mesa_Receptora_de_Just - Exclusão"
Não esta sendo possivel realizar a exclusão MRJ conforme imagem em anexo.

![1](https://cloud.githubusercontent.com/assets/9218077/7597319/091f31bc-f8c9-11e4-825c-69d7fb9ebc1e.png)

[2015-05-12 20:07] kleiberfaria commented on #188
Item verificado !

[2015-05-12 20:07] #188 closed, assigned to kleiberfaria

[2015-05-12 20:18] monicaleite commented on #198
Sávio,

Favor implementar conforme a documentação, não foi identificado essa regra.

[2015-05-12 20:23] saires commented on #198
O erro ocorre devido a implementação seguir a documentação.
Esse botão precisa estar desabilitado ou então será necessário criar um novo fluxo na documentação ou então deixar a aplicação com o bug.

[2015-05-13 04:40] saires commented on #199
validar.

[2015-05-13 04:54] saires commented on #201
Validar essa correção. Solicitar ao Leandro a carga na tabela Mrj e seguida um numero de mrj para ser utilizado pela zona/pleito logada.

[2015-05-13 05:05] saires commented on #202
Foi realizada uma alteração para que o número da Mrj seja informado durante a atribuição (uc07). Antes estava sendo erroneamente informando a seção, para o caso de Mrj. O Leandro estará criando Mrj's para a zona/pleito do usuário logado e te passando um número de pesquisa válido. A partir daí gentileza testar esse bug novamente, atribuindo eleitores a uma Mrj. Fico no aguardo para corrigir algor.

[2015-05-13 05:11] saires commented on #166
Kleiber, isso ocorre com que frequência em 10 tentativas por exemplo? Podemos ver com o leandro a criação de índices para melhorar.

[2015-05-13 05:17] saires commented on #183
Monica, o Enzo e eu definimos no passado que essa mensagem atual seria mais prática, pois tinha que verificar se era uma inclusão ou alteração. Você poderia mudar a mensagem na documentação nesse caso pela msg002.

[2015-05-13 05:19] saires commented on #181
Monica, o Enzo e eu definimos no passado que essa mensagem atual seria mais prática, pois tinha que verificar se era uma inclusão ou alteração. Você poderia mudar a mensagem na documentação nesse caso pela msg002.

[2015-05-13 05:24] saires commented on #107
Para evitar esse problema, pedir para o leandro deixar o script de insert alinhado com os dados do pessoal do teste.

[2015-05-13 05:26] saires commented on #198
Poderia criar uma regra de apresentação apenas. "Caso não tenha sido informado nenhum eleitor à função, o botão salvar deverá estar desabilitado". Uma sugestão. Pode melhora-la.

[2015-05-13 11:03] jmatil opened #203 "CDU_SCM_002_Gerenciar Configuracao de Mesa Receptora de Votos - Eleitores não atribuidos"
O sistema está emitindo a mensagem da qual acusa a existência de eleitores na situação de atribuído. A ação ocorre na configuração inicial da mesa receptora de votos, ou seja, não há eleitores atribuídos e a mensagem disponibilizada é relacionada caso seja excluída a configuração da mesa. Segue imagem.

![1](https://cloud.githubusercontent.com/assets/6584772/7609158/674c3582-f946-11e4-81a7-26cf9cc

[2015-05-13 11:11] jmatil commented on #203
Foi encontrado eleitores que estavam configurados para seções desconhecidas. Issue encerrada

[2015-05-13 11:11] #203 closed, assigned to saires

[2015-05-13 11:15] jmatil opened #204 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Alteração da Configuração"
Na tentativa de realizar a alteração da configuração da mesa receptora de voto, onde constava um eleitor atribuído na função de "Suplente", o sistema emitiu a mensagem indicando que constava um eleitor na situação de Atribuído (Ação correta), mas não permitiu a confirmação da ação solicitada pelo usuário.
Obs: Foi verificado que a situação ocorre justamente quando o eleitor está na função de: Atri

[2015-05-13 11:21] jmatil commented on #107
Situação corrigida

[2015-05-13 11:21] #107 closed, assigned to monicaleite

[2015-05-13 12:28] jmatil opened #205 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Execução do CDU utilizando a MRJ"
Ao acionar a opção "Pesquisar",  o sistema não está permitindo a configuração quando o ator utiliza a MESA - MRJ

![1](https://cloud.githubusercontent.com/assets/6584772/7610318/3f4e50a4-f952-11e4-8dfe-fd0b80d5f806.png)

[2015-05-13 14:00] jmatil commented on #201
Segundo relatado pelo Leandro a tabela MRJ é do AdmCad.

[2015-05-13 21:01] saires commented on #201
Realizar a validação com as MRJ's:
JAGUARÉ    9
JAGUARÉ    789
SÃO MATEUS 8
SÃO MATEUS 987

[2015-05-13 21:02] saires commented on #205
Realizar validação com as MRJ's:
JAGUARÉ    9
JAGUARÉ    789
SÃO MATEUS 8
SÃO MATEUS 987

[2015-05-14 13:12] kleiberfaria opened #206 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Alterar"
Conforme imagem em anexo, ao realizar uma "ALTERAÇÃO" de uma configuração da mesa e ao incluir uma função que não tenha eleitor atribuido, ocorre a mensagem de "EXCLUSÃO"

![1](https://cloud.githubusercontent.com/assets/9218077/7632275/a8e3ad14-fa21-11e4-86b0-299dd31ab792.png)

[2015-05-14 15:09] saires commented on #204
Validar correção. Observar se caso a exclusão tenha sido realizado com sucesso e mesmo assim a função permanecer na caixa de "Selecionadas" isso quer dizer que existem eleitores com a situação "Dispensado" para a função. Essa permanência é para manter o vinculo das informações no banco de dados.

[2015-05-14 16:47] jmatil commented on #204
Favor reavaliar a situação, pois a ação ainda permanece.
Obs: O mesmo ocorre com a MESA RECEPTORA DE JUSTIFICATIVA

[2015-05-14 16:54] jmatil opened #207 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Mesa M.R.J"
Verificar a quantidade de funções disponibilizadas para realização de atribuições à mesa MRJ.
Funções repetidas.

![1](https://cloud.githubusercontent.com/assets/6584772/7636912/9c05fd3a-fa40-11e4-9357-db39a893961e.png)

[2015-05-14 16:56] kleiberfaria commented on #207
Está permitindo realizar a atribuição em duplicidade conforme tela em anexo.
![1](https://cloud.githubusercontent.com/assets/9218077/7636962/f56cc66a-fa40-11e4-91a0-480aaf8b5332.png)

[2015-05-14 17:00] kleiberfaria commented on #206
A mesma situação ocorre para a MRJ conforme tela em anexo.
![1](https://cloud.githubusercontent.com/assets/9218077/7637057/968e7fb6-fa41-11e4-836d-0955588d2e4b.png)

[2015-05-14 17:45] kleiberfaria opened #208 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Função Especial_AutoComplete"
Na tela "Gerenciar Configuração de Função Especial" no campo [ Função Especial ] na função auto complete a aplicação conforme exemplo da tela em anexo, apresenta no campo digitado 3 funções porem no resultado da lista é apresenta 4 funções.

![1](https://cloud.githubusercontent.com/assets/9218077/7637894/96073eec-fa47-11e4-81bf-b24e9fd20dc0.png)

[2015-05-14 18:24] kleiberfaria opened #209 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Atribuir"
Conforme tela em anexo, a aplicação não esta premitindo realizar a atribuição.

![1](https://cloud.githubusercontent.com/assets/9218077/7638752/57c52c56-fa4d-11e4-85fe-0102943f8199.png)

[2015-05-14 22:41] saires commented on #204
Gentileza validar. Não tinha subido o deploy.

[2015-05-15 14:12] kleiberfaria opened #210 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Label Função Especial"
Prezado,

Conforme tela em anexo, a label "Função Eleitoral" de acordo com o CDU 039 o nome correto é "Função Especial"

![1](https://cloud.githubusercontent.com/assets/9218077/7654403/341b8812-faf3-11e4-90a2-d7b24f1bd0cc.png)

![2](https://cloud.githubusercontent.com/assets/9218077/7654411/3cadf280-faf3-11e4-8e0c-b616816e3605.JPG)

[2015-05-15 15:35] saires commented on #207
Gentileza tentar simular o erro novamente e me chamar após o mesmo.

[2015-05-15 21:41] saires commented on #208
Gentileza validar correção.

[2015-05-18 12:08] jmatil commented on #205
Haverá alguma exceção caso haja incompatibilidade entre Município, Local de Votação e Número. Ou caso o número informado não existir para o tipo de mesa (MRJ) escolhido pelo ator?

[2015-05-18 18:36] saires commented on #209
Não consegui simular. Kleiber, gentileza me chamar após simular o erro na sua máquina.

[2015-05-19 01:14] saires commented on #206
Gentileza tentar simular o erro novamente.

[2015-05-19 01:17] saires commented on #210
Gentileza validar correção.

[2015-05-19 01:28] saires commented on #200
Kleiber, peço que tente simular novamente o erro e me informar para que possar avaliar o log.

[2015-05-20 11:46] jmatil commented on #207
![1](https://cloud.githubusercontent.com/assets/6584772/7724979/bf96ebca-fecc-11e4-9c2f-30092edce5c8.png)

[2015-05-20 12:05] jmatil commented on #201
Correção confirmada

[2015-05-20 12:05] #201 closed, assigned to jmatil

[2015-05-20 12:17] jmatil commented on #199
Item validado. Mas caso o ator informe parâmetros através da ação "Copia e Cola" no campo "Quantidade de Eleitores ..." e acione a opção "Limpar" o sistema emite a mensagem conforme imagem abaixo:

Obs: Foi copiado e colado caracteres de texto e acionado a opção "Limpar"
![1](https://cloud.githubusercontent.com/assets/6584772/7725428/fdbf7b66-fed0-11e4-9ddb-3ee267607c3f.png)

[2015-05-20 12:24] kleiberfaria commented on #210
Item verificado !

[2015-05-20 12:24] #210 closed, assigned to kleiberfaria

[2015-05-20 12:28] jmatil commented on #204
Verificar a situação relatada na imagem abaixo

![1](https://cloud.githubusercontent.com/assets/6584772/7725598/87678038-fed2-11e4-9cc7-428ffc14ad82.png)

[2015-05-20 12:31] kleiberfaria commented on #208
Item verificado !

[2015-05-20 12:31] #208 closed, assigned to kleiberfaria

[2015-05-20 12:39] kleiberfaria commented on #209
Item verificado. A aplicação realizou a atribuição e a exclusão conforme tela em anexo.
![1](https://cloud.githubusercontent.com/assets/9218077/7725792/1d71f7b0-fed4-11e4-97f0-906d9932b384.png)

[2015-05-20 12:39] #209 closed, assigned to kleiberfaria

[2015-05-20 13:28] kleiberfaria opened #211 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Atribuir"
A aplicação esta realizando a atribuição ao clicar no botão [Adicionar Função] sem ter adiconado nenhum eleitor.

![1](https://cloud.githubusercontent.com/assets/9218077/7726808/e6eda49e-feda-11e4-891e-31dfb2a89f3b.png)

[2015-05-20 15:02] saires commented on #207
Foi feita uma limpeza na base. Verificar se esse problema volta a ocorrer, se possível simular os mesmos passos que originou esse problema, para verificarmos se era apenas lixo ou algum erro na aplicação.

[2015-05-20 15:07] saires commented on #204
Isso quer dizer que existem eleitores com a situação "Dispensado" para a função. Essa permanência é para manter o vinculo das informações no banco de dados. Esse requisito deverá ser evoluído no futuro.

[2015-05-20 15:07] saires commented on #195
Gentileza validar a correção.

[2015-05-20 18:39] saires commented on #211
Gentileza realizar a validação da correção.

[2015-05-25 17:10] monicaleite commented on #198
Para criar regra preciso do gestor para validar e como estamos em fase de entrega não podemos fazer isso.

[2015-05-26 13:35] monicaleite commented on #205
No documento não está previsto isso, nesse caso preciso que me passe como o sistema está se comportando para vermos a melhor forma de adequar a documentação ou a aplicação, dependendo do caso.

[2015-05-26 13:40] monicaleite commented on #183
Pessoal,

Verificando a documentação, já está com a MSG002.

[2015-05-26 13:42] monicaleite commented on #181
Pessoal,

Verificando o fluxo de alterar a mensagem que é exibida é a MSG002.

[2015-05-27 16:01] jmatil opened #212 "CDU_SCM_005_Gerenciar Criterio de Selecao e Base de Eleitores Convocaveis - Selecionar Manualmente"
Verificar a possibilidade de seleção de eleitores manualmente, pois a aplicação não está permitindo a inclusão conforme imagem anexa:

![1](https://cloud.githubusercontent.com/assets/6584772/7841021/6cbc4ba8-0470-11e5-99a8-1893766e17b8.png)

[2015-05-29 13:10] jmatil commented on #207
Situação persiste

![1](https://cloud.githubusercontent.com/assets/6584772/7883181/dedf093e-05ea-11e5-9a74-90ac8f47f910.png)

[2015-05-29 13:18] kleiberfaria commented on #211
Realizado teste porem, foi evidenciado o comportamento conforme imagem em anexo. Acionei o botão "Adicionar Função" sem realizar atribuição de eleitor e a mensagem aparece agora como "Inclusão realizada com sucesso"

![1](https://cloud.githubusercontent.com/assets/9218077/7883225/4c0ae852-05eb-11e5-90e1-a8b3b9e43766.png)

[2015-05-29 17:41] jmatil commented on #196
Correção confirmada

[2015-05-29 17:41] #196 closed, assigned to jmatil

[2015-05-29 19:40] jmatil commented on #202
Correção confirmada

[2015-05-29 19:40] #202 closed, assigned to kleiberfaria

[2015-05-29 19:43] jmatil commented on #200
Correção confirmada

[2015-05-29 19:43] #200 closed, assigned to kleiberfaria

[2015-05-29 19:43] jmatil commented on #182
Atribuição sendo realizada com sucesso até o momento

[2015-05-29 19:43] #182 closed, assigned to kleiberfaria

[2015-05-29 19:49] jmatil commented on #108
Item validado

[2015-05-29 19:49] #108 closed, assigned to kleiberfaria

[2015-05-29 19:53] kleiberfaria commented on #195
Foi realizado o teste e o erro agora ocorre com a aplicação direcionando para tela do ODIN.

![1](https://cloud.githubusercontent.com/assets/9218077/7891451/2a20df3e-0623-11e5-86c9-9a1f9061d4ab.png)

[2015-05-29 22:18] saires commented on #198
Essa melhoria necessita permanecer em código. Remove-la significará mais bugs.

[2015-06-01 11:22] jmatil commented on #120
Ação validada.

[2015-06-01 11:22] #120 closed, assigned to kleiberfaria

[2015-06-01 11:24] jmatil commented on #110
Correção confirmada

[2015-06-01 11:24] #110 closed, assigned to kleiberfaria

[2015-06-01 11:29] jmatil commented on #167
Item corrigido

[2015-06-01 11:29] #167 closed, assigned to kleiberfaria

[2015-06-01 11:32] jmatil commented on #183
Verificado a mudança na documentação.

[2015-06-01 11:32] #183 closed, assigned to kleiberfaria

[2015-06-01 11:37] jmatil commented on #132
O item foi implementado. Irei verificar se houve impacto após a atualização da fucionalidade.

[2015-06-01 11:37] #132 closed, assigned to monicaleite

[2015-06-01 11:50] jmatil opened #213 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Alteração"
O sistema está emitindo a mensagem de confirmação da alteração, mas não está realizando a ação.

![1](https://cloud.githubusercontent.com/assets/6584772/7912143/4446e628-083b-11e5-8615-b53c151d078b.png)

[2015-06-01 11:59] jmatil commented on #157
Relato compreendido.

[2015-06-01 11:59] #157 closed, assigned to monicaleite

[2015-06-01 12:06] jmatil commented on #166
Esta ação está ocorrendo ao primeiro acesso do dia. Retestes serão feitos, caso ocorra com frequência a ação será novamente relatada.

[2015-06-01 12:06] #166 closed, assigned to kleiberfaria

[2015-06-01 12:25] jmatil commented on #206
Foi constatado que para a MRV - Mesa Receptora de Votos,  ação foi corrigida, mas para a MRJ - Mesa Receptora de Justificativas, a ação ainda permanece.

[2015-06-01 12:27] jmatil commented on #181
Adaptação confirmada

[2015-06-01 12:27] #181 closed, assigned to kleiberfaria

[2015-06-01 13:47] jmatil opened #214 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Inclusão Inicial"
Verificar a necessidade de emissão da mensagem de confirmação da configuração da mesa ao executar o fluxo básico, pois não está relatada na documentação. Caso houver necessidade, a documentação deverá ser atualizada para adaptar-se ao que está implementado.

![1](https://cloud.githubusercontent.com/assets/6584772/7914158/9e5f30ce-084b-11e5-8b1c-91946fcd11a5.png)

[2015-06-01 13:51] jmatil opened #215 "CDU_SCM_002_Gerenciar_Configuração_de_Mesa_Receptora_de_Votos - Mensagem"
Verificar qual mensagem deverá ser emitida ao confirmar a ação de configuração da Mesa.
Obs: Verificar a regra [RN1.1] citada no passo FB1.3. ("Não foi encontrada na documentação")

![1](https://cloud.githubusercontent.com/assets/6584772/7914245/311168d8-084c-11e5-9f1d-764c93cfb815.png)

[2015-06-01 14:10] saires commented on #214
Essa melhoria não deve entrar em documentação no momento conforme orientação do Rivaldo.

[2015-06-01 14:11] jmatil commented on #204
Compreendido

[2015-06-01 14:11] #204 closed, assigned to jmatil

[2015-06-01 14:20] saires commented on #213
Mônica, trata-se de mais um caso de um fluxo de exceção que seria necessário inserir no caso de uso. Só que nesse caso a implementação não chegou a ocorrer. Como a função de administrador de prédio é a única que possui locais de votação, seria necessário informar ao usuário que a diminuição da quantidade deveria ser realizado primeiramente nos locais de votação e posteriormente na função como um t

[2015-06-01 14:25] saires commented on #206
Gentileza validar a correção.

[2015-06-01 14:29] jmatil commented on #206
Correção confirmada

[2015-06-01 14:29] #206 closed, assigned to jmatil

[2015-06-01 16:54] monicaleite commented on #214
Sávio,

A aplicação está com fluxos e mensagens que não existem na documentação, quando chegar na parte da FATES essas divergências não irão passar, causando provavelmente nova devolução, você tem mapeados as alterações que está fazendo em divergência com a documentação? No caso a não ser os impeditivos era para seguirmos a documentação, esse é um dos casos?

[2015-06-01 17:03] monicaleite commented on #215
Alterada a documentação para MSG002, conforme o Sávio essa mudança já tinha sido firmada com o analista Enzo, e por isso ele implementou assim, logo eu faço a correção da documentação. No momento o git está indisponível assim que voltar ao normal commitarei o aquivo com a mudança.

[2015-06-01 17:15] monicaleite commented on #205
Sávio,

O que precisa ser feito na documentação, como vc está alterando precisamos da orientação quanto ao comportamento esperado e mudanças na documentação.

[2015-06-01 17:16] monicaleite commented on #198
Jailson,

Foi criada a RAP049 e referenciada no fluxo FA9 passo FA9.7.

[2015-06-01 17:32] jmatil opened #216 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Campo Obrigatório"
Verificar a mensagem emitida caso haja campo com obrigatoriedade de preenchimento.
Ação referenciada na issue #191

![1](https://cloud.githubusercontent.com/assets/6584772/7918892/0d687cae-086b-11e5-9f52-976ccc86502a.png)

[2015-06-01 17:43] saires commented on #214
Trata-se de uma solução para contornar um bug na exibição das mensagens ocasionado pelo componente. No entanto, essa alteração seria simples em documentação, talvez não necessite de aprovação do gestor. A estratégia para a documentação do SCM sempre foi arcar com o retrabalho dos impactos em código. Esse infelizmente é mais um caso.

[2015-06-01 18:03] monicaleite commented on #214
O Jailson está questionando fluxo de exceção, preciso entender o que tem que ser feito, aí posso dizer se é fácil ou não, até agora não entendi o que precisa ser mudado na documentação para ficar de acordo com a aplicação.

[2015-06-01 18:29] jmatil commented on #215
Alteração confirmada conforme documentação atualizada e disponibilizada

[2015-06-01 18:29] #215 closed, assigned to jmatil

[2015-06-01 18:55] saires commented on #214
Inserir o passo: "O sistema apresenta mensagem de confirmação [MSG081]". Deve ficar na posição "FB 1.5". As restantes devem ser reposicionadas.

[2015-06-01 19:03] jmatil opened #217 "CDU_SCM_037_Consultar Pleito Eleitoral - Consulta do Processo Eleitoral"
O sistema está limitando o campo "Número de Identificação" à quantidade máxima de 10 caracteres, (ação não especificada na documentação), mas ao disponibilizar essa quantidade máxima com informações que possivelmente não exista, o sistema está emitindo a mensagem conforme imagem abaixo:

![1](https://cloud.githubusercontent.com/assets/6584772/7920750/597c0442-0877-11e5-9aba-9edd6db67a5a.png)

[2015-06-01 19:23] monicaleite commented on #213
Jailson,

Esse será mais um caso então que aguardaremos o posicionamento do cliente para atuar.

[2015-06-01 19:26] monicaleite commented on #214
Jailson,

O documento foi alterado conforme orientado pelo Sávio, isso resolve??

[2015-06-01 19:29] jmatil opened #218 "CDU_SCM_037_Consultar Pleito Eleitoral - Seleção do Pleito e Configuração das Mesas"
Verificar o comportamento do sistema ao selecionar um dos pleitos disponibilizados e logo após selecionar a opção "Selecione".
Parece que está validando a opção "Selecione" como se fosse um pleito disponibilizado.
OBS.: A mesma ação ocorre para os outros perfis. EX.: TRE
![1](https://cloud.githubusercontent.com/assets/6584772/7921365/5ca8e4ec-087b-11e5-96cf-b1e81083315c.png)

[2015-06-01 19:49] jmatil opened #219 "CDU_SCM_037_Consultar Pleito Eleitoral - Parâmetros para pesquisa"
Avalie os passos seguintes:
1º) Foi informado primeiramente o processo eleitoral e o sistema realizou o autocomplete do campo.
2º) Foi disponibilizado um número de identificação válido, mas pertencente a outro processo eleitoral;
Resultado: O sistema levou em consideração somente o número de identificação.
Segue imagem:

![1](https://cloud.githubusercontent.com/assets/6584772/7921769/124aa34c-087e

[2015-06-02 03:16] saires commented on #217
O tamanho dessa informação no banco de dados é de 8.

[2015-06-02 03:25] saires commented on #218
Gentileza validar em ambos os perfis.

[2015-06-02 11:44] jmatil commented on #218
Correção confirmada

[2015-06-02 11:44] #218 closed, assigned to jmatil

[2015-06-02 11:49] jmatil commented on #214
Resolve
Irei atualizar os artefatos para que não ocorra impacto na entrega e avaliação da FATES
Obs.: Verificar que a mesma situação ocorre para a MRJ -  CDU 003

[2015-06-02 11:59] jmatil opened #220 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Pesquisa"
Não está sendo possível a realização da pesquisa, pois o sistema não está permitindo trazer resultados

![1](https://cloud.githubusercontent.com/assets/6584772/7935240/ae9fee32-0905-11e5-9d6e-f088345e1e1f.png)

[2015-06-02 13:01] monicaleite commented on #217
mas a documentação diz que tem que ser 10? O banco não pode ser corrigido para atender a documentação?

[2015-06-02 13:40] saires commented on #217
Essa tabela é do CAD. Não podemos altera-la.

[2015-06-02 13:54] saires commented on #211
Erro corregido no ambiente de integração. Não foi possível validar no ambiente de homologação. Validar posteriormente para esse ambiente após homologação.

[2015-06-02 13:57] jmatil commented on #217
Segue tela
![1](https://cloud.githubusercontent.com/assets/6584772/7937408/289d1d8a-0916-11e5-8363-f6a5ddbe0098.png)

[2015-06-02 13:57] saires commented on #220
Aguardar homologação do banco de dados e ajustes de permissões nas tabelas. O ambiente de integração está disponível para realização dos teste. Validar esse problema posteriormente em homologação para garantir a estabilidade do sistema.

[2015-06-02 13:59] monicaleite commented on #217
Alterado para o tamanho 8.

[2015-06-02 14:00] monicaleite commented on #214
Alterado o CDU 003.

[2015-06-02 14:32] saires commented on #216
Validar correção.

[2015-06-02 14:52] saires commented on #219
Validar correção.

[2015-06-02 14:53] saires commented on #195
Validar correção.

[2015-06-02 15:25] saires commented on #205
Inserir esse novo fluxo de exceção:
![image](https://cloud.githubusercontent.com/assets/10027679/7939553/05b40c14-0922-11e5-8df2-e5635b2f31fb.png)

sendo chamado no fluxo básico:
![image](https://cloud.githubusercontent.com/assets/10027679/7939656/6711372a-0922-11e5-8fcd-b4c567434c92.png)

[2015-06-02 15:29] saires commented on #205
Inserir novo fluxo de exceção: (corrigir numeração)
![image](https://cloud.githubusercontent.com/assets/10027679/7939759/0b99cafa-0923-11e5-8b49-88c21a385196.png)

Sendo chamado a partir do fluxo básico:
![image](https://cloud.githubusercontent.com/assets/10027679/7939741/f89f3b2e-0922-11e5-9c01-9facdcfd580f.png)

[2015-06-02 17:11] saires commented on #207
Validar a correção no ambiente de integração e posteriormente em homologação.

[2015-06-02 17:47] monicaleite commented on #205
Realizada a inclusão do fluxo de exceção no documento.

[2015-06-02 18:40] jmatil opened #221 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Campo Número - MRJ"
Utilizando a capacidade Máxima permitida de caracteres para realização da consulta no ambiente de integração o sistema disponibiliza a mensagem destacada na imagem:

![1](https://cloud.githubusercontent.com/assets/6584772/7943845/9f12fe18-093d-11e5-881e-c274b65a48d6.png)

[2015-06-02 20:45] saires commented on #221
Os campos foram adequados para respeitar o tamanho utilizado no banco de dados. O caso de uso utiliza o tamanho 10 tanto para o campo Seção. O campo Número não existe na documentação, pois se trata da parte do requisito que foi mal elaborado na época com relação a MRJ.

Mônica,
alterar a valor desse campo no UC07.

[2015-06-03 11:10] jmatil commented on #220
Sistema normalizado

[2015-06-03 11:10] #220 closed, assigned to jmatil

[2015-06-03 11:12] jmatil commented on #219
Correção confirmada para a ação relatada acima

[2015-06-03 11:12] #219 closed, assigned to jmatil

[2015-06-03 11:19] jmatil commented on #217
Correção confirmada

[2015-06-03 11:19] #217 closed, assigned to jmatil

[2015-06-03 11:23] jmatil commented on #216
Verificar a mesma ação para a funcionalidade "Quantidade por local de votação - Administrador de Prédio"

![1](https://cloud.githubusercontent.com/assets/6584772/7958860/d7a4e9e4-09c9-11e5-9e0f-27a2e5bc2adb.png)

[2015-06-03 11:24] jmatil commented on #214
Alteração confirmada

[2015-06-03 11:24] #214 closed, assigned to jmatil

[2015-06-03 11:31] jmatil commented on #198
Alteração confirmada

[2015-06-03 11:31] #198 closed, assigned to jmatil

[2015-06-03 11:37] jmatil commented on #207
Correção confirmada

[2015-06-03 11:37] #207 closed, assigned to jmatil

[2015-06-03 11:40] jmatil opened #222 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Pesquisa Geral"
O sistema não está trazendo todos os resultados ao ser acionado a opção de pesquisa sem informar parâmetros para pesquisa. Está vinculado somente ao município de "São Mateus"

![1](https://cloud.githubusercontent.com/assets/6584772/7959081/37c3052a-09cc-11e5-8acc-5a952a785af6.png)

[2015-06-03 11:49] jmatil commented on #205
Ação confirmada

[2015-06-03 11:49] #205 closed, assigned to jmatil

[2015-06-03 13:41] monicaleite commented on #221
Jailson,

Esse campo foi implementado sem que tenha sido levantando com o cliente como deveria ser mudado na documentação, para termos alguma referência para embasar a alteração.

Criei a RAP010 e referenciei no fluxo básico passo FB1.3.

[2015-06-03 14:29] jmatil opened #223 "CDU_SCM_037_Consultar Pleito Eleitoral - Mensagem de Alerta"
Verificar a mensagem de alerta que está sendo emitida ao fundo da imagem, pois nas primeiras entregas, esta mensagem não estava sendo emitida.

![1](https://cloud.githubusercontent.com/assets/6584772/7962448/d01c0b52-09e3-11e5-83c5-2bf5a399a82f.png)

[2015-06-03 14:42] saires commented on #216
Validar a correção para a função administrador de prédio.

[2015-06-03 17:14] jmatil opened #224 "CDU_SCM_037_Consultar Pleito Eleitoral - Perfis"
Preciso de perfis de acesso para simular os itens conforme exigido na documentação para este e outros casos de uso.

![1](https://cloud.githubusercontent.com/assets/6584772/7966466/9ecb5a50-09fa-11e5-8770-93dc10aa5d59.png)

[2015-06-03 17:30] jmatil opened #225 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Gerênciar Configuração de Função Especial"
Verificar a possibilidade de execução deste caso de uso para o perfil TRE, pois o comportamento está relatado na imagem abaixo:

![1](https://cloud.githubusercontent.com/assets/6584772/7966842/0922b360-09fd-11e5-8178-65a1bedb621a.png)

[2015-06-03 19:11] saires commented on #224
Mônica, as funcionalidades Gerenciar funções especiais (UC04) e Gerenciar configuração de mesa receptora de votos (UC02) não utilizam os perfis TSE e CGE. Acho que essa opção de consulta 'C' pode ser removida das colunas TSE e CGE da regra de negócio.

[2015-06-03 19:16] saires commented on #225
A opção de salvar não está mais disponível para o perfil TRE. Os campos não estão mais editáveis.

[2015-06-03 19:52] jmatil opened #226 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Suplente"
Verificar a situação do sistema, pois está acusando que há um eleitor na situação de suplente, mas não consta essa função cadastrada na mesa.
É possível visualizar essa atribuição através do caso de uso 41. Mesa MRJ

![1](https://cloud.githubusercontent.com/assets/6584772/7969937/d22bea2a-0a10-11e5-869c-3e0b49b5c57b.png)

[2015-06-05 13:27] jmatil opened #227 "CDU SCM 003 Gerenciar Configuração de Mesa Receptora de Justificativa - Referência à perfis"
Não foi encontrado a opção de referência à consulta a configuração da MRJ na regra de negócio. Essa ação deverá ser disponibilizada no sistema para o perfil TRE?
Obs.:
1) RN81. Matriz Perfil X Funcionalidade;
2) É citado no caso de uso a utilização do perfil TRE.

![1](https://cloud.githubusercontent.com/assets/6584772/8006813/702262e2-0b6d-11e5-8b8a-cf0fcc48da4d.png)

[2015-06-05 16:03] saires commented on #223
Por questões técnicas dos componentes utilizados para a construção do sistema, a mensagem ficará apenas no fundo, não ficando mais na pop-up. Para que a pop-up não fique em cima da mensagem, a mesma foi reposicionada na tela. Essa mudança ocorreu também para as pop-up de pesquisa de município e local de votação.

[2015-06-05 16:59] jmatil opened #228 "CDU_SCM_007_Atribuir Funcao Eleitoral a Mesario - Pesquisa pelo Número"
Ao realizar a pesquisa com um parâmetro específico para a MRJ, o sistema não trouxe resultado favorável sendo que existe este número para o município de JAGUARÉ.

![1](https://cloud.githubusercontent.com/assets/6584772/8010941/0cc1a208-0b8b-11e5-9d87-c6573cf67836.png)

[2015-06-05 17:08] jmatil commented on #224
Confirmado a retirada de acesso de alguns perfis para algumas funcionalidades. Estaremos validando as funcionalidades para confirmarmos o que está disponibilizado na documentação atualizada

[2015-06-05 17:08] #224 closed, assigned to jmatil

[2015-06-05 17:11] jmatil commented on #191
correção confirmada

[2015-06-05 17:11] #191 closed, assigned to jmatil

[2015-06-05 17:12] jmatil commented on #216
Correção confirmada

[2015-06-05 17:12] #216 closed, assigned to jmatil

[2015-06-05 17:13] jmatil commented on #221
Adaptação confirmada

[2015-06-05 17:13] #221 closed, assigned to jmatil

[2015-06-05 17:14] jmatil commented on #223
Adaptação confirmada

[2015-06-05 17:14] #223 closed, assigned to jmatil

[2015-06-05 17:57] jmatil opened #229 "CDU SCM 003 Gerenciar Configuração de Mesa Receptora de Justificativa - RN 4"
Precisamos de auxílio para um melhor entendimento da Regra de nº 4 - Excluir MRV, MRJ e/ou Função Especial. Saber se há algo que deveria ou não ser implementado, pois poderá impactar em algo que foi solicitado ou não pelo cliente.

![1](https://cloud.githubusercontent.com/assets/6584772/8011860/f1e72b9e-0b92-11e5-9e6d-33babe14b22c.png)

[2015-06-05 18:28] kleiberfaria opened #230 "CDU_SCM_002_Gerenciar Configuração de Mesa MRV e MRJ - [Salvar "sem" funções pré-selecionadas]]"
Prezados,

Ao realizar o fluxo acionando o botão [Salvar] e sem ter realizado as funções eleitorais pré-selecionadas, a aplicação apresenta a mensagem [Operação realizada com sucesso.] porem ser ter realizado uma inclusão de configuração de MRV apenas acionando o botão "Salvar" conforme telas em anexos. Lembrando que vale também para MRJ.

![1](https://cloud.githubusercontent.com/assets/9218077/80

[2015-06-05 18:34] jmatil opened #231 "CDU_SCM_041_Gerenciar_Evento - Eleitores Atribuídos"
O sistema não está retornando o resultado com todos os eleitores com a situação "Atribuído" para a configuração de mesa tipo MRJ

ELEITORES ATRIBUÍDOS
![1](https://cloud.githubusercontent.com/assets/6584772/8012463/20006af4-0b98-11e5-9a95-222661cbb068.png)

PESQUISA NO CASO DE USO UTILIZANDO A MESA - MRJ
![1](https://cloud.githubusercontent.com/assets/6584772/8012486/5aced5b2-0b98-11e5-9402-b81e9e

[2015-06-05 19:24] saires commented on #230
Validar correção.

[2015-06-05 20:35] saires commented on #228
Gentileza validar correção.

[2015-06-05 20:36] saires commented on #222
Gentileza validar correção.

[2015-06-08 23:08] saires commented on #226
Foi verificado que se tratava de lixo na base. Verificar se algum registro permanecerá nessa situação após os testes.

[2015-06-08 23:09] saires commented on #231
Foi verificado que se tratava de lixo na base. Verificar se algum registro permanecerá nessa situação após os testes.

[2015-06-08 23:09] saires commented on #172
Os eventos de eleitores solicitados de outra zona devem aparecer na pesquisa de eventos. Gentileza validar correção.

[2015-06-08 23:10] saires commented on #171
Os eventos de eleitores solicitados de outra zona devem aparecer na pesquisa de eventos. Gentileza validar correção.

[2015-06-09 11:47] kleiberfaria opened #232 "CDU_SCM_002_Gerenciar Configuração de MRV - Excluir Config MRV"
Prezado,

Ao realizar um exclusão de uma Configuração de Mesa Receptora de Votos e voltar para o menu principal CONFIGURAR >> MRV  a aplicação permanece com a configuração sem deixar que realize a exclusão. Lembrando que vale também para MRJ.

![3](https://cloud.githubusercontent.com/assets/9218077/8057026/1d2d9588-0e84-11e5-893a-1e3124b24c64.png)

[2015-06-09 12:07] jmatil opened #233 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Valores Possíveis"
Verificar os valores possíveis para o campo destacado na imagem. Para a inclusão o sistema deverá exigir números maiores ou igual a 999 e para alteração valores menores que 9999.

![1](https://cloud.githubusercontent.com/assets/6584772/8057349/f6c0c52a-0e86-11e5-910c-5cc5fd905f89.png)

[2015-06-09 13:22] jmatil opened #234 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Limpar/Pesquisar"
Ao Consultar a configuração de função especial por Município (PERFIL TRE) [FA6] utilizando o filtro ADMINISTRADOR DE PRÉDIO, o sistema apresentou o resultado (Ação correta), mas ao acionar o botão "Limpar" o sistema executou a pesquisa geral de funções especiais.

![1](https://cloud.githubusercontent.com/assets/6584772/8058659/4fd331d4-0e91-11e5-97b2-90556ad5ba23.png)

[2015-06-09 13:28] jmatil opened #235 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Campo Editável ou não?"
Confirmar se a ação de edição destes itens são permitidos, pois há incompatibilidade entre documento e sistema.
Obs: Perfil= TRE

![1](https://cloud.githubusercontent.com/assets/6584772/8058771/301b5f46-0e92-11e5-9ac2-1fd71de68d1a.png)

[2015-06-09 13:34] jmatil opened #236 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Opção "Limpar""
Não foi possível realizar a ação de Limpeza de campos conforme relatado na documentação utilizando o perfil TRE

![1](https://cloud.githubusercontent.com/assets/6584772/8058898/ff6bd2f8-0e92-11e5-9f31-e0f74f33341f.png)

[2015-06-09 13:37] saires commented on #232
Nesse caso, uma eleitor está dispensado para o pleito "1º Turno" da zona 21. Esse fluxo não está levando em consideração a exclusão do evento (RN67). A exclusão não foi realizada, mas uma mensagem de sucesso foi apresentada. No lugar deveria ser uma mensagem informando essa situação ao usuário.

Isso deve ser tratado como uma melhoria.

![image](https://cloud.githubusercontent.com/assets/10027679/

[2015-06-09 13:51] jmatil opened #237 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Entendimento"
Há possibilidade de execução deste fluxo destacado na imagem para o fluxo alternativo 7 ?

![1](https://cloud.githubusercontent.com/assets/6584772/8059295/883fb17e-0e95-11e5-90b2-8fb20a49441e.png)

[2015-06-09 14:02] jmatil commented on #213
Lembrando que esta ação impacta na visualização do Fluxo Alternativo 7, pois alterações que não puderem ser feitas no perfil Zona impactaram na visualização quando ator utilizar o perfil TRE.

[2015-06-09 14:12] jmatil opened #238 "CDU_SCM_004_Gerenciar Configuracao de Funcao Especial - Mensagem de Alerta"
Haverá alguma tratamento ou mensagem de alerta ao usuário caso seja informado uma zona eleitoral incompatível com o município, ou permanecerá a que está na aplicação? "No records found."

![1](https://cloud.githubusercontent.com/assets/6584772/8059822/57d51076-0e98-11e5-84d6-041116c3c236.png)

[2015-06-09 14:34] jmatil opened #239 "SCM_CDU_003_Gerenciar Configuracao de Mesa Receptora de Justificativas - Voltar"
O botão está habilitado, mas não está executando nenhuma função para o perfil TRE

![1](https://cloud.githubusercontent.com/assets/6584772/8060401/69f42708-0e9b-11e5-97f9-7b04b279b0fd.png)

[2015-06-09 16:18] kleiberfaria commented on #232
No aguardo para a exclusão dos eleitores "dispensados" para a execução do script de teste.

[2015-06-09 16:46] kleiberfaria opened #240 "SCM_CDU_002_Gerenciar Configuracao de Mesa Receptora de Votos - Voltar"
O botão voltar não esta ativo. Verificar a funcionalidade do mesmo. Lembrando que ocorre também para o SCM_CDU_003_Gerenciar Configuracao de Mesa Receptora de Justificativas - Voltar.

![3](https://cloud.githubusercontent.com/assets/9218077/8063921/e10aa8aa-0ead-11e5-8a28-082fbe904291.png)

[2015-06-09 17:54] jmatil opened #241 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Local de Votação"
Verificar se o local de votação deverá permanecer ou não na aplicação, pois não está sendo citado na documentação.
Fluxo: FB1.5

![1](https://cloud.githubusercontent.com/assets/6584772/8065347/4f61525a-0eb7-11e5-8622-72c8c88866a0.png)

[2015-06-09 18:01] saires commented on #232
Kleiber, vamos seguir a regra deixando a aplicação excluir eventos do tipo "Dispensado". Esse evento só não será excluído se o Edital for gerado. Neste momento não temos como trabalhar com essa informação afirmativa, pois a mesma será tratada em iterações futuras. Portanto, qualquer eleitor, independentemente da sua situação será excluído, assim como todos os seus eventos.

[2015-06-09 18:07] jmatil opened #242 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Apresentação dos Itens"
O sistema deverá apresentar os itens (Inscrição e Pesquisar) após o ator selecionar (clicar) o item correspondente ou após realização da pesquisa.
Avaliar os passos: FB1.5 & FB1.6

![1](https://cloud.githubusercontent.com/assets/6584772/8065654/28ad85dc-0eb9-11e5-9021-e5373ce08e75.png)

[2015-06-09 18:37] jmatil commented on #222
Correção confirmada

[2015-06-09 18:37] #222 closed, assigned to jmatil

[2015-06-09 18:40] jmatil commented on #226
Situação normalizada até o momento

[2015-06-09 18:40] #226 closed, assigned to jmatil

[2015-06-09 18:42] jmatil commented on #225
Confirmado

[2015-06-09 18:42] #225 closed, assigned to jmatil

[2015-06-09 18:44] jmatil commented on #228
Ação validada

[2015-06-09 18:44] #228 closed, assigned to jmatil

[2015-06-09 18:46] jmatil commented on #231
correção confirmada

[2015-06-09 18:46] #231 closed, assigned to jmatil

[2015-06-09 19:13] saires commented on #235
Documentação alterada. Gentileza validar.

[2015-06-09 19:14] saires commented on #233
Documentação alterada. Gentileza validar as alterações.

[2015-06-09 19:22] saires commented on #237
Correção disponível a partir da versão 1.7 do caso de uso. Esses fluxo não são necessários no FA6 e no FA7.

[2015-06-09 19:27] saires commented on #229
A informação de "Edital Publicado" será tratado no UC13, em uma iteração futura. Não existem informações nos casos de uso existentes de como será tratado a "Carta de convocação" e "Carta de dispensa".  O sistema atualmente utiliza essas informações como falsas, ou seja, o edital e as cartas não foram gerados.

[2015-06-09 20:15] saires commented on #241
Validar correção. A coluna Local de Votação só deve ser exibida caso a função especial seja "Administrador de Prédio".

[2015-06-09 20:25] saires commented on #227
A regra 81 foi alterada. Foi inserida a funcionalidade "Gerenciar Configuração de Mesa Receptora de Justificativas” para os perfis Zona e TRE. Disponível na versão 1.67 das Regras de Negócio.

[2015-06-09 20:43] saires commented on #242
Validar correção. O campo e o botão só deverão aparecer após clicar no link com a funcionalidade ou o link de local de votação, caso a função seja Administrador de Prédio.

[2015-06-09 21:54] saires commented on #240
O botão voltar não será mais exibido nesse ponto. Ele será exibido após a seleção da opção Alterar.
A documentação foi corrigida quanto a isso. Observar a versão 1.10 do UC03.

[2015-06-09 21:55] saires commented on #239
O botão voltar não será mais exibido nesse ponto. Ele será exibido após a seleção da opção Alterar, apenas para o perfil Zona Eleitoral.
A documentação foi corrigida quanto a isso. Observar a versão 1.10 do UC03.

[2015-06-09 21:59] saires commented on #234
Validar a ação do botão limpar. Agora, ele limpa o campo "Função Especial" para o perfil TRE.

[2015-06-09 22:01] saires commented on #212
Não consegui simular esse erro. Gentileza tentar simular o bug novamente.

[2015-06-09 22:17] saires commented on #236
A documentação foi corrigida com a ação para o perfil TRE. Verificar a versão 1.8 do UC04.

[2015-06-09 22:19] saires commented on #238
A documentação foi alterada. Uma nova regra foi estabelecida para essa caixa de seleção. Gentileza observar a versão 1.8 do UC04.

[2015-06-10 11:18] jmatil commented on #233
Alteração confirmada

[2015-06-10 11:18] #233 closed, assigned to jmatil

[2015-06-10 11:34] jmatil commented on #236
Verifica a correção e adaptação.

[2015-06-10 11:34] #236 closed, assigned to jmatil

[2015-06-10 11:44] kleiberfaria opened #243 "SCM_CDU_002_Gerenciar Configuracao de Mesa Receptora de Votos - ODIN"
Ao clicar no botão MRV no menu do SCM a aplicação é direcionada para o ODIN.

![3](https://cloud.githubusercontent.com/assets/9218077/8081635/d1c6575a-0f4c-11e5-95ff-9f6d3830f4de.png)

[2015-06-10 11:44] jmatil commented on #235
Alteração confirmada

[2015-06-10 11:44] #235 closed, assigned to jmatil

[2015-06-10 11:54] jmatil commented on #242
Ação confirmada

[2015-06-10 11:54] #242 closed, assigned to jmatil

[2015-06-10 11:55] jmatil commented on #241
Adaptação confirmada

[2015-06-10 11:55] #241 closed, assigned to jmatil

[2015-06-10 12:05] jmatil commented on #237
Atualização confirmada

[2015-06-10 12:05] #237 closed, assigned to jmatil

[2015-06-10 12:12] jmatil commented on #227
Inclusão confirmada

[2015-06-10 12:12] #227 closed, assigned to jmatil

[2015-06-10 12:27] jmatil commented on #171
Correção validada

[2015-06-10 12:27] #171 closed, assigned to jmatil

[2015-06-10 12:30] jmatil commented on #172
Ação confirmada

[2015-06-10 12:30] #172 closed, assigned to jmatil

[2015-06-10 12:31] kleiberfaria commented on #240
Item verificado !

[2015-06-10 12:31] #240 closed, assigned to kleiberfaria

[2015-06-10 12:32] kleiberfaria commented on #230
A aplicação esta direcionando para o ODIN.

[2015-06-10 12:39] kleiberfaria commented on #211
Item verificado !

[2015-06-10 12:39] #211 closed, assigned to kleiberfaria

[2015-06-10 12:39] jmatil commented on #212
Verificar a ação com o número de inscrição do eleitor abaixo: 014406361457

![3](https://cloud.githubusercontent.com/assets/6584772/8082564/93f412e8-0f54-11e5-9029-37cbdb97d919.png)

[2015-06-10 12:40] kleiberfaria commented on #106
Ok Sávio, fecho esse Git conforme as informações.

[2015-06-10 12:40] #106 closed, assigned to kleiberfaria

[2015-06-10 12:41] kleiberfaria commented on #104
Item verificado !

[2015-06-10 12:53] jmatil opened #244 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Atribuição"
Verificar o impedimento para atribuir função especial a eleitor solicitado e autorizado pertencente a outra zona eleitoral.

![3](https://cloud.githubusercontent.com/assets/6584772/8082804/6c537ca4-0f56-11e5-8107-5f79589f0731.png)

[2015-06-10 13:04] jmatil opened #245 "CDU SCM 003 Gerenciar Configuração de Mesa Receptora de Justificativa - Exclusão"
Verificar se a possibilidade de exclusão da opção "atribuido" no caso de uso 41 - Gerenciar evento, impossibilita a exclusão do registro no caso de uso 003 - Gerenciar configuração de mesa receptora de justificativa.

CDU 041 - GERENCIAR EVENTO
![3](https://cloud.githubusercontent.com/assets/6584772/8082988/d537df48-0f57-11e5-8fd8-1946e8a5fc74.png)

CDU 003 - GERENCIAR CONFIGURAÇÃO DE MRJ
![4](htt

[2015-06-10 13:06] jmatil commented on #243
Ação impedi a execução inicial do CDU 041 - Gerenciar Eventos

[2015-06-10 14:22] saires commented on #243
Erro ocasionado pela exclusão dos eventos através do UC41, que deixou um registro órfão, sem eventos para o eleitor. O mesmo foi corrigido para que esse problema não volte a ocorrer.

[2015-06-10 17:15] jmatil opened #246 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - importação de dados de outra eleição"
Verificar a ação de importação de dados de outra eleição, pois o sistema está indicando que não existe eleitores atribuido, sendo que há eleitores atribuidos à funções em eleições anteriores.

![3](https://cloud.githubusercontent.com/assets/6584772/8088928/224c4ab2-0f7b-11e5-81b5-84ee66a46f45.png)

![4](https://cloud.githubusercontent.com/assets/6584772/8088934/2f2bd950-0f7b-11e5-88f3-1908e85eb70c

[2015-06-10 17:24] jmatil opened #247 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Resultado Duplicado"
Ao realizar a pesquisa utilizando o número de inscrição, o sistema está apresentando resultado duplicado

![5](https://cloud.githubusercontent.com/assets/6584772/8089136/570602a6-0f7c-11e5-8a88-4c35ed3a973b.png)

[2015-06-10 17:49] jmatil opened #248 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Mensagem"
Verificar a mensagem de emissão para um eleitor solicitado, mas que está aguardando autorização da zona de origem
Observação: A ação ocorre para os fluxos FE4 e FE5

![5](https://cloud.githubusercontent.com/assets/6584772/8089679/cd29c28a-0f7f-11e5-91a8-153f1625792a.png)

[2015-06-10 19:06] jmatil opened #249 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Atribuição Automática"
Verificar a ação de atribuição de eleitores automaticamente

![6](https://cloud.githubusercontent.com/assets/6584772/8091518/a46b1c9e-0f8a-11e5-83f8-6064ca4f7aa8.png)

[2015-06-10 19:30] jmatil opened #250 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Exclusão de Eleitores"
A execução da exclusão dos eleitores atribuídos deverá se de modo automático ou o ator deverá selecionar o eleitor de deseja excluir e logo após acionar a opção 'Salvar'?
![6](https://cloud.githubusercontent.com/assets/6584772/8092078/e72c0e0a-0f8d-11e5-898a-284baf9cb32e.png)

[2015-06-10 19:44] jmatil opened #251 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Apresentação"
Verificar a apresentação entre a interface da documentação ou o próprio sistema para os itens destacados na imagem. A apresentação deverá ser por siglas, palavras ou números?

![6](https://cloud.githubusercontent.com/assets/6584772/8092411/ed69c9e0-0f8f-11e5-9a5e-65868100987b.png)

[2015-06-10 19:51] jmatil opened #252 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Função Especial / Link"
Verificar se a documentação ou o sistema está em desacordo com o solicitado, pois a opção "Função Especial" está desativada contrariando a ação relatada na documentação.

![6](https://cloud.githubusercontent.com/assets/6584772/8092552/f39d35e4-0f90-11e5-82f2-2e4794e00b7e.png)

[2015-06-10 20:29] saires commented on #245
A exclusão de evento foi corrigida. Ela estava deixando registros órfão e isso estava ocasionando o erro relatado.

[2015-06-10 20:41] saires commented on #230
Esse problema foi ocasionado após a exclusão do evento ATRIBUIDO, que acabou deixando registro órfão na base. A funcionalidade de exclusão foi corrigida e esse problema não deve ocorrer mais.

[2015-06-11 00:49] saires commented on #250
Esse fluxo foi corrigido. Disponivel no UC39 versão 1.2

![image](https://cloud.githubusercontent.com/assets/10027679/8097591/73a7d61c-0fba-11e5-8c65-13a67f0c3fca.png)

[2015-06-11 03:55] saires commented on #252
A documentação foi alterada para esse fluxo 9.Esse link não devera aparecer caso uma função seja de administrador de prédio.

[2015-06-11 04:23] saires commented on #251
Campos corrigidos na documentação. versão 1.2

[2015-06-11 11:16] jmatil commented on #252
Confirmado a alteração

[2015-06-11 11:16] #252 closed, assigned to jmatil

[2015-06-11 11:23] jmatil commented on #251
confirmado a atualização

[2015-06-11 11:23] #251 closed, assigned to jmatil

[2015-06-11 11:28] jmatil opened #253 "CDU_SCM_039_Atribuir Funcao Especial ao Eleitor - Opção Salvar"
Mensagem emitida ao escolher o eleitor, acionar a opção de exclusão sem acionar o botão salvar

![39](https://cloud.githubusercontent.com/assets/6584772/8105952/d608eee6-1013-11e5-9a9a-1819370a8b4e.png)